[data-tabs],
[data-panes] {
  --color: #000; }

[data-tabs] {
  border-bottom: none;
  overflow-x: auto;
  display: flex;
  padding: 14px 16px; }
  [data-tabs] > [role="tab"] {
    all: unset;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    font-weight: 600;
    color: #808080;
    border: unset;
    outline: none;
    transition: 0.5s; }
    [data-tabs] > [role="tab"]:hover {
      cursor: pointer; }
    [data-tabs] > [role="tab"]:active {
      color: #00ffe8; }
    [data-tabs] > [role="tab"]:focus {
      border: unset; }
    [data-tabs] > [role="tab"][aria-selected="true"] {
      color: #00ffe8;
      cursor: unset; }
      [data-tabs] > [role="tab"][aria-selected="true"]:focus {
        border: unset;
      }

[data-panes]
  [data-panes] > * {
    padding-top: 1rem;
    font-weight: 600;
    outline: none; }
    [data-panes] > *:focus {
      border: unset; }
    @media screen and (max-width: 460px) {
      [data-panes] > * {
        padding: 1rem; } }