@model IEnumerable<ArisCorpWeb.Models.Biografien>

@{
    ViewData["Title"] = "Biografien: Übersicht";
    ViewData["BackC"] = "Home";
    ViewData["BackA"] = "Index";
    ViewData["BackF"] = "tabs";
}

    <a href="EXCURS"></a><!-- Nav Anchor -->
    <div class="row heading tiny-margin">
        <div class="col-md-auto">
            <h1 class="animation-element slide-down">Verse <span class="coloredaris">Biografien Übersicht</span></h1>
        </div>
        <div class="col">
            <hr class="animation-element extend">
        </div>
    </div>
    <div class="row medium-margin tab-manifesto">
        <div class="col-md-11">
            <div id="team" class="small-margin">
                <div class="row">
                    <div id="full-row" class="row text-center">
                        <div class="col-md-3 team-card">
                            <a id="figurelink" asp-action="Member" asp-route-id="Arkalanna_naDhiru">
                                <figure>
                                    <img src="/assets/img/member/Arkalanna.png" data-src="/assets/img/member/Arkalanna.png" class="img-fluid b-lazy b-error" alt="Potrait von Arkalanna naDhiru"
                                </figure>
                                <p class="team-name">Arkalanna naDhiru</p>
                                <p class="subtle">Mitglied</p>
                            </a>
                        </div>

                        <div class="col-md-3 team-card">
                            <a id="figurelink" asp-action="Member" asp-route-id="John_Blackwood">
                                <figure>
                                    <img src="/assets/img/member/John-Blackwood.webp" data-src="/assets/img/member/John-Blackwood.webp" class="img-fluid b-lazy b-error" alt="Potrait von Dr. Med. John Blackwood">
                                </figure>
                                <p class="team-name">Dr. Med. John Blackwood</p>
                                <p class="subtle">Mitglied</p>
                            </a>
                        </div>

                        <div class="col-md-3 team-card">
                            <a id="figurelink" asp-action="Member" asp-route-id="Decon_Melcom_Vorn">
                                <figure>
                                    <img src="/assets/img/member/Decon-M.-Vorn.webp" data-src="/assets/img/member/Decon-M.-Vorn.webp" class="img-fluid b-lazy b-error" alt="Potrait von Decon Melcom Vorn">
                                </figure>
                                <p class="team-name">Decon M. Vorn</p>
                                <p class="subtle">Mitglied</p>
                            </a>
                        </div>

                        <div class="col-md-3 team-card">
                            <a id="figurelink" asp-action="Member" asp-route-id="Aaron_Price">
                                <figure>
                                    <img src="/assets/img/member/Aaron-Price.webp" data-src="/assets/img/member/Aaron-Price.webp" class="img-fluid b-lazy b-error" alt="Potrait von Aaron Price">
                                </figure>
                                <p class="team-name">Aaron Price</p>
                                <p class="subtle">Mitglied</p>
                            </a>
                        </div>

                        <div class="col-md-3 team-card">
                            <a id="figurelink" asp-action="Member" asp-route-id="Icarus_Q">
                                <figure>
                                    <img src="/assets/img/member/Icarus_Q.webp" data-src="/assets/img/member/Icarus_Q.webp" class="img-fluid b-lazy b-error" alt="Potrait von IcarusQ">
                                </figure>
                                <p class="team-name">Icarus_Q</p>
                                <p class="subtle">Mitglied</p>
                            </a>
                        </div>

                        <div class="col-md-3 team-card">
                            <a id="figurelink" asp-action="Member" asp-route-id="Thomas_Blakeney">
                                <figure>
                                    <img src="/assets/img/member/Thomas-Blakeney.webp" data-src="/assets/img/member/Thomas-Blakeney.webp" class="img-fluid b-lazy b-error" alt="Potrait von Thomas Blakeney">
                                </figure>
                                <p class="team-name">Thomas Blakeney</p>
                                <p class="subtle">Mitglied</p>
                            </a>
                        </div>

                        <div class="col-md-3 team-card">
                            <a id="figurelink" asp-action="Member" asp-route-id="Will_James_Douglas">
                                <figure>
                                    <img src="/assets/img/member/Will-James-Douglas.webp" data-src="/assets/img/member/William-James-Douglas.webp" class="img-fluid b-lazy b-error" alt="Potrait von Will James Douglas">
                                </figure>
                                <p class="team-name">Will James Douglas / JD</p>
                                <p class="subtle">Mitglied</p>
                            </a>
                        </div>

                        <div class="col-md-3 team-card">
                            <a id="figurelink" asp-action="Member" asp-route-id="Kysharyh">
                                <figure>
                                    <img src="/assets/img/member/Kysharyh.webp" data-src="/assets/img/member/Kysharyh.webp" class="img-fluid b-lazy b-error" alt="Potrait von Kysharyh">
                                </figure>
                                <p class="team-name">Kysharyh</p>
                                <p class="subtle">Mitglied</p>
                            </a>
                        </div>

                        <div class="col-md-3 team-card">
                            <a id="figurelink" asp-action="Member" asp-route-id="Jabea">
                                <figure>
                                    <img src="/assets/img/member/Jabea.webp" data-src="/assets/img/member/Jabea.webp" class="img-fluid b-lazy" alt="Potrait von Jabea">
                                </figure>
                                <p class="team-name">Jabea</p>
                                <p class="subtle">Mitglied</p>
                            </a>
                        </div>

                        <div class="col-md-3 team-card">
                            <a id="figurelink" asp-action="Member" asp-route-id="David_Bowman">
                                <figure>
                                    <img src="/assets/img/member/David-Bowman.webp" data-src="/assets/img/member/David-Bowman.webp" class="img-fluid b-lazy" alt="Potrait von David Bowman">
                                </figure>
                                <p class="team-name">David Bowman</p>
                                <p class="subtle">Mitglied</p>
                            </a>
                        </div>

                        <div class="col-md-3 team-card">
                            <a id="figurelink" asp-action="Member" asp-route-id="Match_Maker">
                                <figure>
                                    <img src="/assets/img/member/Arkalanna.png" data-src="/assets/img/member/Arkalanna.png" class="img-fluid b-lazy" alt="Potrait von Match Maker">
                                </figure>
                                <p class="team-name">Match Maker</p>
                                <p class="subtle">Mitglied</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<style>
    #figurelink:hover {
        transition: 0.2s;
        filter: blur(2px);
    }
</style>