@{
    ViewData["Title"] = "Verse Exkurs: DISCLAIMER";
    ViewData["BackC"] = "Home";
    ViewData["BackA"] = "Index";
    ViewData["BackF"] = "";
}

<div id="EXCURS" class='large-margin' style="font-family: 'Nasa" ;>
    <a href="EXCURS"></a><!-- Nav Anchor -->
    <div class="row heading tiny-margin">
        <div class="col-md-auto">
            <h1 class="animation-element slide-down">Verse <span class="coloredaris">Excurs-Disclaimer</span></h1>
        </div>
        <div class="col">
            <hr class="animation-element extend">
        </div>
    </div>
    <img src="/assets/img/misc/maintanance.png" alt="Maintanance" width="20%" height="auto" style="float: right">
    <div class="row medium-margin tab-manifesto">
        <div class="col-md-11">
            <h2 class="short-hr-left">Der Verse Excurs ist aktuell im Aufbau!</h2>
            <div>

                <span>Der Verse Excurs ist eine riesige Datenbank mit allem was das Herz eines Citizen begehrt.</span>

                <br>
                <br>

                <span>Hier wirst du bald alles finden was Lore angeht! Egal ob du etwas über einzelne Systeme herausfinden möchtest, oder über die Geschichte von 2075 bis Heute, oder einfach über das Leben wie es im UEE.</span>

                <br>
                <br>

                <span>Eine vorab Version findest du</span> <a style="color: #E48632;" asp-area="" asp-controller="VerseExkurs" asp-action="Index">HIER</a>
            </div>
        </div>
    </div>

    <button type="button" class="button secondary" style="background-color: transparent; float: left;" data-dismiss="modal" onclick="location.href='@Url.Action("Index", "Home")'">
        <img class="img-gameplays" src="/assets/img/misc/svg/arrow-left.svg" alt="Back Arrow: Left">
    </button>
    <!-- #Include virtual="/include/header.inc" -->

</div>

<style>
    #footer {
        margin-top: -218px;
    }
</style>