@{
    ViewData["Title"] = "Verse Exkurs: Firmen";
    ViewData["BackC"] = "VerseExkurs";
    ViewData["BackA"] = "Index";
}

<div class="" style="border-top: none;">
    <div class="tab">
        <button class="tablinks" onclick="openExcurs(event, 'hersteller')"><h2 style="float: right; font-family: 'Nasa';" class="animation-element slide-down"><span class="coloredwhite" style="font-size: unset;">H</span>ERSTELLER</h2></button>
        <button class="tablinks" onclick="openExcurs(event, 'dienstleister')"><h2 style="float: right; font-family: 'Nasa';"><h2 style="float: right" class="animation-element slide-down"><span class="coloredwhite" style="font-size: unset;">D</span>IENSTLEISTER</h2></button>
        <button class="tablinks" onclick="openExcurs(event, 'shops')"><h2 style="float: right; font-family: 'Nasa';" class="animation-element slide-down"><span class="coloredwhite" style="font-size: unset;">S</span>HOPS</h2></button>
        <button class="tablinks" onclick="openExcurs(event, 'organisationen')"><h2 style="float: right; font-family: 'Nasa';"><h2 style="float: left"><span class="coloredwhite" style="font-size: unset;">O</span>RGANISATIONEN</h2></button>
        <button class="tablinks" onclick="openExcurs(event, 'verschiedenes')"><h2 style="float: right; font-family: 'Nasa';"><h2 style="float: left"><span class="coloredwhite" style="font-size: unset;">V</span>ERSCHIEDENES</h2></button>
    </div>

    <div id="hersteller" class="tabcontent">
        <div class="tab2">
            <button class="tablinks2" onclick="openHersteller(event, 'schiffe')"><h3 style="float: right; font-family: 'Nasa';">SCHIFFE</h3></button>
            <button class="tablinks2" onclick="openHersteller(event, 'komponenten')"><h3 style="float: right; font-family: 'Nasa';">KOMPONENTEN</h3></button>
            <button class="tablinks2" onclick="openHersteller(event, 'waffen')"><h3 style="float: right; font-family: 'Nasa';">WAFFEN</h3></button>
            <button class="tablinks2" onclick="openHersteller(event, 'personen-aurustung')"><h3 style="float: right; font-family: 'Nasa';">PERSONEN-AUSRÜSTUNG</h3></button>
        </div>

        <div id="schiffe" class="">
            <div class="row">
                <div class="column">
                    <a href="https://www.ariscorp.de/sites/exkurs/firmen/herrsteller/schiffe/Aegis_Dynamics.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/herrsteller/schiffe/Aegis_Dynamics-trans.png" alt="Aegis Dynamics" style="width:100%" onclick="myFunction(this);"></a>
                </div>
                <div class="column">
                    <a href="https://www.ariscorp.de/sites/exkurs/firmen/herrsteller/schiffe/Anvil_Aerospace.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/herrsteller/schiffe/Anvil_Aerospace.png" alt="Anvil Aerospace" style="width:100%" onclick="myFunction(this);"></a>
                </div>
                <div class="column">
                    <a href="https://www.ariscorp.de/sites/exkurs/firmen/herrsteller/schiffe/AopoA.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/herrsteller/schiffe/AopoA-white.png" alt="AopoA" style="width:100%" onclick="myFunction(this);"></a>
                </div>
                <div class="column">
                    <a href="https://www.ariscorp.de/sites/exkurs/firmen/herrsteller/schiffe/Argo_Astronautics.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/herrsteller/schiffe/Argo_Astronautics.png" alt="Argo Astronautics" style="width:100%" onclick="myFunction(this);"></a>
                </div>


                <div class="column">
                    <a href="https://www.ariscorp.de/sites/exkurs/aliens/Banu.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/herrsteller/schiffe/Banu.png" alt="Banu" style="width:100%" onclick="myFunction(this);"></a>
                </div>
                <div class="column">
                    <a href="https://www.ariscorp.de/sites/exkurs/firmen/herrsteller/schiffe/Consolidated_Outland.phpArcCorpherrsteller/schiffe/Consolidated_Outland.png" alt="Consolidated Outland" style="width:100%" onclick="myFunction(this);"></a>
                </div>
                <div class="column">
                    <a href="https://www.ariscorp.de/sites/exkurs/firmen/herrsteller/schiffe/Crusader_Industries.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/herrsteller/schiffe/Crusader_Industries.png" alt="Crusader Industries" style="width:100%" onclick="myFunction(this);"></a>
                </div>
                <div class="column">
                    <a href="https://www.ariscorp.de/sites/exkurs/firmen/herrsteller/schiffe/Drake_Interplanetary.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/herrsteller/schiffe/Drake_Interplanetery.png" alt="Drake Interplanetary" style="width:100%" onclick="myFunction(this);"></a>
                </div>


                <div class="column">
                    <a href="https://www.ariscorp.de/sites/exkurs/firmen/herrsteller/schiffe/Esperia.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/herrsteller/schiffe/Esperia-trans.png" alt="Esperia" style="width:100%" onclick="myFunction(this);"></a>
                </div>
                <div class="column">
                    <a href="https://www.ariscorp.de/sites/exkurs/firmen/herrsteller/schiffe/Greycat_Industrial.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/herrsteller/schiffe/Greycat_Industrial.png" alt="Greycat Industrial" style="width:100%" onclick="myFunction(this);"></a>
                </div>
                <div class="column">
                    <a href="https://www.ariscorp.de/sites/exkurs/firmen/herrsteller/schiffe/Kruger_Intergalactic.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/herrsteller/schiffe/Kruger_Intergalactic.png" alt="Kruger Intergalactic" style="width:100%" onclick="myFunction(this);"></a>
                </div>
                <div class="column">
                    <a href="https://www.ariscorp.de/sites/exkurs/firmen/herrsteller/schiffe/MISC.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/herrsteller/schiffe/MISC-Musashi_industrial_and_Starflight_concern.png" alt="MISC" style="width:100%" onclick="myFunction(this);"></a>
                </div>


                <div class="column">
                    <a href="https://www.ariscorp.de/sites/exkurs/firmen/herrsteller/schiffe/Origin_Jumpworks.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/herrsteller/schiffe/Origin_Jumpworks.png" alt="Origin Jumpworks" style="width:100%" onclick="myFunction(this);"></a>
                </div>
                <div class="column">
                    <a href="https://www.ariscorp.de/sites/exkurs/firmen/herrsteller/schiffe/RSI.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/herrsteller/schiffe/RobertsSpaceIndustries.png" alt="RSI" style="width:100%" onclick="myFunction(this);"></a>
                </div>
                <div class="column">
                    <a href="https://www.ariscorp.de/sites/exkurs/firmen/herrsteller/schiffe/Tumbril_Land_Systems.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/herrsteller/schiffe/Tumbril-white.png" alt="Tumbril" style="width:100%" onclick="myFunction(this);"></a>
                </div>
            </div>
            <br>
            <br>
            <br>
            <h1><span style="color: white;">C</span><span class="colored">LOSED</span></h1>
            <div class="row">

                <div class="column">
                    <a href="https://www.ariscorp.de/sites/exkurs/firmen/herrsteller/schiffe/Casse_Aerospace.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/herrsteller/schiffe/Casse_Aerospace.png" alt="Casse Aerospace" style="width:100%" onclick="myFunction(this);"></a>
                </div>
            </div>
        </div>

        <div id="komponenten" class="tabcontent2">
            <div class="row">
                <div class="column">
                    <a href="https://www.ariscorp.de/sites/exkurs/firmen/herrsteller/komponenten/Accelerated_Mass_Design.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/herrsteller/komponenten/AMD.png" alt="Aegis AMD" style="width:100%" onclick="myFunction(this);"></a>
                </div>
                <div class="column">
                    <a href="https://www.ariscorp.de/sites/exkurs/firmen/herrsteller/komponenten/ArcCorp.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/herrsteller/komponenten/ArcCorp.png" alt="ArcCorp" style="width:100%" onclick="myFunction(this);"></a>
                </div>
                <div class="column">
                    <a href="https://www.ariscorp.de/sites/exkurs/firmen/herrsteller/komponenten/Ascension_Astro.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/herrsteller/komponenten/Ascension_Astro-big.png" alt="Ascension_Astro" style="width:100%" onclick="myFunction(this);"></a>
                </div>
                <div class="column">
                    <a href="https://www.ariscorp.de/sites/exkurs/firmen/herrsteller/komponenten/GNP.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/herrsteller/komponenten/GNP.png" alt="GNP" style="width:100%" onclick="myFunction(this);"></a>
                </div>


                <div class="column">
                    <a href="https://www.ariscorp.de/sites/exkurs/herrsteller/komponenten/MicroTech.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/herrsteller/komponenten/MicroTech.png" alt="MicroTech" style="width:100%" onclick="myFunction(this);"></a>
                </div>
                <div class="column">
                    <a href="https://www.ariscorp.de/sites/exkurs/firmen/herrsteller/komponenten/Tarsus.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/herrsteller/komponenten/Tarsus.png" alt="Tarsus" style="width:100%" onclick="myFunction(this);"></a>
                </div>
                <div class="column">
                    <a href="https://www.ariscorp.de/sites/exkurs/firmen/herrsteller/komponenten/Willstop.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/herrsteller/komponenten/Willstop.png" alt="Willstop" style="width:100%" onclick="myFunction(this);"></a>
                </div>
                <div class="column">
                    <a href="https://www.ariscorp.de/sites/exkurs/firmen/herrsteller/komponenten/Yorm.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/herrsteller/komponenten/Yorm.png" alt="Yorm" style="width:100%" onclick="myFunction(this);"></a>
                </div>
            </div>
        </div>

        <div id="waffen" class="tabcontent2">
            <div class="row">
                <div class="column">
                    <a href="https://www.ariscorp.de/sites/exkurs/firmen/herrsteller/waffen/Apocalypse_Arms.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/herrsteller/waffen/Apocalypse_Arms.png" alt="Apocalypse_Arms" style="width:100%" onclick="myFunction(this);"></a>
                </div>
                <div class="column">
                    <a href="https://www.ariscorp.de/sites/exkurs/firmen/herrsteller/waffen/Basilisk.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/herrsteller/waffen/Basilisk.png" alt="Basilisk" style="width:100%" onclick="myFunction(this);"></a>
                </div>
                <div class="column">
                    <a href="https://www.ariscorp.de/sites/exkurs/firmen/herrsteller/waffen/Behring.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/herrsteller/waffen/Behring_Applied_Technology.png" alt="Behring_Applied_Technology" style="width:100%" onclick="myFunction(this);"></a>
                </div>
                <div class="column">
                    <a href="https://www.ariscorp.de/sites/exkurs/firmen/herrsteller/waffen/Hedeby_Gunworks.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/herrsteller/waffen/Hedeby_Gunworks.png" alt="Hedeby_Gunworks" style="width:100%" onclick="myFunction(this);"></a>
                </div>


                <div class="column">
                    <a href="https://www.ariscorp.de/sites/exkurs/firmen/herrsteller/waffen/Hurston_Dynamics.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/herrsteller/waffen/Hurston_Dynamics.png" alt="Hurston_Dynamics" style="width:100%" onclick="myFunction(this);"></a>
                </div>
                <div class="column">
                    <a href="https://www.ariscorp.de/sites/exkurs/firmen/herrsteller/waffen/Kastak_Arms.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/herrsteller/waffen/Kastak_Arms-white.png" alt="Kastak_Arms" style="width:100%" onclick="myFunction(this);"></a>
                </div>
                <div class="column">
                    <a href="https://www.ariscorp.de/sites/exkurs/firmen/herrsteller/waffen/Klaus_Und_Werner.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/herrsteller/waffen/Klaus_Und_Werner.png" alt="Klaus_Und_Werner" style="width:100%" onclick="myFunction(this);"></a>
                </div>
                <div class="column">
                    <a href="https://www.ariscorp.de/sites/exkurs/firmen/herrsteller/waffen/Kruger_Intergalactic.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/herrsteller/waffen/Kruger_Intergalactic.png" alt="Kruger_Intergalactic" style="width:100%" onclick="myFunction(this);"></a>
                </div>


                <div class="column">
                    <a href="https://www.ariscorp.de/sites/exkurs/firmen/herrsteller/waffen/MaxOx.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/herrsteller/waffen/MaxOx.png" alt="MaxOx" style="width:100%" onclick="myFunction(this);"></a>
                </div>
                <div class="column">
                    <a href="https://www.ariscorp.de/sites/exkurs/firmen/herrsteller/waffen/Talon_WS.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/herrsteller/waffen/Talon_WS.png" alt="Talon WS" style="width:100%" onclick="myFunction(this);"></a>
                </div>
            </div>
        </div>

        <div id="personen-aurustung" class="tabcontent2">
            <div class="row">
                <div class="column">
                    <a href="https://www.ariscorp.de/sites/exkurs/firmen/herrsteller/personen-ausruestung/Caldera.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/herrsteller/personen-ausruestung/Caldera.png" alt="Caldera" style="width:100%" onclick="myFunction(this);"></a>
                </div>
                <div class="column">
                    <a href="https://www.ariscorp.de/sites/exkurs/firmen/herrsteller/personen-ausruestung/Clark_Defense_Systems.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/herrsteller/personen-ausruestung/Clark_Defense_Systems.png" alt="Clark_Defense_Systems" style="width:100%" onclick="myFunction(this);"></a>
                </div>
                <div class="column">
                    <a href="https://www.ariscorp.de/sites/exkurs/firmen/herrsteller/personen-ausruestung/Doomsday.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/herrsteller/personen-ausruestung/Doomsday.png" alt="Doomsday" style="width:100%" onclick="myFunction(this);"></a>
                </div>
                <div class="column">
                    <a href="https://www.ariscorp.de/sites/exkurs/firmen/herrsteller/personen-ausruestung/Ultiflex.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/herrsteller/personen-ausruestung/Ultiflex.png" alt="Ultiflex" style="width:100%" onclick="myFunction(this);"></a>
                </div>


                <div class="column">
                    <a href="https://www.ariscorp.de/sites/exkurs/firmen/herrsteller/personen-ausruestung/Virgil.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/herrsteller/personen-ausruestung/Virgil.png" alt="Virgil" style="width:100%" onclick="myFunction(this);"></a>
                </div>
            </div>
        </div>
    </div>

    <div id="dienstleister" class="tabcontent">
        <div class="img-gameplays-line">
            <hr class="animation-element extend">
        </div>

        <div class="row">
            <div class="column">
                <a href="https://www.ariscorp.de/sites/exkurs/firmen/dienstleister/Covalex_Shipping.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/dienstleister/Covalex_Shipping.png" alt="Covalex_Shipping" style="width:100%" onclick="myFunction(this);"></a>
            </div>
            <div class="column">
                <a href="https://www.ariscorp.de/sites/exkurs/firmen/dienstleister/Rest__Relax.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/dienstleister/Rest__Relax.png" alt="Rest__Relax" style="width:100%" onclick="myFunction(this);"></a>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="column">
                <a href="https://www.ariscorp.de/sites/exkurs/firmen/dienstleister/Hangaranbieter_-_Selfland_Aeroview_Revel__York.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/dienstleister/Aeroview1.png" alt="Self-landAeroview_und_Revel__York" style="width:100%" onclick="myFunction(this);"></a>
            </div>
            <div class="column">
                <a href="https://www.ariscorp.de/sites/exkurs/firmen/dienstleister/Hangaranbieter_-_Selfland_Aeroview_Revel__York.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/dienstleister/Revel_York.png" alt="Self-landAeroview_und_Revel__York" style="width:100%" onclick="myFunction(this);"></a>
            </div>
            <div class="column">
                <a href="https://www.ariscorp.de/sites/exkurs/firmen/dienstleister/Hangaranbieter_-_Selfland_Aeroview_Revel__York.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/dienstleister/selfland.png" alt="Self-landAeroview_und_Revel__York" style="width:100%" onclick="myFunction(this);"></a>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="column">
                <a href="https://www.ariscorp.de/sites/exkurs/firmen/dienstleister/Spritanbieter_-_FuelPump_CryAstro_und_CTR.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/dienstleister/CryAstro.png" alt="CryAstro_FuelPump_und_CTR" style="width:100%" onclick="myFunction(this);"></a>
            </div>
            <div class="column">
                <a href="https://www.ariscorp.de/sites/exkurs/firmen/dienstleister/Spritanbieter_-_FuelPump_CryAstro_und_CTR.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/dienstleister/ctr.png" alt="CryAstro_FuelPump_und_CTR" style="width:100%" onclick="myFunction(this);"></a>
            </div>
            <div class="column">
                <a href="https://www.ariscorp.de/sites/exkurs/firmen/dienstleister/Spritanbieter_-_FuelPump_CryAstro_und_CTR.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/dienstleister/fuelpump.png" alt="CryAstro_FuelPump_und_CTR" style="width:100%" onclick="myFunction(this);"></a>
            </div>
        </div>
    </div>

    <div id="shops" class="tabcontent">
        <div class="img-gameplays-line">
            <hr class="animation-element extend">
        </div>

        <div class="row">
            <div class="column">
                <a href="https://www.ariscorp.de/sites/exkurs/firmen/shops/Casaba_Outlet.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/shops/Casaba_Outlet-white.png" alt="Self-Casaba_Outlet" style="width:100%" onclick="myFunction(this);"></a>
            </div>
            <div class="column">
                <a href="https://www.ariscorp.de/sites/exkurs/firmen/shops/Centermass.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/shops/centermass.png" alt="Centermass" style="width:100%" onclick="myFunction(this);"></a>
            </div>
            <div class="column">
                <a href="https://www.ariscorp.de/sites/exkurs/firmen/shops/Cubby_Blast.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/shops/Cubby_Blast.png" alt="Cubby_Blast" style="width:100%" onclick="myFunction(this);"></a>
            </div>
            <div class="column">
                <a href="https://www.ariscorp.de/sites/exkurs/firmen/shops/Dumpers_Depot.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/shops/Dumpers_Depot.png" alt="Cubby_Blast" style="width:100%" onclick="myFunction(this);"></a>
            </div>
        </div>
    </div>

    <div id="organisationen" class="tabcontent">
        <div class="img-gameplays-line">
            <hr class="animation-element extend">
        </div>

        <div class="row">
            <div class="column">
                <a href="https://www.ariscorp.de/sites/exkurs/firmen/organisationen/Ark.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/organisationen/Ark.webp" alt="Ark" style="width:100%" onclick="myFunction(this);"></a>
            </div>
            <div class="column">
                <a href="https://www.ariscorp.de/sites/exkurs/firmen/organisationen/Imperial_Cartography_Center_Logo.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/organisationen/Imperial_Cartography_Center_Logo.png" alt="Imperial_Cartography_Center_Logo" style="width:100%" onclick="myFunction(this);"></a>
            </div>
            <div class="column">
                <a href="https://www.ariscorp.de/sites/exkurs/firmen/organisationen/Rust_Society.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/organisationen/Rust_Society.png" alt="Rust Society" style="width:100%" onclick="myFunction(this);"></a>
            </div>
            <div class="column">
                <a href="https://www.ariscorp.de/sites/exkurs/firmen/organisationen/Trade_Development_Division.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/organisationen/Trade_Development_Division.png" alt="Trade_Development_Division" style="width:100%" onclick="myFunction(this);"></a>
            </div>
        </div>
    </div>

    <div id="verschiedenes" class="tabcontent">
        <div class="img-gameplays-line">
            <hr class="animation-element extend">
        </div>


        <div class="row">
            <div class="column">
                <a href="https://www.ariscorp.de/sites/exkurs/firmen/verschiedenes/BiotiCorp.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/verschiedenes/Bioticorp.png" alt="BiotiCorp" style="width:100%" onclick="myFunction(this);"></a>
            </div>
            <div class="column">
                <a href="https://www.ariscorp.de/sites/exkurs/firmen/verschiedenes/ChemlineSolutions.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/verschiedenes/Chemline_Solutions.png" alt="Chemline_Solutions" style="width:100%" onclick="myFunction(this);"></a>
            </div>
            <div class="column">
                <a href="https://www.ariscorp.de/sites/exkurs/firmen/verschiedenes/InterDimension_Software.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/verschiedenes/InterDimension_Software.png" alt="InterDimension_Software" style="width:100%" onclick="myFunction(this);"></a>
            </div>
            <div class="column">
                <a href="https://www.ariscorp.de/sites/exkurs/firmen/verschiedenes/Rayari_Inc.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/verschiedenes/Rayari_Inc.png" alt="Rayari_inc" style="width:100%" onclick="myFunction(this);"></a>
            </div>
            <div class="column">
                <a href="https://www.ariscorp.de/sites/exkurs/firmen/verschiedenes/Original_Systems.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/verschiedenes/OriginalSystems.png" alt="Original_Systems" style="width:100%" onclick="myFunction(this);"></a>
            </div>


            <div class="column">
                <a href="https://www.ariscorp.de/sites/exkurs/firmen/verschiedenes/Stor-All.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/verschiedenes/Stor-All.png" alt="Stor-All" style="width:100%" onclick="myFunction(this);"></a>
            </div>
            <div class="column">
                <a href="https://www.ariscorp.de/sites/exkurs/firmen/verschiedenes/Shubin_Interstellar.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/verschiedenes/Shubin_Interstellar.png" alt="Shubin_Interstellar" style="width:100%" onclick="myFunction(this);"></a>
            </div>
            <div class="column">
                <a href="https://www.ariscorp.de/sites/exkurs/firmen/verschiedenes/Terra_Mills.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/verschiedenes/Terra_Mills.png" alt="Terra_Mills" style="width:100%" onclick="myFunction(this);"></a>
            </div>
        </div>

        <br>
        <br>
        <br>

        <h1><span style="color: white;">C</span><span class="colored">LOSED</span></h1>

        <div class="row">
            <div class="column">
                <a href="https://www.ariscorp.de/sites/exkurs/firmen/dienstleister/Gold_Horizon.php" class="button-ships"><img src="https://www.ariscorp.de/assets/img/exkurs/logos/firmen/verschiedenes/Gold_Horizon-white.png" alt="Gold_Horizon" style="width:100%" onclick="myFunction(this);"></a>
            </div>
        </div>
    </div>
</div>
<div class="img-gameplays-line">
    <hr class="animation-element extend">
</div>
<script>
    function openExcurs(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
    document.getElementById("defaultOpen").click();
</script>

<script>
    function openHersteller(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent2");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks2");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active2", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active2";
    }
</script>



<style>
    /* The grid: Four equal columns that floats next to each other */
    .column {
        float: left;
        width: 25%;
    }

        /* Style the images inside the grid */
        .column img {
            opacity: 0.8;
            cursor: pointer;
        }

            .column img:hover {
                opacity: 1;
            }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>

<style>
    .tab2 button.active2 {
        color: #00FFE8;
    }

    .tab3 button.active3 {
        color: #00FFE8;
    }

    .tab4 button.active4 {
        color: #00FFE8;
    }



    .tabcontent2 {
        text-align: center;
        display: none;
        border: 1px solid transparent;
        border-top: none;
    }


    .tabcontent3 {
        text-align: center;
        display: none;
        border: 1px solid transparent;
        border-top: none;
    }



    .tabcontent4 {
        text-align: center;
        display: none;
        border: 1px solid transparent;
        border-top: none;
    }
</style>