@{
    ViewData["Title"] = "Verse Exkurs: DISCLAIMER";
    ViewData["Back"] = "Disclaimer";
}

<img src="/assets/img/excurs/util/ARISBannerVerseExkurs.webp" alt="ArisCorp-VerseExkurs Banner" id="exkursbanner"/>
<div class="img-gameplays-line">
    <hr class="animation-element extend">
</div>
<h2 style="font-family: 'Nasa'">Herzlich Willkommen beim Verse Exkurs der ARIS Corporation!</h2>
<br>
<span>Die ArisCorp hat es sich neben ihrem finanziellem Erfolg ebenfalls zur Aufgabe gemacht, das Wissen der Menschheit zu erweitern und das Unbekannte zu ergründen. Auch das Vermitteln  bestehendem Wissens ohne Komplikationen und Übersichtseinbußen ist für uns von immenser Bedeutung.</span>

<br>
<br>

<span>Aus diesem Grund haben wir den Verse Exkurs ins Leben gerufen. Wir haben eine deutschsprachige Quelle schaffen wollen, die für alle leicht übersichtlich ist. Hier können alle Bürgerinnen und Bürger die wichtigsten Informationen aus 930 Jahren Entwicklung und Geschehnissen nachlesen.</span>

<br>
<br>

<h3>Zu dieser Rubrik zählen:</h3>

<li>Unsere Zeittafel von den 2000er Jahren bis ins heutige Jahr 2951</li>
<br>

<li>Eine vollständige Übersicht des Lebens der Menschen im heutigen UEE</li>
<br>

<li>Informationen über sämtliche Firmen und Organisationen im Verse</li>
<br>

<li>Eine interaktive Karte des bekannten Weltraums mit Beschreibungen der Sternensysteme</li>
<br>

<li>Eine Übersicht zu allen bekannten außerirdischen Rassen, deren Kultur und Leben</li>
<br>

<li>Ein technischer Guide zu vielen Technologien, die im Verse Verwendung finden</li>
<br>

<br>
<br>

<h3>Zusätzlich arbeiten wir an weiteren Dingen wie:</h3>

<li>Einer Datenbank für Raumschiffe und Fahrzeuge</li>
<br>

<li>Einer Flugschule für Anfänger und Fortgeschrittene</li>
<br>

<li>Weitere ideen sind in der Konzeptphase</li>
<br>

<br>
<br>
<br>
<br>

<span>Sämtliche Inhalte des Verse Exkurses wurden aus Englischsprachigen Original Loreposts von RobertsSpaceIndustries.Com von unserem Team ins Deutsche übersetzt.</span>

<br>
<br>

<span>Als Referenz für unsere Inhalte geben wir folgende Quellen an:</span>

<br>
<br>
<br>
<br>

    <div class="quellenimg">
        <a target="_blank" href="https://robertsspaceindustries.com/starmap">
            <img src="/assets/img/excurs/util/Ark.webp" alt="ARK Starmap" class="decklinkimg">
        </a>

        <a target="_blank" href="https://robertsspaceindustries.com/galactapedia">
            <img src="/assets/img/excurs/util/galaktipedia.webp" alt="Glactapedia" class="decklinkimg">
        </a>

        <a target="_blank" href="https://robertsspaceindustries.com/comm-link">
            <img src="/assets/img/excurs/util/Comlink.webp" alt="Comlink" class="decklinkimg">
        </a>

        <a target="_blank" href="https://robertsspaceindustries.com/roadmap/release-view">
            <img src="/assets/img/excurs/util/Roadmap.webp" alt="Roadmap" class="decklinkimg">
        </a>
    </div>
<div class="img-gameplays-line">
    <hr class="animation-element extend">
</div>
<style>
    #exkursbanner {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        margin-bottom: -5.5rem;
    }
</style>