@{
    ViewData["Title"] = "Verse Exkurs: ARK-Starmap";
    ViewData["Back"] = "Index";
}

<div class="img-gameplays-line">
    <hr class="animation-element extend">
</div>

<h2 style="font-family: 'Nasa'; text-align: center;">Zur Systembeschreibung auf System klicken.</h2>

<img src="/assets/img/excurs/util/Starmap_Legende.webp" usemap="#image-map3">

<div style="margin-top: 1.2rem"></div>

<link rel="stylesheet" href="/assets/css/image-map-pro.min.css">
<div id="image-map-pro-container"></div>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/image-map-pro.min.js"></script>
<script src="/assets/js/starmap.js"></script>

<map name="image-map3">
    <area target="" alt="Xi'An" title="Xi'An" href="https://www.ariscorp.de/sites/excurs/aliens/XiAn.php" coords="337,148,300,148,372,61,407,64" shape="poly">
    <area target="" alt="Vanduul" title="Vanduul" href="https://www.ariscorp.de/sites/excurs/aliens/Vanduul.php" coords="450,61,410,63,342,147,376,146" shape="poly">
    <area target="" alt="Banu" title="Banu" href="https://www.ariscorp.de/sites/excurs/aliens/Banu.php" coords="488,62,451,63,386,142,420,142" shape="poly">
    <area target="" alt="UEE" title="UEE" href="#" coords="493,64,529,65,462,144,429,141" shape="poly" onclick="ueeRegTab()">
</map>

<div class="img-gameplays-line">
    <hr class="animation-element extend">
</div>

<div style="margin-bottom: 5rem"></div>