<div class="img-gameplays-line">
    <hr class="animation-element extend">
</div>

<div style="margin-top: 1.2rem"></div>

<link rel="stylesheet" href="/assets/css/image-map-pro.min.css">
<div id="image-map-pro-container"></div>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/image-map-pro.min.js"></script>
<script src="/assets/js/technologien.js"></script>

<div class="img-gameplays-line">
    <hr class="animation-element extend">
</div>

<div style="margin-bottom: 5rem"></div>