@model SystemeAPI

@{
    ViewData["Title"] = "System: " + Model.system_name;
    ViewData["BackAR"] = "VerseExkurs";
    ViewData["BackC"] = "Starmap";
    ViewData["BackA"] = "Index";
}
@addTagHelper *, Westwind.AspNetCore.Markdown

<div id="EXCURS" class='large-margin'>
    <a href="EXCURS"></a><!-- Nav Anchor -->
    <div class="row heading tiny-margin">
        <div class="col-md-auto">
            <h1 class="animation-element slide-down">SYSTEM: <span class="coloredaris">@Html.DisplayFor(model => model.system_name)</span></h1>
        </div>
        <div class="col">
            <hr class="animation-element extend">
        </div>
    </div>
    <div class="row medium-margin tab-manifesto">
        <div class="col-md-11">
            <img src="https://cms.ariscorp.de/assets/@Html.DisplayFor(model => model.banner)" alt="@Html.DisplayFor(model => model.system_name) Banner" />
            <h2 class="short-hr-left">Exkurs - System: @Html.DisplayFor(model => model.system_name)</h2>

            <markdown markdown="text" />
        </div>
    </div>


    <style>
        img {
            max-width: 100%
        }
    </style>
