@model ArisCorpWeb.ViewModels.BiografieViewModel

@{
    ViewData["Title"] = "Test";
}

<h2>@Model.Biografie.Member_Name</h2>

@foreach (MemberModel member in Model.Member_Liste)
            {
                <li>@member.Title </li>
            }