@{
    ViewData["Title"] = "Hersteller";
    ViewData["BackAR"] = "VerseExkurs";
    ViewData["BackC"] = "Home";
    ViewData["BackA"] = "Index";
}

<div class="img-gameplays-line">
    <hr class="animation-element extend">
</div>

