@{
    ViewData["Title"] = "Home";
    Layout = "/Views/Shared/_IdentityLayout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Willkommen</h1>
    <p>Hier ist der Mitgliederbereich der ArisCorp!</p>
</div>