@model AlienrassenAPI

@{
    ViewData["Title"] = "Alienrassen: " + Model.alienrasse;
    ViewData["BackAR"] = "VerseExkurs";
    ViewData["BackC"] = "Home";
    ViewData["BackA"] = "Index";
}
@addTagHelper *, Westwind.AspNetCore.Markdown

<div id="EXCURS" class='large-margin'>
    <a href="EXCURS"></a><!-- Nav Anchor -->
    <div class="row heading tiny-margin">
        <div class="col-md-auto">
            <h1 class="animation-element slide-down">ALIENRASSE: <span class="coloredaris">@Html.DisplayFor(model => model.alienrasse)</span></h1>
        </div>
        <div class="col">
            <hr class="animation-element extend">
        </div>
    </div>
    <div class="row medium-margin tab-manifesto">
        <div class="col-md-11">
            <img src="https://cms.ariscorp.de/assets/@Html.DisplayFor(model => model.banner)" alt="@Html.DisplayFor(model => model.alienrasse) Banner" width="100%" />
            <h2 class="short-hr-left">Exkurs - Alienrasse: @Html.DisplayFor(model => model.alienrasse)</h2>

            <markdown markdown="text" />
        </div>
    </div>
</div>
<style>
    .diplomatie-rasse {
        font-style: oblique;
        width: 115px;
    }

    @@font-face {
        font-family: 'Banu-reg';
        src: url('/assets/fonts/Banu-Regular.otf');
    }

    @@font-face {
        font-family: 'XiAn-reg';
        src: url('/assets/fonts/xiinthlea-Regular.otf');
    }

    img {
        max-width: 100%;
    }

    button {
        color: #E48632;
        font-family: nasa;
    }

        button:hover {
            color: #00FFE8
        }
</style>
<script>
    $(document).ready(function () {
        $("button").click(function () {
            $("body").toggleClass("@Html.DisplayFor(model => model.alienrasse)");
        });
    });
</script>