@{
    ViewData["Title"] = "VerseExkurs DB-EDIT";
}
<h1>Wähle bitte aus welche Kategorie du bearbeiten willst.</h1>
<br />
<br />
<br />
<br />
<li><a asp-controller="Alienrassen" asp-action="Index">Alienrassen</a></li>
<br />
<li><a asp-controller="Biografien" asp-action="List">Biografien</a></li>
<br />
<li><a asp-controller="Systeme" asp-action="Index">Systeme</a></li>
<br />
<li><a asp-controller="Technologien" asp-action="Index">Technologien</a></li>
<br />
<li><a asp-controller="Firmen" asp-action="Index">Firmen - Aktuell noch nicht verfügbar</a></li>
<br />
<li><a asp-controller="HomeDB" asp-action="Index">Homepage</a></li>
