@model ArisCorpWeb.Models.Alienrassen

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

<h1>Edit</h1>

<h4>Alienrasse</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Rasse" class="control-label"></label>
                <input asp-for="Rasse" class="form-control" />
                <span asp-validation-for="Rasse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PictureEinleitung" class="control-label"></label>
                <input asp-for="PictureEinleitung" class="form-control" />
                <span asp-validation-for="PictureEinleitung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PictureGeschichte" class="control-label"></label>
                <input asp-for="PictureGeschichte" class="form-control" />
                <span asp-validation-for="PictureGeschichte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PictureHeimatwelt" class="control-label"></label>
                <input asp-for="PictureHeimatwelt" class="form-control" />
                <span asp-validation-for="PictureHeimatwelt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PicturePolitik" class="control-label"></label>
                <input asp-for="PicturePolitik" class="form-control" />
                <span asp-validation-for="PicturePolitik" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PictureDiplomatie" class="control-label"></label>
                <input asp-for="PictureDiplomatie" class="form-control" />
                <span asp-validation-for="PictureDiplomatie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PictureSprache" class="control-label"></label>
                <input asp-for="PictureSprache" class="form-control" />
                <span asp-validation-for="PictureSprache" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PictureReligion" class="control-label"></label>
                <input asp-for="PictureReligion" class="form-control" />
                <span asp-validation-for="PictureReligion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PictureMilitar" class="control-label"></label>
                <input asp-for="PictureMilitar" class="form-control" />
                <span asp-validation-for="PictureMilitar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PictureKriminalitat" class="control-label"></label>
                <input asp-for="PictureKriminalitat" class="form-control" />
                <span asp-validation-for="PictureKriminalitat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PictureKultur" class="control-label"></label>
                <input asp-for="PictureKultur" class="form-control" />
                <span asp-validation-for="PictureKultur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PictureBesuch" class="control-label"></label>
                <input asp-for="PictureBesuch" class="form-control" />
                <span asp-validation-for="PictureBesuch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PictureSicherheit" class="control-label"></label>
                <input asp-for="PictureSicherheit" class="form-control" />
                <span asp-validation-for="PictureSicherheit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Einleitung" class="control-label"></label>
                <input asp-for="Einleitung" class="form-control" />
                <span asp-validation-for="Einleitung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Geschichte" class="control-label"></label>
                <input asp-for="Geschichte" class="form-control" />
                <span asp-validation-for="Geschichte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Heimatwelt" class="control-label"></label>
                <input asp-for="Heimatwelt" class="form-control" />
                <span asp-validation-for="Heimatwelt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Politik" class="control-label"></label>
                <input asp-for="Politik" class="form-control" />
                <span asp-validation-for="Politik" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diplomatie" class="control-label"></label>
                <input asp-for="Diplomatie" class="form-control" />
                <span asp-validation-for="Diplomatie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sprache" class="control-label"></label>
                <input asp-for="Sprache" class="form-control" />
                <span asp-validation-for="Sprache" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Religion" class="control-label"></label>
                <input asp-for="Religion" class="form-control" />
                <span asp-validation-for="Religion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Militar" class="control-label"></label>
                <input asp-for="Militar" class="form-control" />
                <span asp-validation-for="Militar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kriminalitat" class="control-label"></label>
                <input asp-for="Kriminalitat" class="form-control" />
                <span asp-validation-for="Kriminalitat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kultur" class="control-label"></label>
                <input asp-for="Kultur" class="form-control" />
                <span asp-validation-for="Kultur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Besuch" class="control-label"></label>
                <input asp-for="Besuch" class="form-control" />
                <span asp-validation-for="Besuch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sicherheit" class="control-label"></label>
                <input asp-for="Sicherheit" class="form-control" />
                <span asp-validation-for="Sicherheit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Einleitung" class="control-label"></label>
                <input asp-for="Einleitung" class="form-control" />
                <span asp-validation-for="Einleitung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Geschichte" class="control-label"></label>
                <input asp-for="Geschichte" class="form-control" />
                <span asp-validation-for="Geschichte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Heimatwelt" class="control-label"></label>
                <input asp-for="Heimatwelt" class="form-control" />
                <span asp-validation-for="Heimatwelt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Politik" class="control-label"></label>
                <input asp-for="Politik" class="form-control" />
                <span asp-validation-for="Politik" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diplomatie" class="control-label"></label>
                <input asp-for="Diplomatie" class="form-control" />
                <span asp-validation-for="Diplomatie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sprache" class="control-label"></label>
                <input asp-for="Sprache" class="form-control" />
                <span asp-validation-for="Sprache" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Religion" class="control-label"></label>
                <input asp-for="Religion" class="form-control" />
                <span asp-validation-for="Religion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Militar" class="control-label"></label>
                <input asp-for="Militar" class="form-control" />
                <span asp-validation-for="Militar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kriminalitat" class="control-label"></label>
                <input asp-for="Kriminalitat" class="form-control" />
                <span asp-validation-for="Kriminalitat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kultur" class="control-label"></label>
                <input asp-for="Kultur" class="form-control" />
                <span asp-validation-for="Kultur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Besuch" class="control-label"></label>
                <input asp-for="Besuch" class="form-control" />
                <span asp-validation-for="Besuch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sicherheit" class="control-label"></label>
                <input asp-for="Sicherheit" class="form-control" />
                <span asp-validation-for="Sicherheit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
