@model ArisCorpWeb.Models.Biografien

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

<h1>Edit</h1>

<h4>Biografien</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Mitglied" class="control-label"></label>
                <input asp-for="Mitglied" class="form-control" />
                <span asp-validation-for="Mitglied" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Titel" class="control-label"></label>
                <input asp-for="Titel" class="form-control" />
                <span asp-validation-for="Titel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Picture" class="control-label"></label>
                <input asp-for="Picture" class="form-control" />
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content1" class="control-label"></label>
                <input asp-for="Content1" class="form-control" />
                <span asp-validation-for="Content1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content2" class="control-label"></label>
                <input asp-for="Content2" class="form-control" />
                <span asp-validation-for="Content2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content3" class="control-label"></label>
                <input asp-for="Content3" class="form-control" />
                <span asp-validation-for="Content3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content4" class="control-label"></label>
                <input asp-for="Content4" class="form-control" />
                <span asp-validation-for="Content4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
