@model IEnumerable<MemberAPI>

@{
    ViewData["Title"] = "Biografien: Übersicht";
    ViewData["BackC"] = "Home";
    ViewData["BackA"] = "Index";
    ViewData["BackF"] = "tabs";
}

<a href="EXCURS"></a><!-- Nav Anchor -->
<div class="large-margin"></div>
<div class="row heading tiny-margin">
    <div class="col-md-auto">
        <h1 class="animation-element slide-down">BIOGRAFIEN <span class="coloredaris">ÜBERSICHT</span></h1>
    </div>
    <div class="col">
        <hr class="animation-element extend">
    </div>
</div>
<div class="row medium-margin">
    <div class="col-md-11">
        <div id="team" class="small-margin">
            <div class="row">
                <div id="full-row" class="row text-center">
                    @foreach (var api in Model)
                    {
                        <div class="col-md-3 team-card">
                            <a id="figurelink" asp-action="Member" asp-route-id="@Html.DisplayFor(modelItem => api.member_name)">
                                <figure>
                                    <img src="https://cms.ariscorp.de/assets/@Html.DisplayFor(model => api.member_potrait)" class="img-fluid b-lazy" alt="Potrait von @Html.DisplayFor(modelItem => api.member_titel)">
                                </figure>
                                <p class="team-name">@Html.DisplayFor(modelItem => api.member_titel)</p>
                                <p class="subtle">Mitglied</p>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    #figurelink:hover > img {
        filter: blur(2px);
    }
    img {
        transition: 0.2s;
    }
    a {
        color: white;
    }
    a:visited
    {
        color: white;
    }
    a:hover {
        color: white;
    }
</style>