@model BiografienAPI

@{
    ViewData["Title"] = "Biografie: " + Model.titel;
    ViewData["BackC"] = "Home";
    ViewData["BackA"] = "Index";
    ViewData["BackF"] = "tabs";
}
@addTagHelper *, Westwind.AspNetCore.Markdown
<div class="large-margin"></div>
<div id="bio" class='large-margin'>
    <div class="row heading tiny-margin">
        <div class="col-md-auto">
            <h1 class="animation-element slide-down">BIOGRAFIE: <span class="coloredaris"> @Html.DisplayFor(model => model.titel)</span></h1>
        </div>
        <div class="col">
            <hr class="animation-element extend">
        </div>
    </div>
    <div class="row medium-margin">
        <div class="col-md-11">
            <h2 class="short-hr-left">Bio von  @Html.DisplayFor(model => model.titel)</h2>
            <img src="https://cms.ariscorp.de/assets/@Html.DisplayFor(model => model.potrait)" class="img-fluid b-lazy" alt="Potrait von @Html.DisplayFor(model => model.titel)" style="float: right;">
            <div style="font-size: 90%"><markdown markdown="steckbrief" /></div>

            <br />
            <br />
            <markdown markdown="bio" />
        </div>
    </div>
</div>