@model IEnumerable<TechnologieAPI>

@{
    ViewData["Title"] = "Technologie: ";
    ViewData["BackAR"] = "VerseExkurs";
    ViewData["BackC"] = "Home";
    ViewData["BackA"] = "Index";
}

@addTagHelper *, Westwind.AspNetCore.Markdown
@foreach (var api in Model)
{
    <div id="EXCURS" class='large-margin'>
        <a href="EXCURS"></a><!-- Nav Anchor -->
        <div class="row heading tiny-margin">
            <div class="col-md-auto">
                <h1 class="animation-element slide-down">TECHNOLOGIE: <span class="coloredaris">@api.technologie_name</span></h1>
            </div>
            <div class="col">
                <hr class="animation-element extend">
            </div>
        </div>
        <div class="row medium-margin tab-manifesto">
            <div class="col-md-11">
                <img src="https://cms.ariscorp.de/assets/@Html.Raw(api.technologie_banner)" alt="Banner" />
                <h2 class="short-hr-left">Exkurs - Technologie: @api.technologie_name</h2>

                <markdown markdown="@api.technologie_text" />
            </div>
        </div>
    </div>
}


<style>
    img {
        max-width: 100%
    }
</style>