 <!-- /// FOOTER /// -->
    <footer id="main-footer">
        <div id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12" id="disclaimer" style="padding-top: 60px; margin-top: -60px;">
                        <h2 style="font-family: 'Nasa'; float: left;">// Disclaimer</h2> <div class="tabinator">
                            <label id="desvg" for="tab1" style="float: left; margin-left: 10px;">
                                <!-- de flag svg -->
                            </label>
                            <label id="ensvg" for="tab2" style="margin-left: 5px;">
                                <!-- en flag svg -->
                            </label> <br> <br>
                            <div class="tabinator">
                                <input type="radio" id="tab1" name="tabs" checked>
                                <input type="radio" id="tab2" name="tabs">
                                <div id="content1">
                                    <p>
                                        <span style="font-style: italic;">"Diese Website wird nicht von oder der Unternehmensgruppe Cloud Imperium oder Roberts Space Industries geführt.  Alle Spielinhalte und -materialien sind copyright Cloud Imperium Rights LLC und Cloud Imperium Rights Ltd.  Star Citizen®, Squadron 42®, Roberts Space Industries® und Cloud Imperium® sind eingetragene Marken von Cloud Imperium Rights LLC.  Alle Rechte vorbehalten."</span>
                                    </p>
                                </div>
                                <div id="content2">
                                    <p>
                                        <span style="font-style: italic;">“This is an unofficial Star Citizen fansite, not affiliated with the Cloud Imperium group of companies. All content on this site not authored by its host or users are property of their respective owners. Star Citizen®, Roberts Space Industries® and Cloud Imperium ® are registered trademarks of Cloud Imperium Rights LLC"</span>
                                    </p>
                                </div>
                            </div>

                            <a id="cigsvg" href="https://cloudimperiumgames.com" style="background-image: none; visibility: visible; fill: #FFF; float: right; margin-right: 10px; box-sizing: inherit;">
                                <!-- cig svg -->
                            </a>
                            <a id="rsisvg" href="https://robertsspaceindustries.com/" target="_blank" style="background-image: none; visibility: visible; fill: #FFF; float: right; margin-right: 10px; box-sizing: inherit;">
                                <!-- rsi svg -->
                            </a>
                            <a id="sq42svg" href="https://robertsspaceindustries.com/squadron42" target="_blank" style="background-image: none; visibility: visible; fill: #FFF; float: right; margin-right: 10px; box-sizing: inherit;">
                                <!-- sq42 svg -->
                            </a>
                            <p id="copyright">
                                &copy; @DateTime.Now.Year ArisCorp - <a href="/Credits" style="color: #F39C12;">Credits</a>
                            </p><!-- Copyright Text -->
                            <a id="scsvg" href="https://robertsspaceindustries.com/star-citizen" target="_blank" style="background-image: none; visibility: visible; fill: #FFF; float: right; margin-right: 10px; margin-bottom: 10px; box-sizing: inherit;">
                                <!-- sc svg -->
                            </a>
                        </div>
                    </div>
                </div><!-- Container End -->
            </div>
        </div>
    </footer><!-- Footer End -->

    <style>
        .tabinator input {
            display: none;
        }

        gin-left: -1px;
        .tabinator label:before {
            display: block;
        }

        .tabinator label:hover {
            cursor: pointer;
        }

        .tabinator input:checked + label {
            position: relative;
        }

            .tabinator input:checked + label:after {
                display: block;
                content: '';
                position: absolute;
            }

        #content1, #content2, #content3, #content4 {
            display: none;
        }

        #tab1:checked ~ #content1,
        #tab2:checked ~ #content2,
        #tab3:checked ~ #content3,
        #tab4:checked ~ #content4 {
            display: block;
        }
    </style>

<script>
    $(document).ready(function (e) {
        $('#desvg').load('https://cms.ariscorp.de/assets/0ef79d6d-4078-4d1c-aa13-11af43fc51fe');
    });
    $(document).ready(function (e) {
        $('#ensvg').load('https://cms.ariscorp.de/assets/43ff5cff-813a-41b3-aa0f-41ae5bd934b3');
    });

    $(document).ready(function (e) {
        $('#scsvg').load('https://cms.ariscorp.de/assets/54f9ad89-43eb-4362-80fa-61855ff3f010');
    });
    $(document).ready(function (e) {
        $('#sq42svg').load('https://cms.ariscorp.de/assets/c8798c19-0774-421f-abd2-e3d4854d89a0');
    });
    $(document).ready(function (e) {
        $('#rsisvg').load('https://cms.ariscorp.de/assets/fe235cf4-26f1-4c3d-9110-c1494644bf12');
    });
    $(document).ready(function (e) {
        $('#cigsvg').load('https://cms.ariscorp.de/assets/5ff1e8f3-e949-4c6b-ac68-f52de5c04d72');
    });
</script>