<!-- //// HEADER //// -->
<header id="main-header">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
        <div class="container">
            <!-- Site Logo -->
            <a id="logo" target="_blank" class="navbar-brand" href="https://robertsspaceindustries.com/orgs/ARISCORP"><img class="img-fluid" src="~/assets/img/misc/aris-logo.webp" alt="ArisCorp Logo"></a>
