<!DOCTYPE html>
<html lang="de">
    <head>
        <!-- META TAGS -->
        <meta charset="utf-8">
        <meta name="author" content="Thomas Blakeney / Blizii">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- WEBSITE TITLE & DESCRIPTION -->
        <title>@ViewData["Title"] - Astro Research and Service Industrial Corporation</title>
        <meta name="description" content="@ViewData["Title"]">
        <meta name="keywords" content="sc, starcitizen, organisation, orga, aris, ariscorp, sc-orga">

        <!-- OG meta tags that improve the look of your post on social media -->
        <meta property="og:site" content="" /> <!--website link-->
        <meta property="og:title" content="ARISCORP" /> <!--Post title-->
        <meta property="og:description" content="ASTRO RESEARCH AND INDUSTRIAL SERVICE CORP." /> <!--Post description-->
        <meta property="og:image" content="" /><!-- Image link (jpg only)-->
        <meta property="og:url" content="" /> <!--where do you want your post to link to-->
        <meta property="og:type" content="article" />

        <!-- Favicon and Apple Icons -->
        <link rel="icon" type="image/png" sizes="175x175" href="~/assets/img/favicon/favicon-aris-175x175.png">
        <!--<link rel="apple-touch-icon" sizes="57x57" href="~/assets/img/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="~/assets/img/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="~/assets/img/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="~/assets/img/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="~/assets/img/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="~/assets/img/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="~/assets/img/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="~/assets/img/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="~/assets/img/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="~/assets/img/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="~/assets/img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="~/assets/img/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="~/assets/img/favicon/favicon-16x16.png">-->
        <!-- STYLES -->
        <!-- Bootstrap -->
        <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
        <!-- FontAwesome -->
        <link href="~/assets/css/font-awesome.min.css" rel="stylesheet">
        <!-- Animations -->
        <link href="~/assets/css/animations.css" rel="stylesheet">
        <!-- Lightbox -->
        <link href="~/assets/css/lightbox.min.css" rel="stylesheet">
        <!-- Video Lightbox -->
        <link href="~/assets/css/modal-video.min.css" rel="stylesheet">
        <!-- Main Stylesheet -->
        <!-- Font Faces -->
        <style>
            @@font-face {
                font-family: 'Anurati';
                src: url('/assets/fonts/Anurati-Regular.otf');
            }

            @@font-face {
                font-family: 'Nasa';
                src: url('/assets/fonts/nasalization-rg.ttf');
            }
        </style>
    </head>
    <body>
        <nav class="navbar" style="overflow: hidden">
            <ul class="navbar-nav">
                <li class="logo">
                    <a href="#" class="nav-link">
                        <span class="link-text logo-text">ArisCorp</span>
                        <svg aria-hidden="true"
                             focusable="false"
                             data-prefix="fad"
                             data-icon="angle-double-right"
                             role="img"
                             xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 448 512"
                             class="svg-inline--fa fa-angle-double-right fa-w-14 fa-5x">
                            <g class="fa-group">
                                <path fill="currentColor"
                                      d="M224 273L88.37 409a23.78 23.78 0 0 1-33.8 0L32 386.36a23.94 23.94 0 0 1 0-33.89l96.13-96.37L32 159.73a23.94 23.94 0 0 1 0-33.89l22.44-22.79a23.78 23.78 0 0 1 33.8 0L223.88 239a23.94 23.94 0 0 1 .1 34z"
                                      class="fa-secondary"></path>
                                <path fill="currentColor"
                                      d="M415.89 273L280.34 409a23.77 23.77 0 0 1-33.79 0L224 386.26a23.94 23.94 0 0 1 0-33.89L320.11 256l-96-96.47a23.94 23.94 0 0 1 0-33.89l22.52-22.59a23.77 23.77 0 0 1 33.79 0L416 239a24 24 0 0 1-.11 34z"
                                      class="fa-primary"></path>
                            </g>
                        </svg>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <svg aria-hidden="true"
                             focusable="false"
                             data-prefix="fad"
                             data-icon="cat"
                             role="img"
                             xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 24 24"
                             class="svg-inline--fa fa-cat fa-w-16 fa-9x">
                            <g class="fa-group">
                                <path fill="currentColor"
                                      d="M11.998 2.5A9.503 9.503 0 003.378 8H5.75a.75.75 0 010 1.5H2a1 1 0 01-1-1V4.75a.75.75 0 011.5 0v1.697A10.997 10.997 0 0111.998 1C18.074 1 23 5.925 23 12s-4.926 11-11.002 11C6.014 23 1.146 18.223 1 12.275a.75.75 0 011.5-.037 9.5 9.5 0 009.498 9.262c5.248 0 9.502-4.253 9.502-9.5s-4.254-9.5-9.502-9.5z"
                                      class="fa-secondary"></path>
                                <path fill="currentColor"
                                      d="M12.5 7.25a.75.75 0 00-1.5 0v5.5c0 .27.144.518.378.651l3.5 2a.75.75 0 00.744-1.302L12.5 12.315V7.25z"
                                      class="fa-primary"></path>
                            </g>
                        </svg>
                        <span class="link-text">Geschichte</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <svg aria-hidden="true"
                             focusable="false"
                             data-prefix="fad"
                             data-icon="alien-monster"
                             role="img"
                             xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 512 512"
                             class="svg-inline--fa fa-alien-monster fa-w-18 fa-9x">
                            <g class="fa-group">
                                <path fill="currentColor"
                                      d="M256.22,507.79c-139,.59-247-112-251.59-239.43C2,195.33,25.05,132.14,76,80,122.13,32.73,178.64,7.26,245.1,4.73c74.59-2.84,138.65,22,190.81,75,47.79,48.57,71.61,107.82,71.87,176.2C508.32,394.81,395,508.05,256.22,507.79ZM486.51,256.72c1-125.36-99.57-223.16-214.6-229.34-66.57-3.58-125,16.79-173.42,62.69C55,131.3,30.84,182.5,27.45,242.52c-3.8,67.54,17.62,126.59,64.92,175,43.1,44.09,96.12,67.05,158.15,69C381.79,490.72,488.19,383.06,486.51,256.72Z"
                                      class="fa-secondary"></path>
                                <path fill="currentColor"
                                      d="M316.67,236.54v37c-8.57,0-17,.12-25.42.14s-17.06,0-25.59,0H240.24c-2.67,2.13-3.31,4.77-3.31,7.82q.09,71.58.1,143.14a12.77,12.77,0,0,0,.66,2.34c12.4.67,25.08.45,38.72,0,.5-10.41.17-20.69.23-31,.06-10.66,0-21.33,0-32V301.92c6-1.52,28.16-1.86,39.74-.67.18,1.92.55,3.95.55,6q0,72,0,143.94c0,3.22.11,6.41-2.75,9.07a207.93,207.93,0,0,1-115.62.26v-408c24.56-11.29,97.27-10.58,118.11,1.39v156.3c-6.12,1.54-27,1.89-39.89.62-.36-10.15-.13-20.45-.17-30.73,0-10.67,0-21.33,0-32V85.37H238c-1.3,5.87-1.55,141.52-.2,151.17Z"
                                      class="fa-primary"></path>
                                <path fill="currentColor"
                                      d="M381.31,273.61v97.8c7.28-3.19,10.2-9.84,14.39-15s7.49-11.53,10.79-17.56a192.22,192.22,0,0,0,9.15-18.55c2.61-6.26,4.48-12.84,6.72-19.4H462.7c-9.74,61-60.45,124.49-120,148.4V63.09c54.59,21.25,106.88,79.31,120.7,147.8H422.11c-7.92-26.54-20.43-50.74-40.66-71.85v97.58h85.08c3,12.26,2.52,24.23,1.3,37Z"
                                      class="fa-primary"></path>
                                <path fill="currentColor"
                                      d="M172.58,61V451.59c-9.67-5.07-18.78-9.29-27.32-14.45a199.89,199.89,0,0,1-44.86-36.75C89.12,388,78.93,374.77,71.06,359.9c-3.21-6-5.81-12.44-9.18-18.4-3.53-6.25-4.56-12.72-4.53-19.83q.28-66.76,0-133.55a34.61,34.61,0,0,1,3.11-14.6c6.38-14.31,13.67-28.11,22.84-40.84,4-5.52,8.54-10.63,12.84-15.93l1.55.59V125c0,12.26.41,24.54-.07,36.78-2,49.77-1.37,99.55-1.56,149.33a35.67,35.67,0,0,0,3.56,16.08A187.44,187.44,0,0,0,126.83,369c1.53,1.77,3.38,3.25,5.77,5.52V84C144.49,74.16,158.11,67.78,172.58,61Z"
                                      class="fa-primary"></path>
                            </g>
                        </svg>
                        <span class="link-text">UEE Regierung</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <svg aria-hidden="true"
                             focusable="false"
                             data-prefix="fad"
                             data-icon="space-station-moon-alt"
                             role="img"
                             xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 512 512"
                             class="svg-inline--fa fa-space-station-moon-alt fa-w-16 fa-5x">
                            <g class="fa-group">
                                <path fill="currentColor"
                                      d="M256.22,507.79c-139,.59-247-112-251.59-239.43C2,195.33,25.05,132.14,76,80,122.13,32.73,178.64,7.26,245.1,4.73c74.59-2.84,138.65,22,190.81,75,47.79,48.57,71.61,107.82,71.87,176.2C508.32,394.81,395,508.05,256.22,507.79ZM486.51,256.72c1-125.36-99.57-223.16-214.6-229.34-66.57-3.58-125,16.79-173.42,62.69C55,131.3,30.84,182.5,27.45,242.52c-3.8,67.54,17.62,126.59,64.92,175,43.1,44.09,96.12,67.05,158.15,69C381.79,490.72,488.19,383.06,486.51,256.72Z"
                                      class="fa-secondary"></path>
                                <path fill="currentColor"
                                      d="M316.67,236.54v37c-8.57,0-17,.12-25.42.14s-17.06,0-25.59,0H240.24c-2.67,2.13-3.31,4.77-3.31,7.82q.09,71.58.1,143.14a12.77,12.77,0,0,0,.66,2.34c12.4.67,25.08.45,38.72,0,.5-10.41.17-20.69.23-31,.06-10.66,0-21.33,0-32V301.92c6-1.52,28.16-1.86,39.74-.67.18,1.92.55,3.95.55,6q0,72,0,143.94c0,3.22.11,6.41-2.75,9.07a207.93,207.93,0,0,1-115.62.26v-408c24.56-11.29,97.27-10.58,118.11,1.39v156.3c-6.12,1.54-27,1.89-39.89.62-.36-10.15-.13-20.45-.17-30.73,0-10.67,0-21.33,0-32V85.37H238c-1.3,5.87-1.55,141.52-.2,151.17Z"
                                      class="fa-primary"></path>
                                <path fill="currentColor"
                                      d="M381.31,273.61v97.8c7.28-3.19,10.2-9.84,14.39-15s7.49-11.53,10.79-17.56a192.22,192.22,0,0,0,9.15-18.55c2.61-6.26,4.48-12.84,6.72-19.4H462.7c-9.74,61-60.45,124.49-120,148.4V63.09c54.59,21.25,106.88,79.31,120.7,147.8H422.11c-7.92-26.54-20.43-50.74-40.66-71.85v97.58h85.08c3,12.26,2.52,24.23,1.3,37Z"
                                      class="fa-primary"></path>
                                <path fill="currentColor"
                                      d="M172.58,61V451.59c-9.67-5.07-18.78-9.29-27.32-14.45a199.89,199.89,0,0,1-44.86-36.75C89.12,388,78.93,374.77,71.06,359.9c-3.21-6-5.81-12.44-9.18-18.4-3.53-6.25-4.56-12.72-4.53-19.83q.28-66.76,0-133.55a34.61,34.61,0,0,1,3.11-14.6c6.38-14.31,13.67-28.11,22.84-40.84,4-5.52,8.54-10.63,12.84-15.93l1.55.59V125c0,12.26.41,24.54-.07,36.78-2,49.77-1.37,99.55-1.56,149.33a35.67,35.67,0,0,0,3.56,16.08A187.44,187.44,0,0,0,126.83,369c1.53,1.77,3.38,3.25,5.77,5.52V84C144.49,74.16,158.11,67.78,172.58,61Z"
                                      class="fa-primary"></path>
                            </g>
                        </svg>
                        <span class="link-text">UEE Leben</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <svg aria-hidden="true"
                             focusable="false"
                             data-prefix="fad"
                             data-icon="space-shuttle"
                             role="img"
                             xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 512 512"
                             class="svg-inline--fa fa-space-shuttle fa-w-20 fa-5x">
                            <g class="fa-group">
                                <path fill="currentColor"
                                      d="M166.07,291.13c0-2,0-2.82,0-3.65-.35-7.76,2.09-14.89,5-21.9a50.13,50.13,0,0,1,4.91-8.94q3-4.32,6.17-8.49a56.21,56.21,0,0,1,8.33-8.93A148.26,148.26,0,0,1,206.89,227a115.82,115.82,0,0,1,26.49-12c2.21-.71,4.41-1.46,6.67-2s4.68-.15,6.5-1.16c3.31-1.83,6.87-.34,10.32-1.63,3.06-1.15,6.91-.07,10.39-.31,2-.15,3.71.79,5.58,1.08s4-.91,5.6.94c7.15.19,13,3.76,19.06,7,7.8,4.23,10.38,6.93,13.62,13.6A26.18,26.18,0,0,1,313.8,242c.24,3.12,1.19,6.55-.84,9.56.54,4.11-1.43,7.68-2.46,11.47s-3.23,7-5.3,10.29c-2.66,4.22-6.43,7.42-9.93,10.84-2.52,2.46-5.39,2.28-8.18.56-3.38-2.08-2.54-9.11,0-11.27,4.6-3.94,7-7.21,10.22-13.16a31.56,31.56,0,0,0,3.55-13c.55-7.79-3-13.54-10-17.31a53.2,53.2,0,0,0-20-6.12c-3.36-.34-6.72-.59-10.09-.88-2-.18-3.7.81-5.58,1.09s-3.79-.66-5.67.84c-1.12.89-3.15-.49-4.65.78-1.23,1-3.35-.46-4.42,1.35-5.31.21-9.79,2.9-14.38,5.07-6.16,2.9-12.44,5.67-17.87,9.92-2.38,1.87-5,3.54-7.14,5.61-4.28,4.07-8.77,8-12,13-3.95,6.11-7.34,12.46-9.08,19.72-1.3,5.42-.73,10.75-.74,16.1a20.33,20.33,0,0,0,2,8.09c3.14,6.93,6.77,13.65,12.66,18.71a73.22,73.22,0,0,0,20.05,11.86c5.07,2.11,10.5,2.61,15.54,4.66,2.13.86,4.83-.28,7,1.18,6.87-.08,13.66,1.75,20.56,1,2-.23,4-.79,6.08-.95s4.46.44,6.47-.13c4.42-1.26,9-1.22,13.44-2.48,4.18-1.19,8.4-2.29,12.6-3.26a135,135,0,0,0,24-8.43,10.89,10.89,0,0,1,7.06-.35,3.91,3.91,0,0,1,2.85,2.65c1.59,4.39.26,8.74-4.07,9.73-3.26.75-5.69,3.41-9.13,3.34-8,3.94-16.59,5.93-25.2,7.93-3.53.82-7.07,1.46-10.64,2.09-6.2,1.09-12.42,1.49-18.65,2.09-4,.38-8.07.49-12.09.82-3,.24-5.72-.75-8.58-1.05-2.7-.28-5.57.82-8.08-1-2.82.74-5.42-.61-8.05-1.11a90,90,0,0,1-16.12-4.44,92.84,92.84,0,0,1-14.89-7.45,23.78,23.78,0,0,1-4.64-3.21c-4.93-5-10.48-9.5-14.35-15.51-2.85-4.43-5.51-9.09-6.85-14.12C166.73,301.56,165,295.9,166.07,291.13Z"
                                      class="fa-primary"></path>
                                <path fill="currentColor"
                                      d="M342.93,230c.62-5.38-1.06-11-3.91-16.52-4.33-8.41-11-14.14-19.17-18.4a56.5,56.5,0,0,0-17-6,16.65,16.65,0,0,1-3.53-1.12,7,7,0,0,1-4.36-9.08c.43-1.39,3.68-3.72,5.28-3.75,4-.08,7.73,1.33,11.52,2.33,5.55,1.46,10.62,4.18,15.63,6.81a54.14,54.14,0,0,1,10.53,7.23,58.93,58.93,0,0,1,11.57,13.62,45.49,45.49,0,0,1,5.55,14.21,65.61,65.61,0,0,1,.93,9.09c.16,1.92,1.41,3.48.12,5.77-.92,1.65.21,4.32-.25,6.37-1,4.52-1.84,9.1-3.87,13.37-1.87,3.9-2.81,8.26-5.91,11.55a1.38,1.38,0,0,0,.14,1.29c.48.54.86.87.07,1.45-2.53,1.83-4.26,4.3-6,6.86s-4.83,4.6-6.91,7.17c-3.87,4.76-8.73,8.44-13.45,12.12-4.48,3.49-9.79,5.94-14.86,8.62a88.86,88.86,0,0,1-17.9,7.4,51.47,51.47,0,0,1-5.33,1.58c-3,.5-6.17.27-9,1.15-4.86,1.49-9.76,1.05-14.59.79A56.72,56.72,0,0,1,233.09,307a29.93,29.93,0,0,1-14.79-18.4,22.38,22.38,0,0,1-.11-10.36,38.09,38.09,0,0,1,3.73-10.92,42.43,42.43,0,0,1,8.36-10c1.79-1.69,10.65-6.26,12.35-6.22,2.15,0,4.06-.78,6.09-1,2.79-.31,5.78-.61,8.45,0,4.33,1.06,8.61,2.2,12.23,5.53,3.77,3.48,4.94,7.83,5.39,12.26.33,3.29-.81,6.87-1.88,10.12-1.41,4.24-8.37,5.48-11.18,2a9.09,9.09,0,0,1-1.62-5.25c0-1.6.91-3.23,1.42-4.85.75-2.4,0-3.67-2.16-5.15-4.68-3.21-9.45-2-14.18-.46a20.81,20.81,0,0,0-13.76,14c-1.29,4-1.13,8.42,2.44,12.2s7.92,5.68,12.18,8.08c1.45.81,3.43-.55,4.44,1.35,2.31-.4,4.39.82,6.58.95,3.81.23,7.76.63,11.45-.08,4.15-.8,8.46-.94,12.46-2.4,3.75-1.36,7.54-2.72,11.3-4,6.08-2.11,11.37-5.57,16.94-8.51a39.86,39.86,0,0,0,8.76-6.54c6.41-6.15,12.61-12.41,17.1-20.32,3.58-6.3,5.68-13,7.73-19.78C343.59,236.66,342.93,233.63,342.93,230Z"
                                      class="fa-primary"></path>
                                <path fill="currentColor"
                                      d="M411.88,213.12c0,2.81.13,4.82,0,6.8-.29,3.71-2.67,6.09-6.41,6.11s-6.4-2.36-6.53-6c-.09-2.5.1-5,0-7.49a94.7,94.7,0,0,0-4-22.83,76.82,76.82,0,0,0-8.22-18,78.49,78.49,0,0,0-16.83-19,87.53,87.53,0,0,0-14.48-9.58,116.08,116.08,0,0,0-22.15-9.24c-1.78-.5-3.48-1.47-5.28-1.67s-3.52-1.79-5.57-1.09c-3.73-1.8-8-1.35-11.8-2.88a1.41,1.41,0,0,0-.45-.11,44.78,44.78,0,0,1-4.49,0c-1.22-.14-2.38-.87-3.59-.92-3.49-.13-7.24.75-10.42-.26s-6.46-.51-9.65-.73a89.54,89.54,0,0,0-10.49,0c-2.53.12-5,.75-7.58.92s-5.17-.52-7.45.18c-2.91.89-5.74.67-8.62.89-1.71.13-3.38.73-5.09.94a33.48,33.48,0,0,0-4.62.85,18.87,18.87,0,0,1-7.92,0c-1.39-.26-2.72-1.75-3.71-3-1.63-2-.13-6.61,2.2-8.11A10.82,10.82,0,0,1,235,117c1.85,0,3.71-.63,5.58-.91,1.71-.26,3.64.62,5.09-1,.07-.09.32,0,.49,0,4.6.73,9-1.12,13.57-1,8.87.15,17.68-1.72,26.57-.93,5.18.46,10.33,1.16,15.57,1.11,1.41,0,2.93.93,4.58.93s3.11-.4,4.78.5c1.3.7,3.25.07,4.79.49,4.38,1.18,8.93,1.52,13.27,2.91,5.15,1.65,10.32,3.2,15.45,4.91a98.37,98.37,0,0,1,21.7,10.28c7.72,4.92,15.21,10.28,21.39,17.2a101.19,101.19,0,0,1,16.86,26c2.33,5.19,3.53,10.86,5.13,16.34.88,3,.56,6.4,1.15,9.54C411.59,206.86,412.19,210.34,411.88,213.12Z"
                                      class="fa-primary"></path>
                                <path fill="currentColor"
                                      d="M30.17,255c-.44-1.81.56-3.47,1.59-5.08,3.64-5.65,6.79-11.58,10.78-17.06,3.33-4.59,7.11-8.88,10-13.76a4,4,0,0,1,.35-.36,297.07,297.07,0,0,1,23.38-24.22C81,190.11,86,185.85,91,181.8a379.19,379.19,0,0,1,31.62-22.54,185,185,0,0,1,16.13-9.19c6.19-3.17,12.2-6.71,18.52-9.55,5.18-2.33,10.45-4.49,15.77-6.55,4.89-1.89,9.81-3.66,14.83-5.17,3.26-1,6.58-1.8,9.87-2.71.89-.24,1.75-.58,2.65-.83a6,6,0,0,1,7.64,5.66,9.57,9.57,0,0,1-.05,3c-.49,1.53-1,3.15-2.93,3.7-1.32.39-2.56,1.36-3.88,1.42-5.57.28-10.65,2.45-15.77,4.19a134.48,134.48,0,0,0-13.31,5.23c-6.27,2.94-12.85,5.25-18.87,8.69-4.58,2.62-9.23,5.11-13.79,7.78-5.08,3-10.24,5.85-15.18,9.11q-8.1,5.35-15.83,11.2c-5.5,4.18-10.77,8.64-16.12,13-9,7.34-16.81,15.91-24.81,24.22-4.69,4.88-8.6,10.59-12.63,16.13a147,147,0,0,0-11.73,18.65c-2.1,4.06-4.81,5.38-8.74,4.79a5.79,5.79,0,0,1-4.2-4.24A24.61,24.61,0,0,1,30.17,255Z"
                                      class="fa-primary"></path>
                                <path fill="currentColor"
                                      d="M245.45,415.88c-2.5,0-5,.1-7.49,0-5.19-.26-10.37-.65-15.56-1-2.4-2-5.5-.52-8.24-1.82-2.46-1.17-5.63-.84-8.49-1.18-.72-1.56-2.42-.57-3.44-1.32-1.61-1.17-3.94-1.56-4.21-4.17-.34-3.31,0-6.52,3.25-8,1.55-.73,3.82-.44,5.63,0a99.49,99.49,0,0,0,12.9,2.58c1.88.18,3.71.75,5.59.94s3.89-.35,5.59,1c.2.16.64,0,1,0,9,0,18,0,27,0,1.95,0,3.49-1.48,5.6-1.09,1.93.35,4.42.79,5.86-.1,2-1.24,4-.09,5.65-.91,2.47-1.25,5.19-1,7.73-1.81s5.39-.59,8-1.15a79.79,79.79,0,0,0,11.69-3.1c2.9-1.12,6-1.52,8.83-2.8s5.8-2.06,8.71-3.05c3.22-1.08,6.62-1.79,9.61-3.3,5.52-2.76,11.71-4,16.8-7.68,8.52-2.56,15.8-7.67,23.63-11.64,5.14-2.6,10-5.72,14.82-8.81a28.09,28.09,0,0,1,2.86-1.54,7.25,7.25,0,0,1,10.17,5c.39,2-1.11,5.54-3.61,6.91-6.41,3.48-12.59,7.36-18.93,11-5.74,3.27-11.77,6.07-17.78,8.86-10.6,4.94-21.28,9.69-32.45,13.28-3.05,1-6,2.43-9.1,3.31-4.48,1.26-9,2.38-13.49,3.6-3.28.89-6.58,1.77-9.83,2.79-1.8.56-3.64.14-5.57,1-2.35,1.07-5.3.8-8,1.19-1.7.25-3.38.66-5.08,1-1.53.29-3.32-.72-4.62,1-.19.24-.95,0-1.45,0C261.13,414.79,253.36,416.92,245.45,415.88Z"
                                      class="fa-primary"></path>
                                <path fill="currentColor"
                                      d="M505.81,200v3.49c0,2.33.73,5-.18,6.9-1.19,2.49.27,5.32-1,7-1.54,2.08.41,4.75-1.83,6.29.41,4.09-1.86,7.57-2.59,11.41a65.05,65.05,0,0,1-3.38,11.06c-2,5.31-4,10.67-6.44,15.8-1.39,2.91-2.22,6.17-4,8.81-2.7,4-4.63,8.45-7.18,12.55-3.37,5.43-6.73,10.87-10.37,16.13-4.36,6.3-9.2,12.23-14,18.18-6.79,8.4-14.81,15.53-22.44,23a60.18,60.18,0,0,1-9.78,7.45c-2.61,1.68-4.21-.74-6.26-.18-.83-1.32-2.16-2.57-2.38-4-.35-2.34-.58-4.79,1.94-6.65,4.14-3.06,8-6.56,11.81-10,4.14-3.65,8.57-7.21,11.43-12.15a9.74,9.74,0,0,1,1.74-1.78c8.45-8.57,15.33-18.35,21.92-28.35a231.26,231.26,0,0,0,15.93-28.83,175.1,175.1,0,0,0,8.08-21.6A144,144,0,0,0,491,217.34c.61-3.21,1.13-6.48,1.71-9.7a36.42,36.42,0,0,0,.06-9.95c-.33-3.32,1.37-6.32,1.09-9.58,0-.27.14-.8.29-.83,2.14-.44,3.66-2.49,6.08-2.24a7.56,7.56,0,0,1,5.15,3.15,3.94,3.94,0,0,1,.43,2.29C505.84,193.64,505.81,196.8,505.81,200Z"
                                      class="fa-primary"></path>
                                <path fill="currentColor"
                                      d="M105.11,309.83c0-1.83,0-3.66,0-5.49-.12-4.83,1.21-9.46,1.82-14.18.85-6.61,3.23-12.67,5.27-18.85a124.36,124.36,0,0,1,5.93-13.51c1.3-2.79,4.15-3.4,6.74-3.7,2.34-.26,5.76,3.18,6.16,5.8a6.41,6.41,0,0,1-.6,3.21,49.58,49.58,0,0,1-2.34,4.52,72.59,72.59,0,0,0-5.52,13.67,121.81,121.81,0,0,0-3.68,15c-1.27,7.74-.81,15.42-.62,23.08a54.26,54.26,0,0,0,4.11,18.22c3.24,8.27,7.23,16.16,12.92,23.14,1.31,1.61,2.35,3.53,4,4.76s2.4,3.51,4.43,4.69c1.81,1,3,3.15,4.67,4.45,5.12,3.92,10.05,8.13,15.91,11,2.91,1.43,5.72,3.07,8.6,4.56,1.23.63,2.57,1,3.8,1.67,4.23,2.17,5.32,5.32,3.53,9.36-.54,1.22-.76,2.54-2.37,2.6-2,.07-3.48,1.83-5.9.58-7.83-4.05-15.91-7.7-23.21-12.63A102.51,102.51,0,0,1,128,373.21c-6-7-11.33-14.64-14.89-23.26-2.65-6.44-5.32-12.85-6.22-19.95-.41-3.18-1.17-6.47-1.69-9.7C104.69,316.9,105.11,313.33,105.11,309.83Z"
                                      class="fa-primary"></path>
                                <path fill="currentColor"
                                      d="M261.72,186.05c-2.49,0-5.07-.41-7.47.08-6.6,1.36-13.54,1-19.83,3.92-6.48.39-12.23,3.47-18.39,5-2.66.68-5,2.24-7.62,3.27a133.85,133.85,0,0,0-18.32,8.76c-7.55,4.44-15.19,8.78-22.08,14.31a146,146,0,0,0-11.85,9.94c-1.82,1.8-4.07,3.18-5.88,5-2.15,2.18-4,4.67-6.06,7-.72.79-1.3,1.93-2.79,1.7-1.75-.26-3.79.18-5.24-.58a6.36,6.36,0,0,1-2.57-8.4,13,13,0,0,1,2.45-3.47c4.78-4.87,9.52-9.79,14.5-14.45A92.57,92.57,0,0,1,160,210.7c4.07-2.94,8.27-5.7,12.45-8.49a45.07,45.07,0,0,1,5.18-3.16c6-2.89,11.21-7.15,17.72-9.09,3.2-1,6.08-2.88,9.25-4.16a156.22,156.22,0,0,1,19.17-6.74,181.6,181.6,0,0,1,17.79-4.17c4.22-.66,8.48-1.14,12.7-1.7,4.42-.58,9-.14,13.46-.12a9.22,9.22,0,0,1,4.14.87c2.71,1.29,3,3.22,3.27,5.84.27,3.08-1.77,4.41-3.49,6.07-.36.35-1.24.19-1.89.2Z"
                                      class="fa-primary"></path>
                                <path fill="currentColor"
                                      d="M5.19,345.43c-.61-5.31,1-10.9,1.21-16.62a73.34,73.34,0,0,1,2-15.11c1.46-5.83,2.56-11.76,4.67-17.5,2.93-8,5-15.06,9-22.76,1.18-2.24,3.37-1.82,4.7-3.31.6-.67,1.95.24,3,.74,1.69.79,3.5,1.26,4,3.24a8.52,8.52,0,0,1-.48,6.46c-3.33,6.76-6.47,13.64-8.27,21-.8,3.3-2.14,6.49-2.76,9.82Q21,318.2,20,325c-.5,3.55-.07,7.24-1,10.54-1.17,4.1-.59,8.09-.77,12.12a22.05,22.05,0,0,0,.83,8.61c.93,2.66-.78,5.86,1.12,8.53,0,6.09,2.14,11.67,4,17.31a48.42,48.42,0,0,0,6.18,12.4c2.1,3,2.54,6,.83,9.36a3.06,3.06,0,0,1-2.91,2c-5.75.26-7.15-.24-10.07-5.56S12.32,389.87,10.78,384c-.91-3.46-1.67-7-2.62-10.41a20.93,20.93,0,0,1-1-5.58c0-1.69-.75-3.37-.89-5.08-.17-2,.09-4-.08-6s-.75-3.71-.92-5.59S5.19,347.7,5.19,345.43Z"
                                      class="fa-primary"></path>
                                <path fill="currentColor"
                                      d="M493.82,167.24c-.09-4.71-.76-9.41-1.24-14.05a81.72,81.72,0,0,0-2.8-13.76c-1.22-4.31-2.92-8.46-4.06-12.81-.61-2.33-2.22-4.4-3.44-6.56a12.31,12.31,0,0,1-1.54-5.89c-.1-2.54,1.07-3.88,3-5.07a5.13,5.13,0,0,1,6.16,0,9.27,9.27,0,0,1,2.88,2.55c1.82,3.22,3.8,6.45,4.91,9.94s2.92,6.84,3.63,10.49,2.22,7.17,2.55,10.95c.13,1.54.73,3,.93,4.59s-.29,2.95,1,4.09c.08.07,0,.32,0,.49.33,5.35.77,10.71.94,16.07a18.06,18.06,0,0,1-1,5.07,3.23,3.23,0,0,1-1.25,1.46,7.29,7.29,0,0,1-10.2-1.81,3.63,3.63,0,0,1-.48-1.79C493.77,169.9,493.82,168.57,493.82,167.24Z"
                                      class="fa-primary"></path>
                                <path fill="currentColor"
                                      d="M167.07,63.9c.1,14.15-10.51,22.13-22,22.12-12.85,0-21.28-9.38-21.88-22.14a20.41,20.41,0,0,1,3-10.68,20.35,20.35,0,0,1,8.19-8.05,25.24,25.24,0,0,1,11.23-3C157.79,42.08,168.14,53,167.07,63.9Z"
                                      class="fa-secondary"></path>
                                <path fill="currentColor"
                                      d="M433.51,415.94c2.27-.24,3.4.29,4.69,2.46a90.6,90.6,0,0,1,4.74,9.05,10.69,10.69,0,0,0,5.64,5.43c2.39,1.06,4.72,2.25,7.11,3.31a6.45,6.45,0,0,1,4.19,6.18c.11,3-2,4.22-4.1,5.46-2.91,1.76-6,3.27-8.86,5.06a9.62,9.62,0,0,0-3,2.91c-1.81,2.88-3.39,5.9-5.05,8.88-2.43,4.36-5.35,5.52-8.89,3.08a10,10,0,0,1-3.16-4.3c-1-2.4-2.67-4.54-3.69-6.95a7,7,0,0,0-3.85-3.86c-3.62-1.73-7-3.87-10.58-5.78a3.6,3.6,0,0,1-1.88-3.06c-.68-4.08,1.24-6.35,4.66-8a62.33,62.33,0,0,0,8.15-4.35,10.11,10.11,0,0,0,3.65-4.41c1.3-3,3.46-5.46,4.69-8.54A4.37,4.37,0,0,1,433.51,415.94Z"
                                      class="fa-secondary"></path>
                                <path fill="currentColor"
                                      d="M407.89,249.19c-.61,1.89-1.34,4.92-2.52,7.77a120.83,120.83,0,0,1-9.43,19c-3.23,5-6.28,10.14-10.18,14.76-4.5,5.33-8.64,11-13.88,15.62-5.4,4.78-10.68,9.75-16.7,13.79-2.08,1.39-4,2.75-6.89.88-3.88-2.51-4.65-7.51-.85-10a67.94,67.94,0,0,0,9.4-7.41c2.46-2.35,5.22-4.37,7.65-6.75a138.66,138.66,0,0,0,18.6-22.72,97.86,97.86,0,0,0,10-19.29c1.18-3.12,2.38-6.32,3.72-9.42s3.54-3.21,6.09-3.41,3.44,2.24,4.94,3.6C408.24,246,407.89,247.2,407.89,249.19Z"
                                      class="fa-secondary"></path>
                                <path fill="currentColor"
                                      d="M182,371.32c-.19-7.28,3.33-12.56,9.34-15.94a17.07,17.07,0,0,1,9.41-2.23c3.73.36,7.7,1.38,10.55,4.47,2.47,2.69,5.24,4.93,6.17,8.95a18.35,18.35,0,0,1,.47,7.66c-1.5,7.18-4.79,10.61-11.62,13.91a14.42,14.42,0,0,1-7.72,1.54,21.68,21.68,0,0,1-8.28-2.79c-4.18-2.47-6-6.33-7.85-10.25C181.71,375.12,182.07,373.1,182,371.32Z"
                                      class="fa-secondary"></path>
                                <path fill="currentColor"
                                      d="M409.91,121.05c-4.63,1.16-8-2.27-11.84-4.26-1.87-3.74-4.52-7-4.32-11.74a17.91,17.91,0,0,1,5.12-12.38,15,15,0,0,1,11.06-4.32,17.12,17.12,0,0,1,16.93,16.4C427,114.46,418.25,122.48,409.91,121.05Z"
                                      class="fa-secondary"></path>
                                <path fill="currentColor"
                                      d="M95.12,458.33c0-1.44-.23-2.42,1.57-2.69,1.25-.19,2.21-1.88,3.5-2.27,3.63-1.11,5.08-4.2,6.86-7,.65-1,.8-2.35,1.46-3.36a3.28,3.28,0,0,1,5-.16,16.65,16.65,0,0,1,2.5,3.93A12.92,12.92,0,0,0,124,454.3a6.18,6.18,0,0,1,3,2.13c.55.94,1.4,2.42.08,3.57-1.14,1-2.26,2.32-3.62,2.76-3.61,1.17-5.77,3.64-7.37,6.86a27.51,27.51,0,0,1-2.32,4,3.32,3.32,0,0,1-5.63-.48c-.8-1.47-1.33-3.1-2-4.63a8.31,8.31,0,0,0-4.81-4.73c-1.43-.51-2.65-1.59-4-2.27S94.6,459.93,95.12,458.33Z"
                                      class="fa-secondary"></path>
                                <path fill="currentColor"
                                      d="M299.18,149.42c-1,4.17-2.37,7.46-5.21,10.35-2.55,2.58-6,1.5-8.61,3.19-2.8-1.63-6.5-.72-8.94-3.8A15.61,15.61,0,0,1,273,147.59c.28-3.35,1.94-5.9,4.21-8.23a11.35,11.35,0,0,1,8.62-3,13,13,0,0,1,9.9,4.85C297.82,143.81,298.08,146.88,299.18,149.42Z"
                                      class="fa-secondary"></path>
                                <path fill="currentColor"
                                      d="M449.85,246.46c.9,6.88-5.57,12.72-12.23,12.7-7.38,0-13.89-5.23-13.57-12.77.33-7.84,5.45-13.06,13.4-13.19A12.16,12.16,0,0,1,449.85,246.46Z"
                                      class="fa-secondary"></path>
                                <path fill="currentColor"
                                      d="M65,341.94c-6.48,0-11.64-5.71-11.88-12.53-.22-6,6.45-12.52,12.46-12.57,6.25,0,13.09,6.69,12.64,12.9a13.8,13.8,0,0,1-4.5,9.14C71.39,341.16,69.16,341.94,65,341.94Z"
                                      class="fa-secondary"></path>
                                <path fill="currentColor"
                                      d="M498.72,370.09a9.25,9.25,0,0,1-1.23,2.56,7.58,7.58,0,0,1-2.72,1.77c-3.57,1.33-6.19,3.51-7.27,7.29a5.25,5.25,0,0,1-.68,1.22c-1.72,2.8-3.43,4.79-6.59.89-.41-.51-1.12-.86-1.36-1.43-.82-1.93-1.3-4.11-3-5.44a55.41,55.41,0,0,0-5.18-3.05,9.42,9.42,0,0,1-1.86-1.53c-1.8-1.88-1.36-4.1,1-5.46,2-1.17,4.31-1.74,6.06-3.46,2-1.95,2.9-4.39,4-6.82a3.24,3.24,0,0,1,5.25-.86,11.19,11.19,0,0,1,1.68,2.28,27.82,27.82,0,0,1,1.84,3.22c1.42,3.07,4.88,3.54,7,5.65C496.76,368,497.77,369.09,498.72,370.09Z"
                                      class="fa-secondary"></path>
                                <path fill="currentColor"
                                      d="M318.91,456.94c3.3-.45,6,.17,8.16,2.51,2.37,2.51,3.91,5.27,3.91,8.86s-1.56,6.32-3.86,8.89-5.27,2.64-8.39,2.68-5.71-.28-7.9-2.64c-2.35-2.53-3.91-5.28-3.9-8.87a12.59,12.59,0,0,1,3.86-8.88A8.45,8.45,0,0,1,318.91,456.94Z"
                                      class="fa-secondary"></path>
                                <path fill="currentColor"
                                      d="M342.33,69.12c-1.86.61-2.48-.71-3-2.08-1.68-4.61-5-7.52-9.39-9.49-.65-.3-2.16.08-2-1.52.11-1.28-.26-2.66,1.16-3.53,1.2-.74,2.25-1.88,3.54-2.28A7.51,7.51,0,0,0,338.06,45c.65-1.93,1.52-4.47,4.15-4.77,3-.33,3.57,2.63,4.47,4.38a15.59,15.59,0,0,0,6.82,6.5c1.76,1,3.54,1.63,3.42,4.06,0,.9.27,1.66-1.25,2.12a19.57,19.57,0,0,0-5.6,3.3,12.59,12.59,0,0,0-4.59,6.56C345,68.8,344.07,69.49,342.33,69.12Z"
                                      class="fa-secondary"></path>
                                <path fill="currentColor"
                                      d="M40.14,114.44a4.36,4.36,0,0,1,3.2-3.34,9.77,9.77,0,0,0,5.85-5.76,7.58,7.58,0,0,1,2-2.66,3.36,3.36,0,0,1,4.71.68c.86,1.28,1.54,2.68,2.29,4,1.06,2,3,2.82,4.83,3.68,2.12,1,3.54,2.29,3.12,4.8a2.29,2.29,0,0,1-1,1.22A24.61,24.61,0,0,1,60.32,120c-1.46.54-1.79,1.46-2.37,2.66a16.24,16.24,0,0,1-3.12,4.18c-2,2.11-3.16,1.82-4.68-.92a15,15,0,0,1-1.8-3.23,3.78,3.78,0,0,0-2.79-2.83c-1.43-.54-2.49-2.36-3.88-2.59C39.81,117,40.22,116,40.14,114.44Z"
                                      class="fa-secondary"></path>
                            </g>
                        </svg>
                        <span class="link-text">ARK Starmap</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <svg aria-hidden="true"
                             focusable="false"
                             data-prefix="fad"
                             data-icon="space-station-moon-alt"
                             role="img"
                             xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 512 512"
                             class="svg-inline--fa fa-space-station-moon-alt fa-w-16 fa-5x">
                            <g class="fa-group">
                                <path fill="currentColor"
                                      d="M.52,231.44c.42-1.93.8-3.87,1.27-5.79,2.26-9.32,6.89-17.42,12.86-24.81,8.52-10.55,18.94-18.92,30.29-26.19C60.71,164.57,77.68,157,95.35,151c5.09-1.74,10.21-3.4,15.46-5.15.48-2.78,1-5.51,1.41-8.24,3.41-21.5,11.69-41.06,23.65-59.11,5.26-8,12-14.69,18.71-21.4,2.52-2.53,5.16-4.93,7.76-7.37,12.06-11.32,26.35-19,41.56-25a142,142,0,0,1,32.65-8.82,132.66,132.66,0,0,1,27.09-1.07A152,152,0,0,1,314.9,27c14.77,6.35,28.27,14.64,39.69,26.05,5.42,5.41,10.82,10.86,15.92,16.57,10.27,11.51,17.11,25.09,22.79,39.3a136.46,136.46,0,0,1,8.5,32.73c.18,1.29.44,2.57.69,4a14.77,14.77,0,0,0,1.55.69c13.55,4.44,27,9,40,15.07,14.64,6.85,28.55,14.87,41,25.29,8.59,7.21,16.15,15.35,21.61,25.24a41.33,41.33,0,0,1,5.48,17.54,6.65,6.65,0,0,0,.43,1.47v12a10.21,10.21,0,0,0-.47,1.7,36.8,36.8,0,0,1-3.4,12A74.28,74.28,0,0,1,496,275.08c-11.47,12.56-25.22,22.07-40.11,30.08-13.52,7.28-27.78,12.79-42.27,17.73-3.44,1.18-6.86,2.4-10.48,3.67.63.93,1.09,1.64,1.58,2.34q21.45,30.24,42.91,60.47c8.06,11.35,16.18,22.66,24.21,34,5.76,8.15,5.81,16.37-.13,24.4a50.4,50.4,0,0,1-8.25,8.65c-8.84,7.4-19.15,12.27-29.83,16.37-19.72,7.56-40.18,12.37-60.91,16.12a539.15,539.15,0,0,1-57.46,7.23c-14,1-28,1.73-42,2.08A657.49,657.49,0,0,1,195,495.83c-12.9-1.21-25.8-2.62-38.63-4.39a403.07,403.07,0,0,1-46.54-9.22c-14.4-3.76-28.6-8.11-42-14.61a85.17,85.17,0,0,1-20.34-13.1c-3.78-3.41-7.07-7.21-9-12a16.67,16.67,0,0,1,1.43-16.19c1-1.61,2.1-3.2,3.2-4.77q32.64-46.14,65.29-92.29c.58-.82,1.14-1.67,1.77-2.61-.62-.27-1.08-.5-1.57-.68-5.4-1.91-10.82-3.8-16.22-5.73-17.74-6.34-34.9-13.86-50.57-24.49-9.61-6.52-18.74-13.59-26.31-22.49-7.18-8.44-12.3-17.88-14.21-28.91-.2-1.17-.49-2.33-.74-3.5ZM384.33,331.88c-84.61,18.45-169.11,18.84-253.81.22a56.23,56.23,0,0,0-4.15,4.35c-4.67,6.07-9.38,12.11-13.83,18.34q-22.82,32-45.47,64.08c-1.3,1.84-2.47,3.77-3.58,5.49.21,4.34,2.73,7.52,4.22,11.2L58.4,441.2c.58.44,1,.77,1.4,1.06A132,132,0,0,0,92.23,458.2c20.47,7,41.55,11.44,62.91,14.57,10.41,1.53,20.87,2.84,31.34,3.78,13.87,1.24,27.76,2.28,41.66,2.93,17.83.83,35.68.86,53.53.22,14.18-.51,28.34-1.3,42.47-2.59,14.91-1.36,29.74-3.27,44.49-5.86,20-3.51,39.62-8.37,58.59-15.68,7.39-2.85,14.72-5.85,21.44-10.09,2.22-1.41,4.24-3.14,6.65-5l-14.55-6.74,5.87-15.11Zm19.18-166.22c-.36,3-2.07,4.78-3.82,6.48-.94.91-1.91,1.79-2.91,2.63A147,147,0,0,1,355.28,199a239.53,239.53,0,0,1-51.14,13.24,311,311,0,0,1-40.29,3.45,310.69,310.69,0,0,1-66.73-5.59c-18.08-3.55-35.61-8.77-52.18-16.9a135.63,135.63,0,0,1-29.37-19.3c-2.48-2.15-5-4.3-5.82-8a25,25,0,0,0-3.39.55c-2.32.72-4.62,1.54-6.9,2.39-17.35,6.4-34.07,14.06-49.41,24.5-8.53,5.81-16.4,12.36-22.81,20.54-10.74,13.71-11,29.86-.68,43.87a83.27,83.27,0,0,0,15.33,15.6c14,11.18,29.67,19.37,46.21,26A340.53,340.53,0,0,0,138.35,315c12,2.79,24.16,5.11,36.4,6.77,9.82,1.33,19.68,2.46,29.56,3.29q16.26,1.37,32.57,2c16.8.62,33.61.59,50.39-.46,12-.75,24-1.59,35.91-2.81,13.24-1.34,26.38-3.46,39.44-6.08,22.81-4.59,45.12-10.85,66.6-19.88,15.22-6.4,29.63-14.24,42.54-24.64,6.74-5.43,12.88-11.45,17.4-18.94,5.69-9.45,6.82-19.41,2.95-29.79-2.06-5.53-5.52-10.24-9.44-14.6-6.94-7.69-15.1-13.9-23.8-19.42-15.87-10.08-33-17.46-50.73-23.61C406.77,166.3,405.31,166.08,403.51,165.66ZM256.57,197.53a296.17,296.17,0,0,0,38.8-2.56,235.85,235.85,0,0,0,51.56-12.61,139.75,139.75,0,0,0,32.94-17.27c3.63-2.6,5.4-5.71,4.77-10.19-.47-3.27-.71-6.57-1.12-9.85-1.32-10.48-3.5-20.72-7.73-30.48-4-9.1-7.91-18.19-13.64-26.36a125.61,125.61,0,0,0-27.64-28.63c-27.78-20.86-59-29.47-93.51-25.48a123,123,0,0,0-50.84,17.7c-20,12.32-36,28.37-46.54,49.59-5.29,10.69-10.29,21.52-12.2,33.43-1.09,6.78-1.92,13.61-2.78,20.42a9,9,0,0,0,4.31,9.39c3.51,2.26,6.89,4.73,10.47,6.87,13.23,7.92,27.55,13.22,42.4,17.17C209,194.85,232.63,197.45,256.57,197.53Z"
                                      class="fa-primary"></path>
                                <path fill="currentColor"
                                      d="M285.1,408.11h-18V389.93h18Z"
                                      class="fa-secondary"></path>
                                <path fill="currentColor"
                                      d="M176.64,393.46c6.19-.19,12-1.73,18-.55.56,5.82,1.09,11.33,1.65,17.17a78.52,78.52,0,0,1-17.35,1C177.16,405.39,177.4,399.55,176.64,393.46Z"
                                      class="fa-secondary"></path>
                                <path fill="currentColor"
                                      d="M313.15,392.09c5.79.3,11.39.34,17.1,1.24a92.83,92.83,0,0,1-1.46,17.76l-17.09-.68A75,75,0,0,1,313.15,392.09Z"
                                      class="fa-secondary"></path>
                                <path fill="currentColor"
                                      d="M375.77,398.55c-.91,6.17-1.76,11.9-2.64,17.89l-4.75-.54c-2.93-.36-5.87-.66-8.79-1.1-3.16-.49-4-1.65-3.58-4.82q.67-5.31,1.44-10.59c.11-.76.37-1.5.63-2.51C364,396.18,369.59,397.78,375.77,398.55Z"
                                      class="fa-secondary"></path>
                                <path fill="currentColor"
                                      d="M132.11,399.66a120.29,120.29,0,0,1,17.07-2.72c1.66,5.94,1.68,11.9,2.44,18l-17.06,2.62C133.72,411.52,132.42,405.79,132.11,399.66Z"
                                      class="fa-secondary"></path>
                                <path fill="currentColor"
                                      d="M222.62,408.43a89.76,89.76,0,0,1,.47-18,126.66,126.66,0,0,1,17,.07l.71,17.33A103.1,103.1,0,0,1,222.62,408.43Z"
                                      class="fa-secondary"></path>
                                <path fill="currentColor"
                                      d="M108.75,422.63c-5.65,1.52-11,3.3-16.81,3.44A64.47,64.47,0,0,1,87.37,410c5.26-2.25,10.68-3.6,16.44-5.19a41.21,41.21,0,0,1,1.64,4.32C106.58,413.5,107.6,417.89,108.75,422.63Z"
                                      class="fa-secondary"></path>
                                <path fill="currentColor"
                                      d="M403,404.33a6.43,6.43,0,0,1,2.12-.23c4.89,1.37,10.06,1.82,14.84,4.29a63.34,63.34,0,0,1-4.23,16.6c-2.39-.38-4.62-.6-6.79-1.1-2.44-.57-4.83-1.32-7.22-2.1a2.55,2.55,0,0,1-2-3A82.45,82.45,0,0,1,403,404.33Z"
                                      class="fa-secondary"></path>
                                <path fill="currentColor"
                                      d="M110.11,279.45c-5.8.06-11.58-.42-16.67-3.41-12.56-7.36-20-18.14-19.68-33s7.61-25.51,20.56-32.45c13.9-7.45,31.25-2.43,40.79,6.31,7.28,6.67,11.13,14.82,11.06,24.69a81.06,81.06,0,0,1-.78,10.9,25.61,25.61,0,0,1-6.48,13.45,71.35,71.35,0,0,1-6.26,6.28c-5.45,4.82-12,6.88-19.15,7.22C112.37,279.5,111.24,279.45,110.11,279.45Zm0-17.71c9.58.06,18-8.42,18.2-18.23a18.08,18.08,0,0,0-18.15-18.31c-9.72-.08-18.09,8.3-18.15,18.18C91.91,252.9,100.57,261.69,110.08,261.74Z"
                                      class="fa-secondary"></path>
                                <path fill="currentColor"
                                      d="M402.91,279.89c-3.77-.59-7.63-.81-11.28-1.84-9.43-2.64-15.95-9.1-20.58-17.39-9.95-17.83-2.34-40.64,16.14-50.09,14.67-7.49,32.55-2,42,7.31,7.32,7.21,10.31,15.9,10.08,25.94a43.17,43.17,0,0,1-1.45,11.36c-.19.66-.39,1.33-.63,2-4.55,12.31-17.72,21.83-30.82,22.29-1.13,0-2.26,0-3.39,0Zm18.31-36.62a17.93,17.93,0,0,0-18.08-18.07c-9.73-.09-18.07,8.28-18.12,18.16,0,9.59,8.54,18.33,18.05,18.38C412.79,261.8,421.2,253.24,421.22,243.27Z"
                                      class="fa-secondary"></path>
                                <path fill="currentColor"
                                      d="M256.58,307c-6.61-.08-13.09-.87-18.71-4.67-10.73-7.25-17.35-17.11-17.67-30.32-.5-20.57,15.06-35.17,31-37.27A37.87,37.87,0,0,1,289,253.53a25.84,25.84,0,0,1,3.31,10.36c.68,6.52.82,13-1.16,19.39a11.29,11.29,0,0,1-.6,1.72c-6.14,12.41-15.21,20.83-29.74,21.8C259.37,306.89,258,307,256.58,307Zm.13-54.29a18.3,18.3,0,0,0-18.22,18c-.13,9.54,8.38,18.25,18,18.44s18.22-8.54,18.28-18.41A18,18,0,0,0,256.71,252.74Z"
                                      class="fa-secondary"></path>
                                <path fill="currentColor"
                                      d="M307.66,174.53c.46-2.4.82-4.53,1.26-6.63a103.72,103.72,0,0,0,1.86-33.74,46.28,46.28,0,0,0-6.33-17.83c-9.16-15.84-22.85-25.42-41-27.86S229.73,92.06,217,105.32a51.13,51.13,0,0,0-14.1,27.41,81.83,81.83,0,0,0-.54,19.53,114.92,114.92,0,0,0,2.79,19.08,19.06,19.06,0,0,1,.24,3c-.83-.11-1.4-.12-1.95-.25-4.56-1.09-9.12-2.24-13.69-3.27-2.71-.61-4.19-2.05-4.49-4.93-1.22-11.7-2.48-23.42-.75-35.13a68.06,68.06,0,0,1,12.59-30.32c9.55-13.1,22-22.53,37.48-27.42,19.66-6.21,38.77-4.21,56.8,5.6,19.83,10.79,32.17,27.5,37,49.61a66.78,66.78,0,0,1,1.17,11.41A136.1,136.1,0,0,1,328.11,166c-.34,2.26-1.23,4-3.6,4.55l-15.66,4A7.28,7.28,0,0,1,307.66,174.53Z"
                                      class="fa-secondary"></path>
                                <path fill="currentColor"
                                      d="M274.14,172.4a32.4,32.4,0,0,1-3.39-.55c-3.57-.92-5.43-3.71-4.62-7.28a24.64,24.64,0,0,1,2.23-5.82c4.19-8.07,18.64-17.6,30.07-17.11a18,18,0,0,1,3.86.56,6,6,0,0,1,4.59,7.15,13.73,13.73,0,0,1-2.76,6.4,40.68,40.68,0,0,1-27.42,16.48C276,172.34,275.31,172.33,274.14,172.4Z"
                                      class="fa-secondary"></path>
                                <path fill="currentColor"
                                      d="M238.56,172.49a34.37,34.37,0,0,1-15.82-4.77,42.17,42.17,0,0,1-13.52-12,16.82,16.82,0,0,1-2.52-5.09c-1.44-4.91,2-9,7.09-8.94,13.33.2,23.2,6.75,31.08,16.93a14,14,0,0,1,2.06,3.89c1.52,4.31-.62,8.28-5.06,9.49A26.43,26.43,0,0,1,238.56,172.49Z"
                                      class="fa-secondary"></path>
                            </g>
                        </svg>
                        <span class="link-text">Alienrassen</span>
                    </a>
                </li>

                <!-- <li class="nav-item" id="themeButton">
        <a href="#" class="nav-link">
            <svg class="theme-icon"
                 id="lightIcon"
                 aria-hidden="true"
                 focusable="false"
                 data-prefix="fad"
                 data-icon="moon-stars"
                 role="img"
                 xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 512 512"
                 class="svg-inline--fa fa-moon-stars fa-w-16 fa-7x">
                <g class="fa-group">
                    <path fill="currentColor"
                          d="M320 32L304 0l-16 32-32 16 32 16 16 32 16-32 32-16zm138.7 149.3L432 128l-26.7 53.3L352 208l53.3 26.7L432 288l26.7-53.3L512 208z"
                          class="fa-secondary"></path>
                    <path fill="currentColor"
                          d="M332.2 426.4c8.1-1.6 13.9 8 8.6 14.5a191.18 191.18 0 0 1-149 71.1C85.8 512 0 426 0 320c0-120 108.7-210.6 227-188.8 8.2 1.6 10.1 12.6 2.8 16.7a150.3 150.3 0 0 0-76.1 130.8c0 94 85.4 165.4 178.5 147.7z"
                          class="fa-primary"></path>
                </g>
            </svg>
            <svg class="theme-icon"
                 id="solarIcon"
                 aria-hidden="true"
                 focusable="false"
                 data-prefix="fad"
                 data-icon="sun"
                 role="img"
                 xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 512 512"
                 class="svg-inline--fa fa-sun fa-w-16 fa-7x">
                <g class="fa-group">
                    <path fill="currentColor"
                          d="M502.42 240.5l-94.7-47.3 33.5-100.4c4.5-13.6-8.4-26.5-21.9-21.9l-100.4 33.5-47.41-94.8a17.31 17.31 0 0 0-31 0l-47.3 94.7L92.7 70.8c-13.6-4.5-26.5 8.4-21.9 21.9l33.5 100.4-94.7 47.4a17.31 17.31 0 0 0 0 31l94.7 47.3-33.5 100.5c-4.5 13.6 8.4 26.5 21.9 21.9l100.41-33.5 47.3 94.7a17.31 17.31 0 0 0 31 0l47.31-94.7 100.4 33.5c13.6 4.5 26.5-8.4 21.9-21.9l-33.5-100.4 94.7-47.3a17.33 17.33 0 0 0 .2-31.1zm-155.9 106c-49.91 49.9-131.11 49.9-181 0a128.13 128.13 0 0 1 0-181c49.9-49.9 131.1-49.9 181 0a128.13 128.13 0 0 1 0 181z"
                          class="fa-secondary"></path>
                    <path fill="currentColor"
                          d="M352 256a96 96 0 1 1-96-96 96.15 96.15 0 0 1 96 96z"
                          class="fa-primary"></path>
                </g>
            </svg>
            <svg class="theme-icon"
                 id="darkIcon"
                 aria-hidden="true"
                 focusable="false"
                 data-prefix="fad"
                 data-icon="sunglasses"
                 role="img"
                 xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 576 512"
                 class="svg-inline--fa fa-sunglasses fa-w-18 fa-7x">
                <g class="fa-group">
                    <path fill="currentColor"
                          d="M574.09 280.38L528.75 98.66a87.94 87.94 0 0 0-113.19-62.14l-15.25 5.08a16 16 0 0 0-10.12 20.25L395.25 77a16 16 0 0 0 20.22 10.13l13.19-4.39c10.87-3.63 23-3.57 33.15 1.73a39.59 39.59 0 0 1 20.38 25.81l38.47 153.83a276.7 276.7 0 0 0-81.22-12.47c-34.75 0-74 7-114.85 26.75h-73.18c-40.85-19.75-80.07-26.75-114.85-26.75a276.75 276.75 0 0 0-81.22 12.45l38.47-153.8a39.61 39.61 0 0 1 20.38-25.82c10.15-5.29 22.28-5.34 33.15-1.73l13.16 4.39A16 16 0 0 0 180.75 77l5.06-15.19a16 16 0 0 0-10.12-20.21l-15.25-5.08A87.95 87.95 0 0 0 47.25 98.65L1.91 280.38A75.35 75.35 0 0 0 0 295.86v70.25C0 429 51.59 480 115.19 480h37.12c60.28 0 110.38-45.94 114.88-105.37l2.93-38.63h35.76l2.93 38.63c4.5 59.43 54.6 105.37 114.88 105.37h37.12C524.41 480 576 429 576 366.13v-70.25a62.67 62.67 0 0 0-1.91-15.5zM203.38 369.8c-2 25.9-24.41 46.2-51.07 46.2h-37.12C87 416 64 393.63 64 366.11v-37.55a217.35 217.35 0 0 1 72.59-12.9 196.51 196.51 0 0 1 69.91 12.9zM512 366.13c0 27.5-23 49.87-51.19 49.87h-37.12c-26.69 0-49.1-20.3-51.07-46.2l-3.12-41.24a196.55 196.55 0 0 1 69.94-12.9A217.41 217.41 0 0 1 512 328.58z"
                          class="fa-secondary"></path>
                    <path fill="currentColor"
                          d="M64.19 367.9c0-.61-.19-1.18-.19-1.8 0 27.53 23 49.9 51.19 49.9h37.12c26.66 0 49.1-20.3 51.07-46.2l3.12-41.24c-14-5.29-28.31-8.38-42.78-10.42zm404-50l-95.83 47.91.3 4c2 25.9 24.38 46.2 51.07 46.2h37.12C489 416 512 393.63 512 366.13v-37.55a227.76 227.76 0 0 0-43.85-10.66z"
                          class="fa-primary"></path>
                </g>
            </svg>
            <span class="link-text">Themify</span>
        </a>
    </li> -->
            </ul>
        </nav>






        <style>
            :root {
                font-size: 16px;
                font-family: 'Open Sans';
                --text-primary: #b6b6b6;
                --text-secondary: #ececec;
                --bg-primary: #23232e;
                --bg-secondary: #141418;
                --transition-speed: 600ms;
            }

            body::-webkit-scrollbar {
                width: 0.25rem;
            }

            body::-webkit-scrollbar-track {
                background: #1e1e24;
            }

            body::-webkit-scrollbar-thumb {
                background: #6649b8;
            }

            .navbar {
                position: fixed;
                background-color: var(--bg-primary);
                transition: width 600ms ease;
                overflow: scroll;
            }

            .navbar-nav {
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 100%;
            }

            .nav-item {
                width: 100%;
            }

                

            .nav-link {
                display: flex;
                align-items: center;
                height: 5rem;
                color: var(--text-primary);
                text-decoration: none;
                filter: grayscale(100%) opacity(0.7);
                transition: var(--transition-speed);
            }

                .nav-link:hover {
                    filter: grayscale(0%) opacity(1);
                    background: var(--bg-secondary);
                    color: var(--text-secondary);
                }

            .link-text {
                display: none;
                margin-left: 1rem;
            }

            .nav-link svg {
                width: 2rem;
                min-width: 2rem;
                margin: 0 1.5rem;
            }

            .fa-primary {
               /* color: #ff7eee; */
                color: #9AFFF6;
            }

            .fa-secondary {
                color: #00ffe8
                /* color: #df49a6; */
            }

            .fa-primary,
            .fa-secondary {
                transition: var(--transition-speed);
            }

            .logo {
                font-weight: bold;
                text-transform: uppercase;
                margin-bottom: 1rem;
                text-align: center;
                color: var(--text-secondary);
                background: var(--bg-secondary);
                font-size: 1.5rem;
                letter-spacing: 0.3ch;
                width: 100%;
            }

                .logo svg {
                    transform: rotate(0deg);
                    transition: var(--transition-speed);
                }

            .logo-text {
                display: inline;
                position: absolute;
                left: -999px;
                transition: var(--transition-speed);
            }

            .navbar:hover .logo svg {
                transform: rotate(-180deg);
            }

            /* Small screens */
            @@media only screen and (max-width: 600px) {
                .navbar {
                    bottom: 0;
                    width: 100vw;
                    height: 5rem;
                }

                .logo {
                    display: none;
                }

                .navbar-nav {
                    flex-direction: row;
                }

                .nav-link {
                    justify-content: center;
                }

                main {
                    margin: 0;
                }
            }

            /* Large screens */
            @@media only screen and (min-width: 600px) {
                .navbar {
                    top: 0;
                    width: 5rem;
                    height: 100vh;
                }

                    .navbar:hover {
                        width: 16rem;
                    }

                        .navbar:hover .link-text {
                            display: inline;
                        }

                        .navbar:hover .logo svg {
                            margin-left: 11rem;
                        }

                        .navbar:hover .logo-text {
                            left: 0px;
                        }
            }

            .dark {
                --text-primary: #b6b6b6;
                --text-secondary: #ececec;
                --bg-primary: #23232e;
                --bg-secondary: #141418;
            }

            .light {
                --text-primary: #1f1f1f;
                --text-secondary: #000000;
                --bg-primary: #ffffff;
                --bg-secondary: #e4e4e4;
            }

            .solar {
                --text-primary: #576e75;
                --text-secondary: #35535c;
                --bg-primary: #fdf6e3;
                --bg-secondary: #f5e5b8;
            }

            .theme-icon {
                display: none;
            }

            .dark #darkIcon {
                display: block;
            }

            .light #lightIcon {
                display: block;
            }

            .solar #solarIcon {
                display: block;
            }
        </style>
        <script>
            const themeMap = {
                dark: "light",
                light: "solar",
                solar: "dark"
            };

            const theme = localStorage.getItem('theme')
                || (tmp = Object.keys(themeMap)[0],
                    localStorage.setItem('theme', tmp),
                    tmp);
            const bodyClass = document.body.classList;
            bodyClass.add(theme);

            function toggleTheme() {
                const current = localStorage.getItem('theme');
                const next = themeMap[current];

                bodyClass.replace(current, next);
                localStorage.setItem('theme', next);
            }

            document.getElementById('themeButton').onclick = toggleTheme;

        </script>
        <!-- /// HERO SECTION /// -->
        <div id="hero-section" class="medium-margin"></div>
        <!-- Hero Section End -->
        <!-- /// Main Container /// -->
        <div class="container">
            @RenderBody()
        </div>

        @Html.Partial("_Footer")

        <!-- //// SCRIPTS //// -->
        <script src="~/assets/js/jquery-3.2.1.min.js"></script>
        <script src="~/assets/js/popper.min.js"></script>
        <script src="~/assets/js/bootstrap.min.js"></script>
        <script src="~/assets/js/blazy.min.js"></script>
        <script src="~/assets/js/isotope.pkgd.min.js"></script>
        <script src="~/assets/js/lightbox.min.js"></script>
        <script src="~/assets/js/jquery-modal-video.min.js"></script>
        <script src="~/assets/js/validator.min.js"></script>
        <script src="~/assets/js/strider.js"></script>
        <script src="~/assets/js/gulp.js"></script>
    </body>
</html> 