<!-- //// HEADER //// -->
<header id="main-header">
    <nav class="navbar navbar-dark">
        <div class="container">
            <!-- Site Logo -->
            <a id="logo" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img class="img-fluid" src="~/assets/img/misc/aris-logo.webp" alt="ArisCorp Logo"></a>