@{
    ViewData["Title"] = "UEE Regierung";
    ViewData["BackAR"] = "VerseExkurs";
    ViewData["BackC"] = "Home";
    ViewData["BackA"] = "Index";
}
<div class="img-gameplays-line">
    <hr class="animation-element extend">
</div>

    <h1 class="short-hr-left" style="font-family: 'Nasa'; float: left;">Excurs - UEE & Regierung</h1>

    <br>

    <img src="https://www.ariscorp.de/assets/img/excurs/uee/UEE-City-Center.webp" alt="UEE-City-Center" width="100.9%" height="auto">

    <br>
    <br>
    <br>

    <span>Als die Menscheit in das Sonnesystem aufbrach, wusste sie, dass sie für große Dinge bestimmt war. Während sie noch kleinere Differenzen hatte, vereinte sie die Expansion ins Universun dennoch als eine Spezies. Planeten wurden terraformt, un wachsendem Ressourcenbedarf gerecht zu werden, so dass die uberbefolkerung der Erde bald kein Problem mehr war. Die Menscheit schloss sich zusammen, um sich den monumentalen Herausforderungen zu stellen, die vor ihr lagen.</span>

    <br>
    <br>

    <span>Auf der Reise stiess die Menschheit auf neü ausserirdische Zivilisationen. Einige waren freundlich gesinnt, wie zum beBeispiel die handelsorientierten Banu - andere hingegen nicht. Eine stolze Kriegerrasse, bekannt als Tevarin, lOESte den ersten und zweiten interstellaren Krieg der Menschheit aus. Das Xi'an-Inperium unterhielt mit den Menschen eine kühle Beziehung.</span>

    <br>
    <br>

    <span>Der Kampf ums überleben führt die Menschheit schliesslich auf einen dunklen Pfad. Ein brilliantervund manipulativer Soldat namens Ivar Messer schürte Angst, um sich schliesslich als erster Imperator der Erde aufzuschwingen und die bis dahin unabhängigen Planeten zu einem Empire zu formen. Hunderte Jahre regierte die Dynastie der Messers das Vereinigte Empire Empire der Erde mit Härte und Kontrolle, bis das Volk aufstand, um die despotischen Herscher zu stürzen und die korrupte Regierung in eine Institution des Volkes zu wandeln.</span>

    <br>
    <br>

    <span>Heute wird die UEE von Senatoren regiert, die von Bürgern aus dem ganzen Empire gewählt werden, wärend das Militär die Grenzen des Empires mit rieseigen Kanpfschiffen schützt. Gleichzeitig gedeiht der Handel zwischen den Systemen und Spezies. Mit dem Ende des Jahrhunderts zeichnen sich jedoch neü Probleme am Horizont ab, die viele dazu veranlassen, sich zu fragen, ob die UEE weiterhin überleben kann.</span>

    <br>
    <br>

    <h2 style="font-family: 'Nasa'">Das Jahr 2950</h2>
    <span>Im Jahr 2950 also heute, leben die Menschen auf mehr Welten in mehr Systemen als zu irgendeinem anderen Zeitpunkt in der Geschichte. Unternehmen der Xi'an operieren offen im vom Menschen besiedelten Raum und neü Handelsabkommen sehen noch mehr Möglichkeiten vor.Zum ersten Mal überhaupt wird ein Tevarin in den Senat gewählt. Menschen haben eine bessere Chance als je zuvor, ein erfolgreiches und Glückliches Leben zu führen. Aber das soll nicht so bleiben.</span>

    <br>
    <br>

    <span>Die Grenzen des Empires werden von den Vanduul belagert und der Grossteil der millitärischen Macht der UEE widmet sich der Kriegführung. Dies belastet den Haushalt der UEE, der durch massive Projekte wie die Synthworld, ein ehrgeiziges Experiment zur Schaffung einer künstlichen neün Welt, ohnehin unter Druck ist. Während sich das Empire bemüht, über die Runden zu kommen, gewinnen kriminelle Organisationen an Stärke und es wird mehr auf Milizen und private Söldnergruppen vertraut, um die Sicherheit im Empire zu gewährleisten. Einige glauben, dass die Zeit des Empires Ende geht und Gruppen wie die Terranischen Separatisten oder die People's Alliance versuchen, so schnell wie möglich eine neü ära des Wandels einzuleiten.</span>

    <br>
    <br>

    <span>Mehr noch: Obwohl es so aussieht, als würden sich die xeno-diplomatischen Beziehungen nach und nach verbessern, scheint es unter der oberfläche doch zu brodeln. Kann man den Xi'an wirklich vertraün ? Haben sie nach Jahrhunderten des Misstraüns wirklich nur das Beste für die Menschheit im sinn oder ist ihr wirtschaftliches Engagement in die UEE nur ein Versuch, die Menschheit zu schwächen ? Die Banu sind zwar ständige Handelspartner, aber mit ihrer anhaltenden Beteiligung am Slavenhandel und ihrer launischen Natur- wie lange wird es daürn, bis ihnen jemand ein besseres Angebot macht und sie die Menschen verraten? Viele Tevarin sind mit ihrem Platz in der UEE unzufrieden und flüstern über die mögliche Wiedergeburt einer eigenen Nation. Kurz: Die Liste der Feinde der Menschheit könnte bald mehr als die Vanduul umfassen...</span>

    <br>
    <br>

    <div style="text-align: center;">
        <img src="https://www.ariscorp.de/assets/img/excurs/uee/UEEtrans.webp" alt="UEE-Transparent" width="30%" height="auto">

        <h2 style="font-family: 'Nasa'">Das United Empire of Earth (UEE)</h2>
        <span>Die Regierung des UEE ist auf verschiedene Abteilungen aufgeteilt.</span>
    </div>

    <br>

    <br>

    <h2 style="font-family: 'Nasa'" style="float: left;">Imperator</h2> <img src="https://www.ariscorp.de/assets/img/excurs/uee/addison.webp" alt="" style="float: right;" width="30%" height="auto">
    <span>Ursprünglich der Diktator. Nach der Messer-ära strkturierte die UEE die Funktion des Imperators um. Heute ist er mehr ein "Präsident". Er wird denokratisch gewählt, seine Amtszeit ist befristet. Die Position ist dazu da, um die endgültigen Entscheidungen im Verse zu treffen. Gesetze werden im Senat vorgeschlagen und besprochen, dann dem High Secretary vorgelegt, schliesslich genehmigt sie der Imperator oder er legt sein Veto ein.</span>


    <br>
    <br>

    <span>Laylani Addison, geboren 2889, ist unsere aktuelle Imperatrix im United Empire of Earth (UEE). Zuvor war sie Dekanin für angewandte Wissenschaften (2931-2947) und davor neun Jahre Professorin für integrierte Wissenschaft und Xenotechnologie an der Mentor University.</span>

    <br>
    <br>

    <span>Ihr Wahlprogramm umfasst Pläne für eine Innovationsinitiative, die die derzeitigen Beschränkungen für KI-Forschung lockern und die Ausgaben für Bildung und wissenschaftliche Forschung erhöhen wird. Sie versucht, die Finanzierung von öffentlich subventionierten Universitäten zu steigern, die Beziehungen zwischen menschlichen und außerirdischen Zivilisationen zu stärken, mehr Mittel für Synthworld bereitzustellen und ein Regierungsprogramm zu schaffen, um das verlorene menschliche Kolonieschiff "Artemis" zu lokalisieren. Sie ist keiner politischen Partei angeschlossen.</span>

    <br>
    <br>
    <br>
    <br>
    <br>

    <h2 style="font-family: 'Nasa'">High Secretary</h2>
    <span>Er wacht über alles, was in der UEE für das Zusammenleben von grosser Bedeutung ist - Kommunikation, Transport, Abwasser, Strom, Landwirtschaft, und anderes mehr. Alle Fragen im Zusammenhang mit der Infrastruktur der UEE werden vom Senat diskutiert, dann an den High Secretary weitergeleitet, bevor auch der Imperator darüber befindet.</span>

    <br>
    <br>

    <h2 style="font-family: 'Nasa'">High Advocate</h2>
    <span>Er ist der Generalstaatsanwalt der UEE. Sein Büro kümmert sich um die Durchsetzung von Gesetzen, stellt aber auch sicher, dass die lokalen Regierungen der UEE die neusten änderungen der geltenden UEE-Gesetze einhalten.</span>

    <br>
    <br>

    <span>Der High-Advocate und die nachfolgenden Abteilungen übernehmen die rechtlichen und Polizeilichen Aufgabendes Empire- gegründet im Jahr 2523, als die United Nations of Earth (UNE) in die United Planets of Earth umgestaltet wurden. Die Advocacy wurde hierzu als eine system-übergreifende Polizei unter dem High Advocate konzipiert. Während der faschistischen Messer-ära übernahm die Advocacy eine dunkle Rolle als Geheimpolizei, Geheimdienst und Spionagebehörde des Imperators. Das genaü Ausmass ihrer Handlungen ist noch unbekannt, aber die Advocacy- Beamten waren damals offenbar in Morde, willkürliche Verhaftungen und Folter verwickelt.</span>

    <br>
    <br>

    <h2 style="font-family: 'Nasa'">Advocacy</h2> <img src="https://www.ariscorp.de/assets/img/excurs/uee/UEE_Advocacy.webp" alt="UEE-Advocacy" style="float: right;" width="15%" height="auto">
    <span>Als der Imperator fiel, wurde die Advocacy zu ihrem ursprünglichem Zweck wiederhergestellt. Während die meisten Planeten sich seitdem selbst überwachen, verfolgt die Advocacy Verbrechen, die planeten- und systemübergreifend verfolg werden. Dazu zählen auch so genante Extraktionen, also Verfolgen in Banu- oder Xi'an-Gebiet. Advocacy Agents werden in der Regel von Kriminellen gefürchtet. Sie sind gut ausgebildet, zu gleichen Teilen Fliegerass und gründlicher Ermittler.Die meisten Advocacy-Agenten arbeiten allein, aber es können auch ganze Teams für hochkarätige Ziele oder komplizierte Situationen eingesetztbwerden. </span>

    <br>
    <br>
    <br>
    <br>

    <h2 style="font-family: 'Nasa'">Senatoren</h2>
    <span>Gewählt von den Bürgern ihrer jeweiligen Planeten, arbeiten Senatoren hauptsächlich im UEE-senat. Senatoren schaffen keine direktelokale Gesetzgebung oder ernennen lokale Beamte, aber ihre Unterstützung und ihr Einfluss sind unbestreitbar mächtig.</span>

    <br>
    <br>

    <h2 style="font-family: 'Nasa'">Parteien</h2>
    <span>Aufgrund der enormen Größe des UEE gibt es hunderte verschiedene politischeParteien, aber es gibt drei, die die politische Landschaft dominieren. </span>

    <br>
    <br>

    <span style="font-size: 120%; font-weight: bold;">Universalisten </span><span> - Institutionsfokussierte ideologie. Regierung und Systeme leiten die Menschen. Von manchen als vermögensorientiere Ideologie angesehen.</span>

    <br>
    <br>

    <span style="font-size: 120%; font-weight: bold;">Zentralisten </span><span>- Liberale polotische Ideologie. Es geht darum, den Status quo zu pflegen. Die Partei setzt sich dafür ein, dass die Erde der wichtigste Ort des UEE ist und bleibt.</span>

    <br>
    <br>

    <span style="font-size: 120%; font-weight: bold;">Transitionalisten </span><span> - Relativ junge "Volkspartei". Der größeste Teilihrer Rhetorik ist auf "Zukunft" Und "Fortschritt" gerichtet. Sie Unterstützen Terra als das künftige Zentrun des UEE.</span>

    <br>
    <br>

    <h2 style="font-family: 'Nasa'">Der UEE-Senat</h2>

    <img src="https://www.ariscorp.de/assets/img/excurs/uee/UEE_Senat.webp" alt="UEE-Senat">

    <br>

    <span>Es gibt viele Systeme unter UEE-Kontrolle. Jedes System besteht aus einer Handvoll Planeten, einige sind terrqformt für die Besiedelung, auf anderen werden Ressourcen abgebaut und wieder andere sind nur nutzlose Felsbrocken im All. Wenn ein Planet eine bestimmte Bevölkerungszahl oder einen gewissen Einfluss erreicht hat, kann er die Anerkennung durch die Regierung beantragen. Wenn der Planet hierbei erfolgreich ist ,darf er einen Bürger wählen, der ihn im Senat vertritt. Dieser Senator dient für jeweils fünf jahre und kann mehrere Amtszeiten absolvieren. Nur die größeste und einflussreichsten Planeten besitzen mehrere Senatoren. Im Senat werden die grossen Probleme des UEE debattiert. Ziel im Senat ist es auch, nach der dunklen ära des Messer-Regimes eine Art Wiedergutmachung zu leisten.</span>

    <br>
    <br>

    <h2 style="font-family: 'Nasa'">Lokale Regierungen</h2>
    <span>Das Leben im UEE bietet ein breites Spektrum an Erfahrungen. Im Jahr 2948 haben sich die verschiedenen Ethnien komplett vermischt. Die verschiedenen Sprachen und Wurzeln gibt es nach wie vor, haben aber auch viel Neüs kreiert. jeder Planet Muss Lobbyarbeit leisten, um sich einen Sitz im Senat zu erobern. Es gibt somit zwei Kategorien - "Vertreten" und "nicht vertretent".</span>

    <br>
    <br>

    <h2 style="font-family: 'Nasa'">"Vertreten"</h2>
    <span>Das bedeuten, dass der Planet einen Sitz im Senat des UEE hat - von Terra und seiner Milliarden-Population bis zu kleinen Ballungzentren auf Magnus.</span>

    <br>
    <br>

    <h2 style="font-family: 'Nasa'">"Nicht vertreten"</h2>
    <span>Sobald UEE- Inspektoren einen Planeten als sicher für die Besiedelung zertifizieren, sind Mitglieder der Terraforming-Teams oft gleichzeitig auch die ersten Siedler. Es folgen of weitere Gutachter. Sie forschen nach allem, was denPlaneten als potetiell größeste bevölkerungszentrum etablieren könnte. Dies Können einzigartige Mineralien oder weitere Sprungpunkte sein. Sie hoffen stets, dass nächste Terra gefunden zu haben. Wenn sie nichts Interessantes finden, ziehen sie weiter. Unterdessen kommen die ganzen Glüksritter.</span>

    <br>

    <span>Diese Planeten sind zu diesem Zeitpunkt weder in Senat vertreten noch stehen sie unter dem Schutz des UEE-Millitärs. Dies kann zwar spannend für Händler sein, die föderale zölle vermeiden wollen, bedeutet aber auch, dass Piraten und Banditen hinter jeder Ecke laürn können, nicht zu vergessen die Möglichkeit von Vanduul-Angriffen, die jederzeit erfolgen können. Die Regierungen handeln daher sehr regional orientiert, in der Regel unter der Leitung eines Gouverneurs. Meist existiert auch eine Art Polizei oder Miliz. Im schlimmsten Fall müssen sich die Koloniebewohner selbst schützen.</span>

    <br>

    <span>Wenn die Bevölkerung auf diesem nicht vertretenen Planeten zu wachsen beginnt, entsendet das UEE schliesslich politische Berater, um die Bevölkerung beim Aufbau ihrer planetarischen Regierung zu beraten. Zunächst gibt es nur wenig Unterscheidungen zwischen Bürgern und Zivilisten. Wenn die Bevölkerung wächst, kristallisieren sich diese Unterschiede aber langsam heraus. Der lokale Governeurs-Rat beantragt beim UEE schliesslich die Anerkennung. Wenn sie akzeptiert wird, sind die Bürger die einzigen, die an den Senatswahlen teilnehmen dürfen. Als Teil des UEE unterliegen auch die kleinsten Siedlungen den Gesetzen des UEE. Lokale Regierungen sind berechtigt, zudem eigene Gesetze zu erlassen, solange sie nich im wiederspruch zu denen des UEE stehen.</span>

    <br>
    <br>

    <h2 style="font-family: 'Nasa'">Gouverneure</h2>
    <span>Was früher Nationen waren sind heute nur noch staaten, die sich von voneinander abgrenzen. Dünn besiedelte Welten können Räte von zwei Gouverneuren haben, während dicht besiedelte Welten Dutzende stellen können. Ratssitzungen werden einberufen, um Streitigkeiten beizulegen und durch Abstimmungen die auf den jeweiligen Welten gültigen Gesetze zu ratifizieren.</span>

    <br>
    <br>

    <h2 style="font-family: 'Nasa'">Strafverfolgung</h2>
    <span>Die Strafverfolgung ist in lokale und föderale Polizeikräfte geteilt. Dien lokale Polizei hat ihre eigenen zugewiesenen Gerichtsbarkeiten, während die föderale Polizei Verbrechen über die Staatsgrenzen hinweg bearbeitet unddem Gouverneursrat Bericht erstattet. Je nach Lage und Status des Planeten können die Polizeikräfte das UEE-Millitär um Schutz, Intervention oder Unterstützung etwa im Falle einer Naturkatastrophe bitten.</span>

    <br>
    <br>

    <h2 style="font-family: 'Nasa'">Geheimdienst</h2>
    <span>Office of Executive Services (OES)</span>

    <br>
    <br>

    <span>Hinter einem langweiligen Namen in den labyrinthartigen Eingeweiden des Senatshaushaltes versteckt, ist das "Office of Executive Services" die entscheidende Abteilung der UEE für die Sammlung, Analyse oder Nutzung von Informationen und Erkenntnissen zur Unterstützung von Strafverfolgung, imperialer Sicherheit, Verteidigung und geheimen aussenpolitischen Zielen. Das Office wurde eingerichtet, um zu verhindern, dass sich eines Tages erneut ein Despot erhebt. Da die Abteilung nie offiziell eingeführt wurde, weiss niemand genau, wann das Büro gegründet wurde. Die erste bekannte Erwähnung erfolgte im Archiv der Sitzung des Senatsausschusses im Jahr 2794. Aber erste mögliche Hinweise deuten auf eine Aktion bereits sechs Jahre zuvor hin.</span>

    <br>

    <span>Nathan Warrick, ein Leiter der Advocacy-Abteilung im Terra-System, half damals das Treffen von Senator Akari mit den Xi'An zu erleichtern, um den Vertrag zwischen beiden Spezies vorzubereiten, der die Spannungen mit den Xi'An abbaün und den Beginn des Endes der Messer-ära einleiten sollte. Nach diesem Vorfall verliess Warrick die Advocacy und verschwand. Nach dem Sturz des Messer-Regimes erschien Warrick wieder als "Berater", bevor er im Jahr 2794 während dieser Sitzung des Senatsausschusses zum ersten Direktor des "Office of Executive Services" ernannt wurde. Die öffentlichkeit weiss hingegen nicht, dass das Büro überhaupt existiert. Es gibt natürlich Gerrüchte, aber die verleugnung der Existens hatte von Anfang an oberste Priorität.</span>

    <br>
    <br>

    <h2 style="font-family: 'Nasa'">Behörden</h2>
    <span>Department of Transportation and Navigation (DTN)</span>

    <br>
    <br>

    <span>Das Department of Transportation and Navigation (DTN) ist ein Zweig der UEE-Regierung, die den Intersystemverkehr reguliert. Die Verwaltung von Weltraumverkehrswegen, Schifffahrtsrouten, Quantenreisepunkten und Sprungpunkten fällt unter die Schirmherrschaft des DTN´s. Das Verkehrssicherheitsamt (TSB), ein Teil des DTN´s, legt Regeln und Vorschriften für die Flugsicherheit fest.</span>

    <br>
    <br>
    <br>

    <h2 style="font-family: 'Nasa'">Das Militär des UEE</h2>
    <img src="https://www.ariscorp.de/assets/img/excurs/uee/NAVYFLEET.webp" alt="UEE Fleet" width="80%" height="auto"> <br>

    <span>Während es in vielen UEE- Systemen, insbesondere in den bevölkerungsreicheeren, eine umfassende Sicherheit gibt, haben die anhaltenden Gefahrendes Weltraums dazu beigetragen, eine Kultur des fortwährenden Militärdienstes zu schaffen. Einige sehen den Militärdienst als Pflichtübung, andere einfach als einen schnelleren - wenn auch potenziell gefährlichen - Weg, die Staatsbürgerschaf zu erlangen, und wieder andere sehen das Militär als Vollstrecker einer Regierung, die versucht , die Versucht, sich hinter einer freundlichen Fassade zu verstecken. Mit anderen Worten, die Reaktion der öffentlichkeit auf das Militär ist unterschiedlich. Aufgrund der grossen Präsenz des Militärdienstes, hat ein grosser Teil der Bevölkerung entweder beim Militär gedient oder kennt jemanden, der es getan hat.</span>

    <br>

    <span>Das Militär ist in drei Divisionen aufgeteilt: Navy, Army und Marines. Als Ivar Messer seine Macht konsolidierte, verband er die Befugnisse des High-Generals mit der Position des Imperators, um zu verhindern, dass eine andere Regierungsfraktion das Militär gegen ihn einsetzen konnte. Im Zuge dessen wurde das UEE High Command gegründet, ein Ausschuss der einzelnen Teilstreitkräfte, der zudem dafür sorgte, dass die Befehle des Imperators schneller und effektiver umgesetzt wurden. Dieses UEE High Command gibt es noch heute. Technisch gesehen ist der aktülle Imperator daher immernich der High-General.</span>

    <br>
    <br>
    <br>

    <h2 style="font-family: 'Nasa'; float: left;">Navy</h2> <img src="https://www.ariscorp.de/assets/img/excurs/uee/UEE_Navy.webp" alt="UEE-Navy" style="float: right;" width="32%" height="auto">
    <br> <br> <span>Die Navyist der grösste Teilbereich und das öffentliche Gesicht des UEE-Militärs. Die Navy ist verantwortlich für den Transport militärischer Ressourcen, die Sicherung der Grenzen und die Durchführung von Militärangriffen in der gesamten UEE. Die Navy ist in fast jedem System des Empires im Einsatz. In den frühen Tagen der Expansion der Menschheit in den Weltraum diente die Navy in erster Linie als Polizei und patrouilierte die Systeme. Nach der Entdeckung der Banu erkannte die Regierung, dass die Navy als militärische Präsenz neu ausgerichtet werden musste. Die Flotte begann zu wachsen, da sie die offensichtlichste visuelle Darstellung der militärischen Stärke der Menschheit war. Motiviert von Geschichten und Videos mutiger Piloten, meldeten sich zahlreiche Rekruten an. Während der Messer-Ära wuchs die Navy zusammen mit dem Rest des UEE-Militärs weiter an. Strukturell ist die UEE Navy in Squadrons aufgeteilt, denen ein Bengal Träger und eine bestimmte Anzahl Unterstützungsschiffe zugeordnet sind. Ein Admiral ist für den Träger und die Staffel verantwortlich. Die Rekruten trainieren im Schatten der riesigen Werften an den Akademien und in Bootcamps auf MacArthur im Kilian-System.</span>

    <br>
    <br>
    <br>

    <h2 style="font-family: 'Nasa'; float: left;">Army</h2> <img src="https://www.ariscorp.de/assets/img/excurs/uee/UEE_Army.webp" alt="UEE-Army" style="float: right;" width="32%" height="auto">
    <br> <br> <span>Die Army ist eine sehr gut ausgerüstete Bodentruppe, die bei landgestüzten militärischen Operationen eingesetzt wird und ein wachsames Auge auf Arten von sich noch entwickelnden Planeten hat. Obwohl sie nicht die Grösse der Navy hat, ist die UEE-Army der älteste Zweig des Militärs, der im Jahr 2380 als Teil der Gründung der United Nations of Earth ins Leben gerufen wurde. Die Hauptaufgabe der Army ist es Kriege zu gewinnen, indem sie eine schnelle und nachhaltige Landdominanz über die gesamte Bandbreite militärischer Operationen gewährleistet". Während die Öffentlichkeit in den vergangenen Jahrhunderten vor allem in mächtige Kriegsraumschiffe und ihre Piloten verliebt war, rückte die UEE-Army während des ersten Tevarin-Krieges ins öffentliche Bewusstsein - etwa durch die Schlacht auf Idris IV, die dank der brillianten Taktik eines jungen Offiziers namens Ivar Messer zum grössten Wendepunkt des Krieges wurde.</span>

    <br>
    <br>
    <br>

    <h2 style="font-family: 'Nasa'; float: left;">Marines</h2> <img src="https://www.ariscorp.de/assets/img/excurs/uee/UEE_Marine.webp" alt="UEE-Marines" style="float: right;" width="32%" height="auto">
    <br> <br> <span>Sie sind Speerspitze und Schocktruppe gleichermassen. Die Marines wurden bis zum Ende des ersten Tevarin-Krieges unter dem Dach der Befehlstruktur der Army geführt. Erst danach wurde eine eigene Division daraus gebildet. Die UPE war der Meinung, dass sie eine konsolidierte Spezialeinheit brauchte, die das beste aus der Navy und der Army vereinigte. Ihr Fokus und ihre primäre Aufgabe wurde die Invasion auf Planeten. Einheiten der Marines sind dabei reine Kriegswaffen. Sie kümmern sich nicht um Diplomatie oder ähnliches. Wenn der Imperator sie nicht braucht, trainieren die Marines auf ihrer Basis auf Corin im Kilian-System. Kandidaten der Marines werden aus dem allgemeinen Pool der Rekruten der Army und der Navy ausgewählt. Die Auswahlkriterien sind unbekannt.</span>

    <div class="img-gameplays-line">
        <hr class="animation-element extend">
    </div>
