<head>
    <!-- META TAGS -->
    <meta charset="utf-8">
    <meta name="author" content="Thomas Blakeney / Blizii">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- WEBSITE TITLE & DESCRIPTION -->
    <title>VerseExkurs @ViewData["Title"] - Astro Research and Service Industrial Corporation</title>
    <meta name="description" content="@ViewData["Title"]">
    <meta name="keywords" content="sc, starcitizen, organisation, orga, aris, ariscorp, sc-orga">

    <!-- OG meta tags that improve the look of your post on social media -->
    <meta property="og:site" content="https://www.ariscorp.de/VerseExkurs" /> <!--website link-->
    <meta property="og:title" content="VerseExkurs der Astro Research and Service Indistrial Corporation" /> <!--Post title-->
    <meta property="og:description" content="Willkommen auf dem VerseExkurs der Astro Research and Industrial Service Corporation aka. ARISCORP! Hier kannst du alles über die Lore rund um das StarCitizen-Universum!" /> <!--Post description-->
    <meta property="og:image" content="/assets/img/favicon/ms-icon-150x150.png" /><!-- Image link (jpg only)-->
    <meta property="og:url" content="https://www.ariscorp.de/VerseExkurs" /> <!--where do you want your post to link to-->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Astro Research and Service Industrial Corp - VerseExkurs" />

    <!-- Favicon and Apple Icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/assets/img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- //// STYLES //// -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <!-- FontAwesome -->
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
    <!-- Animations -->
    <link href="/assets/css/animations.css" rel="stylesheet">
    <!-- Lightbox -->
    <link href="/assets/css/lightbox.min.css" rel="stylesheet">
    <!-- Video Lightbox -->
    <link href="/assets/css/modal-video.min.css" rel="stylesheet">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="/assets/css/style.css" />
    <!-- Font Awesome -->
    <link href="/assets/css/font-awesome-all.css" rel="stylesheet">
    <!-- ScrollSpy -->
    <link rel="stylesheet" href="/assets/css/ScrollSpy.min.css" />
    <!-- JQuery UI -->
    <link rel="stylesheet" href="/assets/css/jquery-ui.css">
    <!-- Aris Icons -->
    <link rel="stylesheet" href="/assets/css/ArisIcons.css">

    <!-- //// SCRIPTS //// -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/assets/js/jquery-ui.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.js"></script>
    <script src="/assets/js/blazy.min.js"></script>
    <script src="/assets/js/isotope.pkgd.min.js"></script>
    <script src="/assets/js/lightbox.min.js"></script>
    <script src="/assets/js/jquery-modal-video.min.js"></script>
    <script src="/assets/js/validator.min.js"></script>
    <script src="/assets/js/strider.js"></script>
    <script src="/assets/js/gulp.js"></script>
    <script src="/assets/js/ScrollSpy.min.js"></script>

    <link id="themecss" rel="stylesheet" type="text/css" href="~/assets/css/shieldui.css" />
    <script type="text/javascript" src="//www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>

    <script type="text/javascript">
        jQuery(function ($) {
            $("#tabsDiv").shieldTabs();
        });
    </script>
    <style>
        #tabsContainer {
            margin: auto;
        }
    </style>
</head>