@{
    ViewData["Title"] = "Leben im UEE";
    ViewData["BackAR"] = "VerseExkurs";
    ViewData["BackC"] = "Home";
    ViewData["BackA"] = "Index";
}

<div id="toc" class="toc">
    <div class="toctitle" lang="de" dir="ltr"><h2>Inhaltsverzeichnis</h2><span class="toctoggle">&nbsp;[<a role="button" tabindex="0" class="togglelink">Verbergen</a>]&nbsp;</span></div>
    <ul>
        <li class="toclevel-1 tocsection-1"><a href="#Specifications"><span class="tocnumber">1</span> <span class="toctext">Specifications</span></a></li>
        <li class="toclevel-1 tocsection-2">
            <a href="#Model"><span class="tocnumber">2</span> <span class="toctext">Model</span></a>
            <ul>
                <li class="toclevel-2 tocsection-3 active"><a href="#Series_variants"><span class="tocnumber">2.1</span> <span class="toctext">Series variants</span></a></li>
            </ul>
        </li>
        <li class="toclevel-1 tocsection-4"><a href="#Development"><span class="tocnumber">3</span> <span class="toctext">Development</span></a></li>
        <li class="toclevel-1 tocsection-5"><a href="#Trivia"><span class="tocnumber">4</span> <span class="toctext">Trivia</span></a></li>
        <li class="toclevel-1 tocsection-6"><a href="#Gallery"><span class="tocnumber">5</span> <span class="toctext">Gallery</span></a></li>
        <li class="toclevel-1 tocsection-7"><a href="#See_also"><span class="tocnumber">6</span> <span class="toctext">See also</span></a></li>
        <li class="toclevel-1 tocsection-8"><a href="#References"><span class="tocnumber">7</span> <span class="toctext">References</span></a></li>
    </ul>
</div>
<style>
    .mw-content-ltr .toc ul, .mw-content-rtl .mw-content-ltr .toc ul {
    text-align: left;
}
.toc > ul {
    margin: 0.6rem 0 0 0 !important;
    position: relative;
    z-index: 2;
    border-left: 1px dashed;
    max-width: calc((100vw - 940px) / 2);
    max-height: calc(100vh - 192px);
    overflow: visible auto;
    overscroll-behavior: contain;
    display: block;
}
.toc ul {
    margin: 0 !important;
    list-style: none;
}
.mw-body-content ul {
    margin: 0.8rem 0 0 1.6rem;
}
.toc ul {
    margin: 0.3em 0;
}
.mw-content-ltr ul, .mw-content-rtl .mw-content-ltr ul {
    margin: 0.3em 0 0 1.6em;
    padding: 0;
}
p, ul, ol, dl {
    margin: 0.8rem 0 0 0;
}
ul, ol {
    padding: 0;
}
ul {
    list-style-type: square;
}
@@media only screen and (prefers-color-scheme: dark)
* {
    scrollbar-color: #34383f transparent;
}
* {
    scrollbar-width: thin;
    scrollbar-color: #c8ccd1 transparent;
}
user agent stylesheet
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
@@media (prefers-color-scheme: dark)
.toc {
    color: #6c6e73;
}
.toc {
    position: fixed;
    z-index: -1;
    max-width: 450px;
    top: 56px;
    left: 0;
    padding: 20px;
    color: #c8ccd1;
}
.mw-content-ltr {
    direction: ltr;
}
.mw-body-content {
    font-size: 1rem;
    line-height: 1.6;
}
.mw-body, .parsoid-body {
    margin-top: 76px;
    padding: 0 20px;
    min-height: 80vh;
    direction: ltr;
}
</style>








<div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-offset="0" tabindex="0">
    <div class="img-gameplays-line">
        <hr class="animation-element extend">
    </div>
    <h1 class="short-hr-left" style="font-family: 'Nasa'; float: left;">Excurs - Leben im UEE</h1>

    <br>
    <br>
    <br>
    <div id="Schulische-Äquivalenz">
        <h2 style="font-family: 'Nasa'">Schulische-Äquivalenz</h2>
        <span>Die Grund-Ausbildung erfolgt digital und über Computersysteme. Eine Vielzahl von Unternehmen hat durch imperiale Subventionen Lernprogramme geschaffen, die in der Lage sind, Kinder zur Erreichung der Gleichwertigkeit, der so genannten "äguivalenz", vergleichbar mit dem Niveau einer High School im 21. Jahrhundert zu erzielen. Diese Programme werden in der Regel auf Grenzplaneten und in ländlichen Gebieten eingesetzt, die keinen direkten Zugang zu einer Schule haben. Es handelt sich im Grunde genommen um ein Multiple -Choice-Quiz, so dass es sehr wenig Möglichkeiten gibt, interpretatives Denken zu entwickeln. Es geht nur darum, Fakten zu vermitteln.</span>

        <br>
        <br>

        <span>Der nächste Schritt ist eine öffentliche Schule. Einige öffentliche Schulen, zum Beispiel in den Megacitys, unterrichten bis zu fünfhundert Schüler in einem Klassenzimmer gleichzeitig. In dieser Umgebung wird der grösste Teil des Wissens über Monitore vermittelt, aber es gibt auch immer noch einen Lehrer, der sich um die gelegentlichen Fragen kümmert und Essays bewertet. Der dritte Schritt ist eine private Akademie, die zwar tür ist, aber die besten Bildungsdienstleistungen von qualifizierten Lehrern anbietet. Diese Akademien bieten Stipendien für aussergewöhnliche Studenten, aber viele argumentieren, dass dies nur dazu dient, Zugang zu erhöhter Budgethilfe zu erhalten.</span>

        <br>
        <br>
        <br>
    </div>
    <div id="Nachäquivalenz">
        <h2 style="font-family: 'Nasa'">Nachäquivalenz</h2>
        <span>Nach Erreichen der äquivalen zhat ein Student mehrere Möglichkeiten: Eintritt ins Berufsleben, Eintritt ins Militär oder eine Hochschulbildung. Während die erste Option in der Regel keinen Gleichwertigkeitsnachweis erfordert, tun es das Militär und die Universitäten. Das Militär bietet engagierten Bewerbern äquivalenz kurse an, kann aber auch auf die äquivalenz forderung verzichten, wenn der Rekrut über "wünschenswerte Fähigkeiten" verfügt. Da die Hochschulbildung allein nicht für die Staatsbürgerschaft qualifiziert, tritt eine grosse Zahl von Hochschulabsolventen dem Militär bei.</span>

        <br>
        <br>
        <br>
    </div>
    <div id="Bürgerschaftsstatus">
        <h2 style="font-family: 'Nasa'; float: left;">Bürgerschaftsstatus</h2>
        <br> <br> <span>Die breite öffentlichkeit besteht aus Zivilisten (Civilian). Jeder der auf einer mitgliedswelt der UEE geboren wird ist Zivilist und damit regestrierter Einwohner des UEE. Jeder Zivilist kann später den Bürgerstatus (Citizen) erreichen. Im Alter von siebzehn Standard- Erd-Jahren beginnen die Bewohner Steürn zu zahlen, können eigentum besitzen und bei Wahlen und Gesetzgebungen abstimmen, wenn sie auf einem System registriert sind. Das grosse Ziel aber ist es Bürger der UEE zu werden. Dies sind auserwählte Mitglieder der Gesellschaft.</span>

        <br>
        <br>

        <span>"Bürger" zu sein ist dabei ein Status, der erst verdient werden muss. Hierfür muss man aktives Engagement für die Interessender UEE zeigen, was durch einen hervorragenden Militärdienst, Zivildienst oder eine Bewerbung erfolgen kann.Bürger haben diverse Vorteile. Ihnen ist zum Beispiel erlaubt, eine Multi-System-Corporation zu besitzen, ein politisches Büro zu betreiben, sie dürfen bei UEE-Themen abstimmen und an Kommunalwahlen und an der Gesetzgebung mitwirken. Darüber hinaus können sie UEE-Lizenzen zum Handel mit den Xi'an oder den Banu erwerben, ausserdem zahlen sie eine etwas geringere Steür. Verurteilten Kriminellen ist es hingegen nicht erlaubt, Bürger zu werden. Wer daürhaft gegen Ziehle und Vorschriften der UEEverstöss, kann seinen Bürger-Status auch wieder verlieren. Gleichwohl ist auch friedliches Leben ohne UEE- Staatsbürgerschaft möglich.</span>

        <br>
        <br>
        <br>
    </div>
    <div id="Währung des UEE">
        <h2 style="font-family: 'Nasa'; float: left;">Währung des UEE - United Earth Credits (UEC)</h2> <img src="https://www.ariscorp.de/assets/img/excurs/uee/UEC_Banking.webp" alt="UEE-Navy" style="float: right;" width="32%" height="auto">
        <br> <br> <span>Kurz nach der Gründung der United Planets of Earth, der UPE im Jahr 2523 nahm die Expansion der Menschheit in die Galaxie exponentiell zu. Auch die Terraforming-Technologie setzte sich durch. Diese schnelle Expansion und die Kolonisierung waren es, die die erste wirkliche Herausforderung für die neu gegründete UPE darstellten. Denn folglich wurden verschiedene miteinander konkurrierende Währungen auf verschiedenen Planeten eingeführt und forderten die Cash Transaction Records, die damals offizielle Währung der UPE heraus.</span>

        <br>
        <br>

        <span>Im Frühjahr 2528 versammelte High Secretary Livia Fenner daher schließlich eine Kommission aus Ökonomen, Finanzberatern und Beamten, um mögliche Lösungen für die damit einhergehenden Probleme zu finden. Die Kommission verbrachte die nächsten Monate damit herauszufinden, ob die Regierung gleichzeitig verschiedene Währungen unterstützen könne. Schließlich entschied sie aber, dass das gesamte Währungssystem komplett überarbeitet werden müsste. Den lokalen Regierungen wurde verboten, eigene Zahlungsmittel zu prägen, damit die UPE alle Planeten unter eine einheitliche Währung bringen könnte.</span>

        <br>
        <br>

        <span>Bei diesen Treffen wurde der United Earth Credit geboren. Die UPE holte Experten aus den verschiedenen Finanzmärkten in die Zentralbank, um eine völlig neue Geldpolitik zu gestalten. Die erste Reaktion auf die UEC war bestenfalls lauwarm. Militärpolizeikräfte mussten zum Beispiel nach Cestulus im Davien-System entsandt werden, um dortige Unruhen zu unterdrücken, die durch Proteste ausgelöst wurden, die wiederum in der Angst vor drohenden wirtschaftlichen Zusammenbruch gründeten. Die bekannt gewordene "Belagerung von Jata" dauerte zwei Wochen, was zu Hunderten von Verletzten und den Tod von zwei Soldaten führte, bevor die Ordnung wiederhergestellt werden konnte.</span>

        <br>
        <br>

        <span>Es sollte insgesamt vier Jahre dauern, bis die UEC als offizielle Währung eingeführt war. High Secretary Fenner und der Rest der Kommission unternahmen große Anstrengungen, um die verschiedenen Planeten einzugliedern, die seit Jahrzehnten ihre eigene Währung besessen hatten. Dieser Prozess erregte sogar die Aufmerksamkeit des Banu-Protektorats, das nach einer Lösung für die konkurrierenden Währungen ihrer eigenen unabhängigen Planetenregierungen suchte.</span>

        <br>
        <br>

        <span>Ivar Messer schließlich eignete sich die Ressourcen der Zentralbank an und verwandelte die Bank in seinen persönlichen Tresor. Mit den Finanzen des neu benannten United Empire of Earth (UEE) konnte der Imperator seine Machtbasis festigen und erstickte jede Opposition im Keim. Imperator Galor Messer IX hatte schließlich die Idee, UECs oder Credits in "Imperials" umzubenennen. Eine Bezeichnung, die trotz ihrer dunklen Herkunft noch heute verwendet wird. So begann an diesem Tag, dem 20. August 2528 SET, das lange und turbulente Leben der United Earth Credits, UEC, Credits oder Imerials. Heute hingegen ist der moderne UEC einer der Leuchttürme wirtschaftlicher Stabilität.</span>

        <br>
        <br>
        <br>
    </div>
    <div id="Transportwesen">
        <h2 style="font-family: 'Nasa'; float: left;">Transportwesen</h2>

        <br>
        <div id="Am Boden">
            <h3 style="font-family: 'Nasa'; float: left;">Am Boden</h3>
            <span>Auch im 30. Jahrhundert existiert noch bodengebundener Verkehr. Vor allem auf den Grenzplaneten gibt es noch eine grosse Anzahl von Transporten. In den bevölkerungsreicheren Systemen existieren ebenfalls noch Strassen und Fahrzeuge, sie sind aber nicht mehr die dominierende Form des Planetarischen Transports. Diese Aufgabe haben HoverCars übernommen.</span>

            <br>
            <br>
        </div>
        <div id="Im Weltall">
            <h3 style="font-family: 'Nasa'; float: left;">Im Weltall</h3>
            <span>Für die allgemein Bevölkerung sind Raumschiffe und Interplanetare Reisen eine Alltag gewordene Realität, aber das bedeutet nicht, dass jeder auch ein Raumschiff besitzt. Sie sind nicht so verbreitet wie Autos zu beginn des 21. Jahrunderts. Gleichzeitig ist die Raumfahrt nicht etwas für die Reichen. Eine Vielzahl von Menschen mit unterschiedlichem sozialem und finanziellem Hitergrund sind zu den Sternen gegangen - in Schiffen der verschiedensten Preis- und Ausstatungskategorien.</span>

            <br>
            <br>
        </div>
        <div id="In Atmosphären">
            <h3 style="font-family: 'Nasa'; float: left;">In Atmosphären</h3>
            <span>Wenn unzählige fliegende Fahrzeuge die Städte durchqüren und zudem pausenlos Schiffe aus dem Orbit ankommen und abfliegen, sollte man meinen, dass es häufig Kollisionen gibt. Um diese Gefahr zu bannen, gibt es Flugkorridore, in denen Flüge nur in eine Richtung erlaubt sind. Auch für Raumschiffe existieren spezielle An- und Abflugrouten. Diese führen zu denLandeplätzen.</span>

            <br>
            <br>
            <br>
        </div>
        <div id="Kommerzieller Reiseverkehr">
            <h2 style="font-family: 'Nasa'; float: left;">Kommerzieller Reiseverkehr</h2>

            <br>
            <br>

            <img src="https://www.ariscorp.de/assets/img/excurs/uee/Commercial.webp" alt="Commercial-Flights" width="50%" height="auto">

            <br>
            <br>

            <span>Alle Grossstädte verfügen über mehrere öffentliche Verkehrsmittel. Prime verfügt beispielsweise über eine U-Bahn sowie eine oberirdische Einschienenbahn. Wer keine lust hat auf die Bahn zu warten, kann in ein HoverCar Taxi steigen. Da nicht jeder ein Schiff besitzt, das in der Lage ist, zwischen Sternensystemen zu reisen, gibt es einen kommerziellen Raumfahrtmarkt. Diese Transporter sind in der Lage, Personen, Güter oder beides zu transportieren. Es gibt Fluggesellschaften, die sich auf die verschiedensten Bedürfnisse spezialisiert haben. Einige richten sich an Siedler, die zu den Grenzwelten wollen, während andere Luxuskreuzfahrten zum Goss-System anbieten. Der Earth-Pinecone Run war die erste kommerzielle Hauptverkehrsstrecke zwischen Sol und dem Ellis-System.</span>

            <br>
            <br>
            <br>
        </div>
        <div id="Sprungpunkte">
            <h2 style="font-family: 'Nasa'; float: left;">Sprungpunkte</h2>

            <br>

            <img src="https://www.ariscorp.de/assets/img/excurs/uee/jumppoint.webp" alt="Jump-Point" width="50%" height="auto">

            <br>

            <span>Der Wechsel zwischen den Systemen ist durch Sprungpunkte möglich. Jeder dieser Sprungpunkte ernöglicht es, in kurzer Zeit grosse Entfernungen zu überwinden. Das Gebiet um den ersten von der Menschheit entdeckten Sprungpunkt wurde als Neso-Dreieck bezeichnet, weil Schiffe dort immer wieder spurlos verschwanden. Nick Croshaw entdeckte, dass die Anomalie eine Raum/Zeit Brücke warund navigierte erfolgreich hindurch. Er fand das Croshaw-System. Sprungpunkte sind für das blosse Auge unsichtbar. Sie können nur mit präzisen Scans gefunden werden - und auch nur dann, wenn man sie in einem bestimmten Winkel anfliegt. Der Bereich zwischen den beiden Sprungpunkten wird als Zwischenraum bezeichnet. Während sich die Wissenschaft oft gefragt hat, was dort existiert, ist jeder Versuch, den Zwischenraum zu erforsche, bislang gescheitert. In der Vergangenheit wurde der Zwischenraum oft als "verschwommene Raum/Zeit" beschrieben. Man hat das Gefühl, dass Ereignisse gleichzeitig vor und hinter einem liegen. Wenn ein Pilot durch einen neün Sprungpunkt navigiert ist, kann er die Daten an die UEE oder privat verkaufen.</span>

            <br>
            <br>
            <br>
        </div>
    </div>
    <div id="Religion">
        <h2 style="font-family: 'Nasa'; float: left;">Religion</h2>
        <span>Obwohl es keine offizielle Religion gibt, die von der UEE anerkannt wird, gibt es in der Menschheit immer noch einen Bedarf nach dem Göttlichen. Die vorherschenden Religionen der vergangenheit existieren auch im 30. Jahrhundert noch. So gibt es im ganzen Universum Anhänger des Christentums, Judentums, Islam, Hinduismus, Buddhismus und vieler anderer. Viele Religionen haben sich mit der Zeit jedoch angepasst, etwa durch die Einbeziehung fremder Arten in ihre Lehren. Der Jahrtausendelange Groll und die Intoleranz zwischen den Religionen hat sich abgekühlt, teilweise aufgrund der Distanz zwischen den Welten, aber auch, weil die Stellung gegenüber den Xi'An, Banu, Tevarin und Vanduul die Gemeinsamkeit zwischen den Menschengestärkt hat. Zudem sind eine Handvoll neür Religionen aufgetaucht. Die neusten Glaubenssysteme neigen jedoch dazu, eher humanistisch geprägt als offen religiös zu sein. Einer der beliebtesten neün überzeugungen ist zum Beispiel die "Kirche des Reisens": Sie feiert Erfahrungen, die man auf seinen Reisen macht, anders gesagt: Das Leben ist das, was auf dem Weg passiert. Ihre Missionare werden Journeymen genannt und sie verbringen ihre Zeit damit, zu reisen, um Wissen durch Erfahrung zu erlangen.</span>
    </div>
    <br>
    <br>
    <div id="Medizin">
        <h2 style="font-family: 'Nasa'; float: left;">Medizin</h2>
        <span>Die Medizin hat im 30. Jahrundert einen unglaublichen stand erreicht. Die Menschen haben eine Lebenserwartung von ca. 130 Jahren und eine vielzahl von früher unheilbaren Krankheiten konnten besiegt werden. Selbst verletzungen die früher unweigerlich den Tod zur folge gehabt hätten können nun behandelt werden. Organde und Giedmasse können Wieder hergestellt werden, oder durch künstliche ersetzt werden. Selbst dem Tot kann heute in begrenztem masse umgangen werden. Dabei wird das Bewustsein von verstorbenen Personen in einen Klonkörper übertragen. Diese Prozedur ist jedoch nur wenige male wegen des DNA zerfalls möglich, und auserdem eine auserordentlich Teüre prozedur.</span>

        <br>
        <br>
    </div>
    <div id="Kybernetik">
        <h3 style="font-family: 'Nasa'; float: left;">Kybernetik</h3>

        <br>
        <br>

        <span>Kybernetik spielt im Alltag des 30. Jahrhunderts eine grosse Rolle und die Technologie ist in die Menschliche Anatomie integriert. Wie die meisten Dinge im Leben, gibt es hier preiswertere und teurere Modelle. Wenn man einen Ersatzarm will, der gut funktioniert und lebensecht aussieht, muss man dafür mehr bezahlen.</span>

        <br>
        <br>
    </div>
    <div id="Simulanzen">
        <h3 style="font-family: 'Nasa'; float: left;">Simulanzen</h3>

        <br>
        <br>

        <span>"Glücklicherweise" für die Menschheit gibt es im 30. Jahrhundert noch Alkohol und andere Stimulanzien. Es gibt Fässer mit Whiskey, die langsam in Croshaw reifen, Souvignon Blanc-Trauben, die in Davien-System wachsen, und Bier, das auf Terra gärt. Auch auf der narkotischen Seite gibt es ebenfalls legale und illegale Drogen, als da wären:</span>

        <br>
        <br>
    </div>
    <div id="Stims">
        <h3 style="font-family: 'Nasa'; float: left;">Stims-</h3> <span> Legale Droge, bestehen aus Tabak, Koffein und Stimmungsaufhellern. Wird geraucht wie eine Zigarette. Billigere, gefälschte Marken werden als Einzelpackungen verkauft, während High-End-versionen elektronische Zylinder mitaustauschbaren Kartuschen haben.</span>

        <br>
        <br>
    </div>
    <div id="Slam">
        <h3 style="font-family: 'Nasa'; float: left;">Slam-</h3> <span> Ein Angsthemmer und Schmerzmittel. Am häufigsten als Gas eingenommen. Die Ampullen von Slam werden geknackt und inhaliert. Zürst gewann die Droge Popularität als Steroid für Athleten, bevor sie auf den Schwarzmarkt kam. Schwer abhängige Slam-Junkies sind in der öffentlichkeit leicht zu erkennen: Sie haben "das Zittern", leiden also unter unwillkürlichen Muskelzuckungen. Wichtig zu beachten ist, dass dies kein Zeichen für den Entzug ist, sondern lediglich eine Nebenwirkung.</span>

        <br>
        <br>
    </div>
    <div id="WiDoW">
        <h3 style="font-family: 'Nasa'; float: left;">WiDoW-</h3> <span> Dickes tintenähnliches, schwarzes Opiat. Wird ausschliesslich als Flüssigkeit injiziert. Bei umfanglicher Anwendung werden die Venen schwarz gefärbt und es etstehen webartige subkutane Muster qür durch den gesamten Körper. </span>

        <br>
        <br>
    </div>
    <div id="Neon">
        <h3 style="font-family: 'Nasa'; float: left;">Neon-</h3> <span> Clubdroge. ähnlich wie Ecstasy. Leichte halluzinogene wirkung. Wirkt auf das Nervensystem beruhigend.</span>

        <br>
        <br>
    </div>
    <div id="Maze">
        <h3 style="font-family: 'Nasa'; float: left;">Maze-</h3> <span> Strassenname für ein Knock-out-Halluzinogen, das vermutlich von den Xi'An stammt. Muss oral eingenommen werden. Es is tödlich in hohen Konzentrationen. Viele, die es sich in die Venen injizieren, sterben sofort daran. Der Körper muss sich daran gewöhnen und es verdaün. Wirkt wie eine Reise durch den eigenen Kopf. Nach aussen hin wirkt man wie im Koma? im innern ist es eine Wilde Reise. Eine Handvoll Religionen wurden nach der Einnahme von Maze gegründet. Abgesehen von dem giftigen Element besteht die Gefahr, dass man nicht mehr davon runterkommt. Unter Junkies heisst das "getrennt werden". Die benutzer bleiben in ihrem eigenen Kopf eingeschlossen, bis ihr Gehirn schliesslich zerfällt.</span>

        <br>
        <br>
        <br>
    </div>
    <div id="Technologie Im Alltag">
        <h2 style="font-family: 'Nasa'; float: left;">Technologie Im Alltag</h2>
        <span>überall im Verse finden sich Konsolen - von den Schirmen auf der Kommandozentrale eines Bengal- Trägers bis zu den kleinen Monitoren im Cockpit des eigenen Schiffes. Alle haben Standard6 Touchscreen- Schnittstellen mit virtüllen Tastaturen.</span>

        <br>

        <span>Wandschirme sin genau das, wonach es klingt: eine dünne, Flexible Folie, die sich an jede Wandgrösse anpassen lässt und als Kombination aus Fernesehen und Computer-displays fungiert. Die meisten Wand schirme sind gleichzeitig Touchscreens und High-End- Modelle erkennen Handbefehle. </span>

        <br>

        <span>Auch Holografische Projekttionen sind überall im verse allgegenwertig. Egal ob Werbetafeln oder Informations-displays. </span>

        <br>
        <div id="Mobiglas">
            <h3 style="font-family: 'Nasa'; float: left;">Mobiglas</h3>
            <span>Das mobiGlas ist ein mobiles Multi-Computing-Gerät der Firma microTech, das erstmals 2818 veröffentlicht wurde. Es verfügt über starke Hardware- und Softwarefunktionen, die den Zugriff auf Spectrum, das Anzeigen von Vids, das Organisieren von Informationen, das Herunterladen und Speichern von Daten, persönliche Kommunikation und eine Vielzahl anderer Funktionen erleichtern. Das Gerät ist unter Menschen allgegenwärtig genug, dass das UEE seine Volkszählung über mobiGlas durchführt. Wettbewerber haben ihre eigenen Versionen der Technologie unter verschiedenen Namen veröffentlicht; Das Wort "mobiGlas" ist jedoch als generischer Begriff in das Standardlexikon eingetragen.</span>

            <br>
            <br>
        </div>
        <div id="Roboter">
            <h3 style="font-family: 'Nasa'; float: left;">Roboter</h3>
            <span>Es gibt Drohnen, die helfen, Schiffe zu reparieren, Kehrbots sprühen die Strassen der Städte und sammeln den Müll. Es gibt jedoch keine lebensechten Roboter. Roboter sind Werkzeuge, keine Ersatz-Menschen. Computer können Billionen Entscheidungen pro Sekunde treffen. Trotzdem ist die Menschen nicht in der Lage, emotionale Prozesse des Gehirns zu replizieren.</span>

            <br>
            <br>
            <br>
        </div>
        <div id="Spectrum">
            <h2 style="font-family: 'Nasa'; float: left;">Spectrum</h2>
            <span>Das Spectrum ist ein interstellarer Mediendienstleister, der alle Aspekte der menschlichen Zivilisation verbindet und über ein Netzwerk von Kommunikations-Arrays rund um das United Empire of Earth weithin zugänglich ist. Es ermöglicht sowohl die direkte Kommunikation zwischen Individuen als auch die Übertragung aller Arten von Material, einschließlich, aber nicht beschränkt auf Newsorgs, Sport, Vids und traditionelle lineare Programmierung.Es gibt Filme und Shows namens Vids, die praktisch alle auf Abruf frei zugänglich sind. Bücher? Malerei und Musik sind ausschliesslich digital. Es gibt Prominente und NewsOrgs bringen lokale Abendnachrichten und produzieren Online-Zeitungen. Dies sind die aktüllen grossen NewsOrgs. </span></span>

            <br>
            <br>
        </div>
    </div>
    <div id="New United">
        <h3 style="font-family: 'Nasa'; float: left;">New United</h3>
        <span>New United ist seit Jahrhunderten eine altherwürdige Nachrichtenorganisation. Ursprünglich United Times genannt, war es eines der letzten überreste der Zeitungskonzerne des 20./21. Jahrhunderts. Während der Messer-ära wurde das Papier nach einer Fusion mit der Sentinel Tribune im Jahr 2578 zum inoffiziellen Propagandadienst der faschistischen UEE-Regierung. Als die Messer-ära unterging, startete die NewsOrg 2792 als New United neu, um sich von den Sünden der Vergangenheit zu distanzieren und verpflichtete sich, sich nie wieder politischen Druck zu beugen.</span>

        <br>
        <br>
    </div>
    <div id="Terra Gazette">
        <h3 style="font-family: 'Nasa'; float: left;">Terra Gazette</h3>
        <span>Die terrabasierte NewsOrg versuchte zwar zunäst, ihre Unabhängigkeit während der Messer-ära zu bewahren, wurde aber infiltriert und von dere herschenden Meinung abweichende Reporter wurden geächtet, als die NewOrg in die Propagandamaschiene integriert wurde. Heute wird die Terra Gazette in erster Linie als eine bevor mundende Nachrichtenqülle angesehen. </span>

        <br>
        <br>
    </div>
    <div id="SSN/CAtv">
        <h3 style="font-family: 'Nasa'; float: left;">SSN/CAtv</h3>
        <span>Vorwiegend Vid-bassierte NewsOrg. Betreibt Filialkanäle in fast jedem System. Vollgepackt mit Debattenshows wie "Showdown" und reinen Nachtrichensendungen.</span>

        <br>
        <br>
        <br>
    </div>
    <div id="Kriminalität">
        <h2 style="font-family: 'Nasa'; float: left;">Kriminalität</h2>
        <span>Die Zeiten sind hart. Sowohl Bürger als auch Zivilisten leben in stürmichen Zeiten. Es mangelt nich an Gründen, warum Menschen sich einem kriminelen Leben zuwenden. Es gibt Drogenhandel,Diebstähle, Morde und Korruption in jeder Ecke des bekannten Universums.</span>

        <br>
        <br>
    </div>
    <div id="Piraterie">
        <h3 style="font-family: 'Nasa'; float: left;">Piraterie</h3>
        <span>Piraterie ist eine wachsende Epedeie in der UEE. Piraten können allein oder in Gruppen arbeiten. Was Kriminalität betrifft, so sind Piraten die einfallsreichsten. Jedes Rudel arbeitet nach einem locker festgelegten Regelwerk, aber es gibt wenig Kameradschaft zwischen den Piraten, da sie sich so oft auch gegenseitig bestehlen, wie sie von Zivilisten stehlen oder ohne einen Moment zu zögern ihre Konkurenten verraten. Einige arbeiten mit einem Codex der einen oder anderen Art, aber die meisten interessieren sich für nichts, als sich selbst.</span>

        <br>
        <br>
    </div>
    <div id="Section Title">
        <h3 style="font-family: 'Nasa'; float: left;">Schmuggel</h3>
        <span>Der Transport Illegaler Fracht ist für viele Spediteure zu einer guten Möglichkeit geworden, nebenbei ein paar Credits zu verdienen. Von gestohlenen Waren über illegale Drogen bis hin zu Waffen und Sklaven wird alles geschmuggelt. Manchmal wissen nicht einmal die Schmuggler selbst, was sie transportieren - es steht eben nur eine weitere Kiste zwischen ihrer regulären Ladung.Professionelle Schmuggler nutzen hingegen oft alle Arten von technologischen Täuschungen, um ihre Ladung vor den Augen von Zoll-, örtlichen-Strafverfolgungsbehörden oder vor der Advocacy zu verstecken. Sie verfügen über Gegenscan- Technologien, gefälschte Schiffsetiketten, Dummy-Kisten oder sogar verdeckte Laderäume auf ihren Schiffen.</span>

        <br>
        <br>
    </div>
    <div id="Sklavenhandel">
        <h3 style="font-family: 'Nasa'; float: left;">Sklavenhandel</h3>
        <span>Selbst unter Kriminellen werden Sklavenhändler als Abschaum angesehen. Dennoch existiert Sklaverei immer noch in manchen Ecken der UEE. Einige skrupellose Corps arbeiten mit Sklavenhändlern zusammen, um so Mitarbeiter für entfernte Bergbaugebiete zu "rekrutieren". Sklaven werden auch gehandelt, um in Gladiator-Arenen zu kämpfen oder für Wissenschaftliche Experimente. Sklaven können aus jeder Kultur stammen: Mensch, Banu, Tevarin, oder Xi'An. Einige Sklavenhändler sind sich nicht zu schade, Ausserirdische von Planeten zu entführen, die unter dem Schutz des "Fair Chance Acts" stehen. Entführungen geschehen sowohl in den grossen Städten als auch in abgelegenen Siedlungen. Sklavenhändler arbeiten mit verschiedenen Methoden. Einige werfen Sklaven in einen Käfig wie jede andere lebende Ladung, während andere ihre Produkte betäuben und in scangeschützten Särgen transportieren. Manchmal werden ihnen kleine Tracking-Sender implantiert, damit ihr Besitzer sie leicht lokalisieren kann, aber auch um anzuzeigen, dass sie versklavt sind.</span>

        <br>
        <br>
    </div>
    <div id="Syndikate">
        <h3 style="font-family: 'Nasa'; float: left;">Syndikate</h3>
        <span>Wer sagt, dass Verbrechen sich nicht bezahlt macht, hat darüber noch nie in grösseren Massstab nachgedacht. Verbrechen kann lukrativ sein, wenn man die Ressourcen hat, um seine Spuren zu verwischen. Syndikate sind gruppen von Personen, die als eine Einheit für ausschliesslich kriminelle Zwecke miteinander verbunden sind. Es gibt wahrscheinlich hunderte Syndikate verschiedener Grösse in der gesammten UEE. Die grösseren Syndikate erbringen eine Vielzahl illegaler "Dienstleistungen" wie Drogen- und Sklavenhandel sowie Schmuggel, während andere eher spezialisiert sind und etwa als Killerkommandos unterwegs sind. Einige Syndikate wollen, dass ihr Name Gewicht hat, während andere es vorziehen, sich dem öffentlichen Bewusstsein zu etziehen.</span>

        <br>
        <br>
        <br>
    </div>
    <div id="Feiertage">
        <h2 style="font-family: 'Nasa'">Feiertage im 30. Jahrhundert</h2>

        <br>

        <div id="Der Tag der Reise">
            <h2 style="font-family: 'Nasa'">Der Tag der Reise <span style="font-size:50%;">1. Januar</span> </h2>
            <span>Der Tag der Reise ist ein jährlicher Feiertag, den die Kirche der Reise am 1. Januar feiert. Es entstand im Croshaw- System im Jahr 2905, als sich eine kleine Versammlung von Gesellen, die zusammen aufgewachsen waren, versammelte, um ihre Erfahrungen im vergangenen Jahr auszutauschen. Sie wiederholten ihre Handlungen im folgenden Jahr, und das nächste, wo immer sie waren, so verbreitete die Praxis, bis es zur Tradition wurde. Zu den Aktivitäten zum Reisetag gehören Geschichtenerzählen, ein Potluck-Fest, Spiele und ein 20 km langer Spaziergang, der als Pilgerfahrt bekannt ist und um Mitternacht Ortszeit beginnt. Am Ende des Spaziergangs werden Geschichten bis zum Sonnenaufgang getauscht. Das größte Tag der Reise-Treffen im UEE findet in New Arden auf Cestulus (Davien II) statt und zieht jährlich Tausende von Besuchern an.</span>

            <br>
            <br>
        </div>
        <div id="Das Rote Festival">
            <h2 style="font-family: 'Nasa'">Das Rote Festival <span style="font-size:50%;">Ende Januar/Anfang Februar</span> </h2>
            <span>Das Rote Festival ist ein Feiertag, der Ende Januar oder Anfang Februar jährlich im Vereinigten Reich der Erde (UEE) gefeiert wird. Es entstand aus alten Bräuchen der Erde (Sol III), die das Ende des Jahres feierte, indem sie den lunisolaren Zyklus anstelle des Sonnenzyklus verfolgte. Menschen, die den Mondkalender verfolgten, nahmen ihre Praxis während der Ära der menschlichen Kolonialexpansion (2380-2530) mit und zementieren das Rote Fest als Tradition bereits am Gründungsdatum einer Kolonie. Heute wird das Festival mit Farben gefeiert, die Glück wie Rot und Gold symbolisieren, lange Lebensmittel wie gefärbte rote Nudeln oder Calossk Tentakel essen und den Austausch von vergoldeten roten Umschlägen mit Glücksmarken oder Credits. Anstatt den Umschlag vor kurzem direkt an einen Empfänger zu übergeben, verstecken die Geber die Umschläge für bedürftige Menschen, die vom Schicksal entdeckt werden. Banu schließt sich oft den Feierlichkeiten an und versteckt rote Umschläge zu Ehren von Cassa, dem Glückspatron.</span>

            <br>
            <br>
        </div>
        <div id="Tag von Coramor">
            <h2 style="font-family: 'Nasa'">Tag von Coramor <span style="font-size:50%;">Ende Januar/Anfang Februar</span> </h2>
            <span>Coramor ist ein Feiertag, der jährlich am 11. Februar im UEE gefeiert wird. Es geht auf das Jahr 2486 zurück, als Juri Iljin verschwand, als er versuchte, sich mit seinem Geliebten Corazon Tan wiederzuvereinen, der hinter dem kürzlich zusammengebrochenen Sprungpunkt zum Oretani-System gefangen war. Während seiner Suche schickte Yuri emotionale tägliche Komms an Coras Eltern, die sie auf seiner Suche aktualisierten, von denen die letzte unverständlich war, außer "... alles für Cora... amor..." Yuri wurde nie wieder gesehen, nachdem er diese letzte Nachricht gesendet hatte.</span>

            <br>
            <br>

            <span>Die Geschichte von Yuri und Cora wurde in einem Vid aus dem späten 25. Jahrhundert mit dem Titel Coramor populär gemacht, einem Portmanteau, das von Juris letztem Komm abgeleitet wurde. Inspiriert von der tragischen Geschichte der Liebe, begannen die Menschen am 11. Februar, dem Datum seines Verschwindens, romantische Botschaften auszutauschen. Heute umfassen Coramor Traditionen den Austausch von Geschenken und Komms zwischen Liebhabern, Reisen zu romantischen Zielen, und das Senden von Komms in den Weltraum in der Hoffnung, neue Liebe zu gewinnen. Einige Zelebranten werden den Tag nutzen, um Komm-Nachrichten an verlorene Lieben zu senden. Die Farben Rosa und Schwarz, die gleiche wie die Lackierung von Yuris Schiff in Coramor, sind mit dem Feiertag verbunden</span>

            <br>
            <br>
        </div>
        <div id="Stella Fortuna">
            <h2 style="font-family: 'Nasa'">Stella Fortuna <span style="font-size:50%;">15 März</span> </h2>
            <span>Stella Fortuna ist ein menschliches Kulturfest, verbunden mit Glück und Erfolg in neuen Unternehmungen. Es wurde als Erinnerung an die erfolgreiche Kolonisierung des Mars (Sol IV) gegründet. Feiern, Feuerwerk, Feste und andere Formen der Massenfeier sind Markenzeichen des Feiertags, zusammen mit den Farben Gold und Grün. Es wird jedes Jahr am 15. März im UEE gefeiert. Mitte des 22. Jahrhunderts errichteten die Vereinten Nationen der Erde (UNE) die erste erfolgreiche außer planetarische Kolonie der Menschheit auf dem Mars. Dies war der zweite Versuch der Kolonisierung; die erste menschliche Kolonie auf dem Mars scheiterte spät im Terraforming-Prozess, als ein Fehler in den Atmosphärenprozessoren zu einem plötzlichen Massenzusammenbruch der Atmosphäre führte. 4.876 Menschen starben.</span>

            <br>
            <br>

            <span>Der zweite Versuch einer Kolonie galt weitgehend als zum Scheitern verurteilt. In einem weit verbreiteten Artikel über die potenziellen Gefahren, denen ein Mars-Immigrant ausgesetzt sein könnte, schrieb Kelsey Forset von Sentinel NewsOrg einfach: "Verlocke das Schicksal nicht." Diese Botschaft wurde schließlich kooptiert: "Tempt Fate" mit "Don't" wurde zu einem inoffiziellen Slogan der frühen Marskolonisten.</span>

            <br>
            <br>

            <Span>Im Jahr 2200 kündigte die UNE Pläne für einen interplanetaren Feiertag an, um 45 erfolgreiche Jahre der menschlichen Behausung auf dem Mars zu feiern. Es würde während der folgenden Erd-Mars-Konjunktion (18. März 2202) stattfinden, um die Verbindung zwischen den Planeten zu betonen. Marsschüler wurden eingeladen, mögliche Namen für den neuen Urlaub einzureichen. "Stella Fortuna" wurde aus einem Beitrag von Estelle Priya, 11 Jahre alt, der Port Renatus Public School 17 ausgewählt. Große öffentliche Karnevale, die von Raumfahrt- und Terraforming-Unternehmen gesponsert wurden, fanden auf Mars und Erde statt.</Span>

            <br>
            <br>

            <span>Sie zeigten Fahrten, Essen, Spiele und Tickets zum halben Preis für Attraktionen im gesamten Sol-System, von Raumstationen am Asteroidengürtel bis zu den Vulkanen von Io. Neue Grundstücke auf dem Mars wurden an die Festivalbesucher verlost, zusammen mit einem Schiff, das mit einer Quantenmaschine von Roberts Space Industries ausgestattet war. Lokale Unternehmen verkauften Souvenirs mit dem Slogan "Wir versuchten Schicksal: Stella Fortuna 2202." Der Tag endete mit einem grün-goldenen Feuerwerk.</span>

            <br>
            <br>

            <span>Stella Fortuna wurde zu unterschiedlichen Zeiten des Jahres während der Erd-Mars-Konjunktionen für mehr als ein halbes Jahrhundert gehalten. Im Jahr 2257 erklärte die UNE den 15. März zum offiziellen Feiertag. Während der 18. März ursprünglich vorgeschlagen wurde, wurde es nicht ausgewählt, weil es einen Konflikt mit einem anderen Feiertag hatte - dem Jahrestag des ersten Menschen, der auf einem anderen Planeten als der Erde geboren wurde. Stella Fortuna hat sich von einem Feiertag zum Gedenken an die frühe Marskolonie zu einem Land entwickelt, der Glück, Kühnheit, verlockendes Schicksal feiert und sich auf neue Geschäftsaktivitäten einlässt.</span>

            <br>
            <br>

            <span>Dies wurde durch eine Reihe von Faktoren verursacht, aber der Erfolg der Marskolonie in Verbindung mit dem langfristigen Erfolg der frühen Siedler waren zwei Haupteinflüsse. Insbesondere die Familien, die während der ersten Stella Fortuna Land gewannen, taten viel, um die Idee zu fördern, dass der Urlaub mit viel Glück verbunden war. Als das letzte Datum des Feiertags ausgewählt wurde, baten die Menschen, sich auf interplanetare Reisen vorzubereiten, bereits die Sterne um ihren Segen. In den späten 2200er Jahren wurde es zur Tradition, dass Entdecker die Sterne toasten, bevor sie sich auf die Suche nach Sprungpunkten begeben, oder für Leute, die neue Geschäftsprojekte starten, um sie am 15. März zu starten. </span>

            <br>
            <br>

            <span>Die größten Feierlichkeiten finden noch auf dem Mars statt. Die meisten Geschäfte schließen für den Urlaub und übermorgen. Offiziell beginnt das Festival mit einer Parade mit aufwendig dekorierten Wagen in Form von Raumschiffen oder Sternen. In bunten, aufhellenden Kostümen gekleidete Zelebranten werfen Süßigkeiten, verlosen Tickets oder andere kleine Preise von den Wagen in die Menge. Karneval mit Fahrgeschäften und Spielen, die den ganzen Tag und die Nacht laufen. Berauschte Massen werden spontan in traditionelle Lieder wie "Aim for the Stars but Strike from Mars" und "Illuminate the Way" platzen. Heiratsanträge sind so üblich wie neue Unternehmen; das grüne und goldene Feuerwerk, das das Festival beendet, ist eine beliebte Zeit, um den Deal auf geschäftliche und romantische Partnerschaften gleichermaßen zu besiegeln.</span>

            <br>
            <br>
        </div>
        <div id="Tag der Emanzipation">
            <h2 style="font-family: 'Nasa'">Tag der Emanzipation <span style="font-size:50%;">2. Mai</span> </h2>
            <span>Der Tag der Emanzipation ist ein Feiertag, der jährlich am 2. Mai im UEE gefeiert wird und an das Ende der Messer-Ära (2546-2792) erinnert. An diesem Tag wurde Linton Messer XI, das letzte Mitglied der Messer-Familie, das die UEE als Imperator regierte, nach dem Massaker von Garron II. abgesetzt. Als die Nachricht vom Sturz Messers 2792 die Bevölkerung erreichte, gab es spontane Feierlichkeiten auf den Straßen der UEE. Die Feierlichkeiten fanden jedes Jahr statt, und es wurde schließlich als offizieller Feiertag im Jahr 2795 unter Imperator Erin Toi gegründet. Besonders beliebt ist der Emanzipationstag auf der Erde (Sol III) und Terra (Terra III).</span>

            <br>
            <br>
        </div>
        <div id="Waffenstillstands Tag">
            <h2 style="font-family: 'Nasa'">Waffenstillstands Tag <span style="font-size:50%;">29. Mai</span> </h2>
            <span>Der Tag des Waffenstillstands ist ein Feiertag, der jährlich am 29. Mai im UEE gefeiert wird. Er wurde 2792 eingeführt, um das Ende des Kalten Krieges (2530-2792) mit den Xi'an- und als Herold des Endes der Messer-Ära (2546-2792) anzuerkennen. Viele menschliche Unternehmen schließen während des Waffenstillstandstages. Besonders beliebt ist der Feiertag auf Terra (Terra III), der Heimat von Senator Terrence Akari, der mit dem jungen Xi'an-Kaiser Kr.ē den Friedensvertrag schloss.</span>

            <br>
            <br>
        </div>
        <div id="Invictus Launch Week">
            <h2 style="font-family: 'Nasa'">Invictus Launch Week <span style="font-size:50%;">24. bis 31. Mai</span> </h2>
            <span>Die Invictus Launch Week oder auch Fleet Week ist eine Veranstaltung, die in der letzten Maiwoche stattfindet und den Beginn des neuen Rekrutierungsjahres und den Abschluss der neuesten Klasse von Offizieren und Piloten des United Empire of EarthNavy (UEEN) markiert. Es entstand im Jahr 2542 während des Ersten Tevarin- Krieges (2541-2546), als das United Planets of Earth (UPE)Tribunal, das angesichts der Tevarin- Invasion neue Soldaten brauchte, Transporte vom Sternsystem zum Sternensystem schickte, um Freiwillige abzuholen und sie zum UPE Naval Base Invictus on Mars (Sol IV) zu transportieren. Es wurde als jährliche Veranstaltung unter ImperatorIvar Messer I im Jahr 2581 gegründet. Auch heute noch gibt es die Invictus-Basis, die von der UEE Navy unter dem gleichen Namen geführt wird.</span>

            <br>
            <br>
        </div>
        <div id="Tag der Vara">
            <h2 style="font-family: 'Nasa'">Tag der Vara <span style="font-size:50%;">27. Oktober</span> </h2>
            <span>Der Tag der Vara ist ein Feiertag, der jährlich am 27. Oktober im UEE gefeiert wird. Der Feiertag beinhaltet öffentliche Feste mit Dekorationen in Schwarz und Grün und private Versammlungen einberufen, um der Toten zu gedenken und zu ehren. Zelebranten verkleiden sich als Menschen, die verstorben sind, oder in anderen Kostümen und tauschen gruselige Geschichten aus, vor allem in Bezug auf mysteriöse Vorfälle im Weltraum. Es wird von den Menschen als ein Tag gesehen, der der Freude des Lebens und dem Makabren das gleiche Gewicht verleiht.</span>

            <br>
            <br>

            <span>Der Feiertag entstand um den 27. Oktober 2557 nach dem Verschwinden der Vara, einem Explorationsschiff, das den zweiten Planeten im damals entdeckten Hades-System umkreist. Die Kommunikation von der Vara zum Rhetor-System wurde am frühen Morgen eingestellt, nachdem Kapitän Tisiphone Heptane ihr erste Eindrücke von den zerstörten fremden Städten geschickt hatte. Die Systeme an Bord stellten die Übermittlung von Schiffsstatusmeldungen wenige Stunden später ein. Obwohl am nächsten Tag Such- und Rettungsteams entsandt wurden, waren die Vara und ihre Besatzung nirgendwo zu finden. Es wurden keine Wrackteile oder Überreste gefunden.</span>

            <br>
            <br>

            <span>In den Jahren nach diesem Verschwinden verbreiteten sich unter Densern und Reisenden Gerüchte, dass im Hades-System etwas Bösartiges lauerte. Die Menschen begannen, es am Jahrestag des Verschwindens der Vara nicht durchzufliegen, weil das Schiff und ihre Besatzung an diesem Tag angeblich von den Toten zurückkehrten und das System heimsuchen. Die Geschichten darüber, was mit denen passieren würde, die dem Schiff begegneten, aber alle berührten die Ängste im Zusammenhang mit der Raumfahrt: Manchmal würde die untote Besatzung heimlich an Bord von vorbeifahrenden Schiffen gehen, um lebenswichtige Systeme zu sabotieren; andere Geschichten ließen sie die Lebenden verfolgen, bis sie verrückt wurden und ihr eigenes Schiff entlüfteten; in einigen würde Schnitzeljagd über ein verlassenes Raumschiff passieren, nur damit die gefrorenen Körper an Bord im schlimmsten Moment lebendig werden. Horrorgeschichten wie diese bleiben ein wichtiger Teil des Tages der Vara.</span>

            <br>
            <br>

            <span>Eine der leichteren Geschichten, die populär wurden, war ein Protagonist, der sich als Vara- Crew-Mitglied verkleidete, was andere dazu inspirierte, sich als Der Verstorbene zu kleiden, um sich vor Pech in der Raumfahrt zu schützen. Mitglieder von Terras Gegenkultur griffen den Aberglauben auf und warfen den ersten offiziellen Tag der Vara- Veranstaltung am 27. Oktober 2593. Viele Teilnehmer verkleidet als Imperator Ivar Messer I, der im Jahr 2592 gestorben war, angeblich, um das Böse abzuwehren. Lieder, die Messers Untergang feierten, die in dieser Nacht unter den Krähen kursierten, deuteten auf etwas anderes hin.</span>

            <br>
            <br>

            <span>Diakon Messer II und die UEE-Regierung versponnen die Aufnahmen als Unterstützung für die Regierung und ermutigten zu mehr Tag der Vara- Feierlichkeiten im Jahr 2594 und beschrieben es als eine Möglichkeit, "liebevoll an die Verlorenen zu erinnern". Die Kampagne war erfolgreich; heute wird der Feiertag in erster Linie als ein Tag gesehen, um sich zu verkleiden und diejenigen zu ehren, die vergangen sind. Es wurde offiziell als Jahresfeiertag im Jahr 2595 gegründet.</span>

            <br>
            <br>

            <span>Neben dem Tragen von Kostümen, dem Gedenken an tote Lieben und dem Austausch von Gruselgeschichten üben die Schaulustigen Traditionen, die von verschiedenen anderen Festen angepasst wurden, die die Toten feiern, wie das Essen und Trinken wie Spirituosenkuchen und Eiswein, das Anzünden von Kerzen und das Bleiben bis zum ersten Morgenlicht. Wer auf Raumstationen feiert, verlässt sich auf den künstlichen Tag-Nacht-Zyklus, um das Ende des Festes zu signalisieren. Viele Langzeit-Abstandshalter halten es für Pech, den Urlaub zu überspringen, damit sie nicht ungünstige Aufmerksamkeit von den Toten erregen.</span>

            <br>
            <br>

            <span>Holos von toten Lieben werden oft herausgebracht und mit grünen und schwarzen Bändern geschmückt, eine Anspielung auf die Farben der Uniformen der Vara-Crew. Ein Schlepper auf einem Job könnte ein Holo einer toten Berühmtheit einrichten und die Farben für den Mangel an besseren Optionen anpassen. Wer auf Langstrecken oder auf Entdecker-schiffen unterwegs ist, vermeidet noch Ende Oktober die Reise zum Hades-System.</span>

            <br>
            <br>
        </div>
        <div id="Luminalia">
            <h2 style="font-family: 'Nasa'">Luminalia <span style="font-size:50%;">22. Dezember</span> </h2>
            <span>Luminalia ist ein Feiertag, der jährlich am 22. Dezember von Banu und Menschen gefeiert wird. Es entstand als das unregelmäßig abgehaltene Banu Festival tsikti efanga (Leucht- Fest), gekennzeichnet durch die Beleuchtung von zeremoniellen Lampen, die beleuchtet bleiben, bis ihr Brennstoff verbraucht ist (ca. 34.000 Schläge / 2 Standard Erd Tage). Während die Lampen brennen, gelten alle Banu, egal wo sie sind, als ein Souli. Sie laden Freunde, Geschäftspartner und Passanten in ihre Soulis ein und geben ihnen Geschenke, damit sie immer etwas zu verkaufen haben. Von allen Teilnehmern wird erwartet, dass sie im Gegenzug Speisen, Getränke und/oder Gefälligkeiten für Partys zur Verfügung stellen, und wenn diese gerade nicht am mann sind, hat der Gastgeber diese Artikel oft zum Verkauf zur Verfügung.</span>

            <br>
            <br>

            <span>Die Menschen im Davien-System begannen, an dem Festival mit Banu kurz nach dem Abschluss des Interstellaren Friedens und Handels abkommen zwischen den Banu und den Menschen im Jahr 2438 teilzunehmen, als eine Schiffsreparatur Souli auf Cestulus (Davien II) ihre Lampen anzündete und die Menschen einlud, mit ihnen zu kommen und mit ihnen zu feiern. Es verbreitete sich von System zu System, als Menschen in kommerziellen Werkstätten oder Handelsschiffen das Festival nutzten, um den Umsatz anzukurbeln. Private Veranstaltungen für Familie, Freunde und Großfamilien, die von diesen gewinnbringenden festen inspiriert wurden, wurden so verbreitet, dass das UEE Luminalia offiziell als Feiertag im Jahr 2557 anerkannte.</span>

            <br>
            <br>

            <span>Die Banu begannen, ihre Lampen zur gleichen Zeit wie Menschen als Symbol der Freundschaft und eine Möglichkeit, eine Zunahme des Geschäfts zu genießen. Als der Feiertag an Popularität gewann, modifizierten menschliche Händler das traditionelle Geschenk-Sharing, indem sie leere Geschenkverpackungen versteckten, die im Austausch für eine Überraschung wie ein paar Credits oder ein kleines Spielzeug ungeöffnet zurückgegeben werden konnten. Der erhöhte Fußverkehr in ihre Läden steigerte den Urlaubsumsatz und wurde zur Tradition. Heute gedenken Banu und Menschen Luminalia mit Geschenkbörsen, Geschenkjagden, leuchtenden Lichtern, Zusammenkünften von Familie, Freunden, Geschäftspartnern und Bekannten, Essen und Trinken, zeitlich begrenzten Rabatten und Dekorationen in Grün und Rot.</span>

        </div>
    </div>
    <div class="img-gameplays-line">
        <hr class="animation-element extend">
    </div>
</div>