@model ExkursHomeAPI
@addTagHelper *, Westwind.AspNetCore.Markdown

@{
    ViewData["BackC"] = "Home";
    ViewData["BackA"] = "Index";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<markdown markdown="text" />

<br />
<br />

<div class="quellenimg">
    <a id="ark-logo" target="_blank" href="https://robertsspaceindustries.com/starmap">
    </a>

    <a id="galactapedia-logo" target="_blank" href="https://robertsspaceindustries.com/galactapedia">
    </a>

    <a id="comm-links-logo" target="_blank" href="https://robertsspaceindustries.com/comm-link">
    </a>

    <a id="roadmap-logo" target="_blank" href="https://robertsspaceindustries.com/roadmap/release-view">
    </a>
</div>
<div class="img-gameplays-line">
    <hr class="animation-element extend">
</div>


<script>
    jQuery(document).ready(function ($) {
        if ($.cookie("ariscorp-exkurs-disclaimer-modal")) {
            $("#popupMaintenanceModal").remove();
        } else {
            $("#popupMaintenanceModal").modal("show");
        }

        $("#popupMaintenanceCheckbox").click(function () {
            if ($(this).is(":checked")) {
                $("#popupMaintenanceModal").modal("hide");
                $.cookie("ariscorp-exkurs-disclaimer-modal", true);
            } else {
                $.cookie("ariscorp-exkurs-disclaimer-modal", false);
            }
        })
    });

    $(document).ready(function (e) {
        $('#ark-logo').load('https://cms.ariscorp.de/assets/8ec4f460-e40b-40a6-93b9-3a8d593082c7');
    });
    $(document).ready(function (e) {
        $('#galactapedia-logo').load('https://cms.ariscorp.de/assets/4bb422c5-5d87-4396-95cd-94f5be5f2df8');
    });
    $(document).ready(function (e) {
        $('#comm-links-logo').load('https://cms.ariscorp.de/assets/9265477c-fe53-4b69-8a61-1c78fbf2d270');
    });
    $(document).ready(function (e) {
        $('#roadmap-logo').load('https://cms.ariscorp.de/assets/7269144e-9975-4d5b-8403-757bf268b920');
    });
</script>

<style>
    /* texte dans le content du popup */
    .popupSTMaintenance {
        font-size: 0.875rem; /* 14px */
        font-weight: 500;
    }

    /* Customiser la checkbox */
    .checkbox-maintenance:before {
        background-color: #111111;
        border: 0.1rem solid;
        border-radius: 0.15rem !important;
        border-color: #00FFE8 !important;
    }

    .custom-checkbox .custom-control-input:checked ~ .checkbox-maintenance::before {
        background-color: #00FFE8;
        border-color: #00FFE8 !important;
    }

    /* Taille du texte 'j'ai compris, ne plus afficher ..." */
    .checkbox-maintenance {
        font-size: 0.75rem; /*12px*/
    }

    /* bouton "fermer" */
    .btn-maintenance {
        font-size: 0.75rem; /*12px*/
        font-weight: 500;
        color: #00FFE8;
        background-color: #111111;
        border: 0.1rem solid;
        border-color: #00FFE8;
    }
        /* Quand hover */
        .btn-maintenance:hover, .btn-maintenance:focus, .btn-maintenance.focus {
            color: #111111;
            background-color: #00FFE8;
            border-color: #00FFE8;
            box-shadow: none;
        }

    svg.aris-hover-glow {
        /*width: 400px;*/
    }

        svg.aris-hover-glow:hover > path {
            fill: white;
            filter: url(#aris-glow);
        }
</style>