<div class="col small-margin">
    <hr class="animation-element extend">
    <h2 class="tab-manifesto">Die ARISCORP unterhält auch Partnerschaften mit anderen Star Citizen Organisationen. Für nähere Informationen gern auf die jeweiligen Logos klicken.</h2>
    <br>
    <br>
    <a target="_blank" href="https://robertsspaceindustries.com/orgs/501TH" class="captionlink">
        <figure class="captionitem">
            <img src="/assets/img/misc/501st.webp" width="15%" height="auto" />
            <figcaption class="captiontext">501th UEE Marine Corp</figcaption>
        </figure>
    </a>
</div>