<div id="bewerben" style="margin-bottom: 6em;">
    <a href="recruitment"></a><!-- Nav Anchor -->
    <div class="row heading">
        <div class="col-md-auto">
            <h1 class="animation-element slide-down">WIR SUCHEN <span class="coloredaris">NEUE MITGLIEDER</span></h1>
        </div>
        <div class="col">
            <hr class="animation-element extend">
        </div>
    </div>
    <div>
        <div class="col-md-11">
            <h2 class="short-hr-left">REKRUTIERUNG:</h2>
            <p>Falls du nun Interesse hast dich bei uns zu bewerben, dann kannst du das ganz einfach über unseren Discord machen.</p><br>
        </div>
        <div class="col">
            <div class="job-card">
                <h3 class="colored">Mitglied werden</h3>
                <p>Es gibt ein paar Mindestanforderungen die du aber bestimmt erfüllen wirst.</p>
                <button type="button" class="button" data-bs-toggle="modal" data-bs-target="#recmodal" style="background-color: #E48632;">Jetzt bewerben</button>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="recmodal" tabindex="-1" role="dialog" aria-labelledby="recruitment" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title colored" id="Recruitment">Bewerbung:</h2>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h3>Bewerben:</h3>
                            <p>Du solltest die Anforderungen erfüllen und eine Aussagekräftige Bewerbung schreiben.</p>
                            <ul class="skill-list">
                            </ul>
                            <br>
                            <h3>ANFORDERUNGEN:</h3>
                            <ul>
                                <li><p>Du solltest mindestens 21 Jahre alt sein.</p></li>
                                <li><p>Du solltest natürlich Spaß am spielen und an gemeinschaftlichen Aktionen haben.</p></li>
                                <li><p>Außerdem wollen wir uns friedlich verhalten. Also solltest du natürlich auch Spaß am friedlichen spielen haben, und dein Interesse sollte darin bestehen die Situation ruhig zu klären und nicht direkt den Abzug zu betätigen.</p></li>
                                <li><p>Discord ist unsere Hauptplatform also solltest du auch auf unseren Discord kommen und nicht scheu sein einfach mal ein bisschen zu quatschen.</p></li>
                            </ul>
                            <br>
                            <h3>Wie du dich bewirbst:</h3>
                            <p>Aktuell kannst du dich über unseren Discord bewerben, es gibt einen extra Textkanal für Bewerbungen. Unser Recruitmentteam wird sich schnellstmöglich darum kümmern!</a></p>
</div>

<div class="modal-footer">
                            <button type="button" class="button secondary" data-bs-dismiss="modal">Schließen</button>
                            <a href="https://discord.gg/3y2Jm33qeZ" target="_blank" class="button-img"><img src="/assets/img/misc/discord.webp"></a>
                            <a href="https://robertsspaceindustries.com/orgs/ARISCORP" target="_blank" class="button-img"><img src="/assets/img/misc/rsi.webp"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .collapse:not(.show) {
                            display: none;
                            }
</style>
