@{
    var student = ViewData["Me"]
            as ArisCorpWeb.Models.Biografien;
}
<h1><span class="coloredwhite"></span>UNSERE:</h1>

<div class="tab">
    <button class="tablinks" id="defaultOpen" onclick="openCity(event, 'member')"><h1 style="float: left">MITGLIEDER</h1></button>
    <button class="tablinks" onclick="openCity(event, 'fleet')"><h1 class="animation-element slide-down">FLOTTE</h1></button>
    <button class="tablinks" onclick="openCity(event, 'gameplays')"><h1 class="animation-element slide-down">AUFGABENFELDER</h1></button>
</div>
<hr class="animation-element extend">

<div id="member" class="tabcontent">
    @Html.Partial("~/Views/Home/Shared/_Members.cshtml")
</div>

<div id="fleet" class="tabcontent">
    <p>
        <div id="fleetyards-view"></div>
        <script>
            var fleetyards_config = function () {
                return {
                    details: true, // Set to false if you want to display a minimal version of the Ship Panel
                    grouped: true, // Set to false if you want to display the same Ships multiple times in your Fleetview.
                    fleetchart: false, // Set to true if you want to display a Fleetchart instead of the normal Ship Panels.
                    fleetchartGrouped: false, // Set to true if you want to group the Ships on the Fleetchart View or not.
                    fleetchartScale: 30, // Initial Scale of the Fleetchart
                    groupedButton: true, // Allow the User to toggle Groupped Views
                    fleetchartSlider: true, // Set to true to display a slider which allows users to scale the Fleetchart
                    ships: ['315p'], // Replace the Array with a List of Shipnames (slugs) you want to display,
                    users: [''], // Replace the Array with a list of Fleetyards.net usernames, alternative to the ships option.
                }
            };
            (function () {
                var d = document, s = d.createElement('script');
                s.src = 'https://fleetyards.net/embed.js#' + new Date().getTime();
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Bitte aktiviere JavaScript damit du die Flottenansicht by "FleetYards.net" sehen kannst.</noscript>
    </p>
</div>
<div id="gameplays" class="tabcontent">
    <div id="accordionGameplays">
        @Html.Partial("~/Views/Home/Shared/_Gameplays.cshtml")
    </div>
</div>
    <style>
        .modal-footer-gameplays {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 1rem;
        }
    </style>
