@model HomeAPI
@addTagHelper *, Westwind.AspNetCore.Markdown

<!-- /// ABOUT SECTION /// -->
<div id="aboutsection" style="margin-top: 6em;" class="row heading">
    <div class="col-md-auto">
        <h1 class="animation-element slide-down">ÜBER</h1>
    </div>
    <div class="col">
        <hr class="animation-element extend">
    </div>
</div>
<div class="large-margin">
    <a href="about"></a><!-- Nav Anchor -->

    <div class="tab_wrapper tabsection">

        <ul class="tab_list">
            <li class="active"><h1>DIE ARISCORP</h1></li>
            <li><h1>HISTORY</h1></li>
            <li><h1>MANIFEST</h1></li>
            <li><h1>CHARTER</h1></li>
        </ul>
        <hr />
        <div class="content_wrapper">
            <div class="tab_content active">
                <div title="">
                    <markdown markdown="about_ariscorp.about_ariscorp" />
                </div>
            </div>

            <div class="tab_content">
                <div title="">
                    <markdown markdown="ariscorp_history.ariscorp_history" />
                </div>
            </div>

            <div class="tab_content">
                <div title="">
                    <markdown markdown="ariscorp_manifest.manifest" />
                </div>
            </div>

            <div class="tab_content">
                <div title="">
                    <markdown markdown="ariscorp_charta.charta" />
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    #tabsContainer {
        margin: auto;
    }
    img {
        max-width: 100%
    }
</style>
<script>
</script>
