@model HomeAPI 
<div class="row heading tiny-margin">
    <div class="col-md-auto">
        <h1 class="animation-element slide-down">UNSERE</h1>
    </div>
    <div class="col">
        <hr class="animation-element extend">
    </div>
</div>
<!--  <link rel="stylesheet" href="//cms.ariscorp.de/assets/0cf82310-a10c-4d03-8f55-9d20b303973f">-->
<style>
    body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 15px;
}
.wrapper > h1 {
  text-align: center;
}
.wrapper > h1 span {
  border-bottom: 2px solid #49a4d9;
  display: inline-block;
  padding: 0 10px 10px;
  color: #49a4d9;
  transition: all 0.5s linear;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tab_wrapper {
  display: inline-block;
  width: 100%;
  position: relative;
}
.tab_wrapper * {
  box-sizing: border-box;
}
.tab_wrapper > ul {
  clear: both;
  display: inline-block;
  width: 100%;
}
.tab_wrapper > ul li {
  float: left;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
  margin: 0;
    padding-left: 1.2em;
    padding-right: 1.2em;
    font-size: 14px;
    opacity: 0.5;
    transition: 0.5s;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
}
ul > li h1 {
    font-size: 246%;
}
.tab_wrapper > ul li.active {
  color: #00FFE8;
  opacity: 1;
  cursor: default;
}
.tab_wrapper > ul li.active:after {
  content: "";
  position: absolute;
  bottom: -1px;
  height: 1px;
  left: 0;
  width: 100%;
}
.tab_wrapper .controller {
  display: block;
  overflow: hidden;
  clear: both;
  position: absolute;
  top: 0;
  right: 0;
}
.tab_wrapper .controller span {
  padding: 8px 22px;
  background: #49a4d9;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
}
.tab_wrapper .controller span.next {
  float: right;
  margin-left: 10px;
}
.tab_wrapper .content_wrapper {
  float: left;
  width: 100%;
  box-sizing: border-box;
}
.tab_wrapper .content_wrapper .tab_content {
  display: none;
  padding: 1rem;
  vertical-align: top;
  overflow: auto;
  text-align: center;
  border: 1px solid transparent;
}
.tab_wrapper .content_wrapper .tab_content.active {
  /* display: block; */
}
.tab_wrapper .content_wrapper .tab_content .error {
  color: red;
}
.tab_wrapper .content_wrapper .accordian_header {
  display: none;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #fff;
  position: relative;
  cursor: pointer;
}
.tab_wrapper .content_wrapper .accordian_header.active {
  color: #49a4d9;
  border-bottom: 1px solid #ccc;
}
.tab_wrapper .content_wrapper .accordian_header.active:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 5px;
  height: 100%;
  background: #49a4d9;
}
.tab_wrapper .content_wrapper .accordian_header .arrow {
  float: right;
  display: inline-block;
  width: 12px;
  height: 12px;
  position: relative;
  border-radius: 2px;
  transform: rotate(-135deg);
  background: #fff;
  border-top: 3px solid #ccc;
  border-left: 3px solid #ccc;
                /* &:after{
					position: absolute;
					top: 0;
					content: "";
					left: 0;
					width: 10px;
					height: 10px;
					background: $white;
					border-top: 3px solid $border_color;
					border-left: 3px solid $border_color;
				} */
}
.tab_wrapper .content_wrapper .accordian_header.active .arrow {
  transform: rotate(45deg);
  margin-top: 5px;
  border-top: 3px solid #49a4d9;
  border-left: 3px solid #49a4d9;
}
.tab_wrapper.left_side > ul {
  width: 25%;
  float: left;
  border-bottom: 1px solid #ccc;
}
.tab_wrapper.left_side > ul li {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 12px 18px;
  border-width: 1px;
  border-right: 0;
  border-left: 0;
}
.tab_wrapper.left_side > ul li:after {
  left: 0;
  top: 0;
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background: #ccc;
}
.tab_wrapper.left_side > ul li.active {
  border-color: #ccc;
}
.tab_wrapper.left_side > ul li.active:after {
  left: 0;
  top: 0;
  width: 5px;
  height: 100%;
  background: #49a4d9;
}
.tab_wrapper.left_side > ul li.active:before {
  right: -1px;
  position: absolute;
  top: 0;
  content: "";
  width: 2px;
  height: 100%;
  background: #fff;
}
.tab_wrapper.left_side .content_wrapper {
  width: 75%;
  border: 1px solid #ccc;
  float: left;
}
.tab_wrapper.left_side .controller {
  top: -50px;
}
.tab_wrapper.right_side > ul {
  width: 25%;
  float: right;
  border-bottom: 1px solid #ccc;
}
.tab_wrapper.right_side > ul li {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 12px 18px;
  border-width: 1px;
  border-right: 0;
  border-left: 0;
  text-align: right;
}
.tab_wrapper.right_side > ul li:after {
  right: 0;
  left: inherit;
  top: 0;
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background: #ccc;
}
.tab_wrapper.right_side > ul li.active {
  border-color: #ccc;
}
.tab_wrapper.right_side > ul li.active:after {
  right: 0;
  left: inherit;
  top: 0;
  width: 5px;
  height: 100%;
  content: "";
  background: #49a4d9;
}
.tab_wrapper.right_side > ul li.active:before {
  left: -2px;
  right: inherit;
  position: absolute;
  top: 0;
  content: "";
  width: 2px;
  height: 100%;
  background: #fff;
}
.tab_wrapper.right_side .content_wrapper {
  width: 75%;
  float: left;
  border: 1px solid #ccc;
}
.tab_wrapper.right_side .controller {
  top: -50px;
}
.tab_wrapper.accordion .content_wrapper {
  border-color: #ccc;
}
.tab_wrapper.accordion .content_wrapper .accordian_header {
  display: block;
}
.tab_wrapper.accordion > ul {
  display: none;
}
.tab_wrapper .active_tab {
  display: none;
  position: relative;
  background: #000000;
  padding: 12px;
  text-align: center;
  padding-right: 50px;
  color: #fff;
  cursor: pointer;
  border-radius: 30px;
}
.tab_wrapper .active_tab .arrow {
  width: 30px;
  height: 30px;
  overflow: hidden;
  line-height: 30px;
  text-align: center;
  background: #fff;
  position: absolute;
  right: 6px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.tab_wrapper .active_tab .arrow:after {
  content: "";
  width: 10px;
  display: inline-block;
  height: 10px;
  border-right: 3px solid #000;
  border-bottom: 3px solid #000;
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -6px;
  margin-top: -8px;
}
.tab_wrapper .active_tab .text {
  text-indent: 39px;
  display: block;
}

@@media only screen and (max-width: 768px) {
  .tab_wrapper > ul {
    display: none;
  }
  .tab_wrapper .content_wrapper {
    border: 0;
  }
  .tab_wrapper .content_wrapper .accordian_header {
    display: block;
  }
  .tab_wrapper.left_side .content_wrapper, .tab_wrapper.right_side .content_wrapper {
    width: 100%;
    border-top: 0;
  }
  .tab_wrapper .controller {
    display: none;
  }
  .tab_wrapper.show-as-dropdown > .tab_list {
    border: 0;
    box-shadow: 0 0 8px #ccc;
    position: absolute;
    z-index: 3;
    background: #fff;
    border-radius: 5px;
    margin-top: 15px;
  }
  .tab_wrapper.show-as-dropdown > .tab_list:before {
    content: "";
    position: absolute;
    top: -6px;
    left: 50%;
    width: 14px;
    height: 14px;
    background: #fff;
    transform: rotate(45deg);
    box-shadow: -3px -4px 5px #efefef;
    margin-left: -7px;
  }
  .tab_wrapper.show-as-dropdown > .tab_list li {
    border: 0;
    border-bottom: 1px solid #ccc;
  }
  .tab_wrapper.show-as-dropdown > .tab_list li.active:after {
    display: none;
  }
  .tab_wrapper.show-as-dropdown .active_tab {
    display: block;
  }
  .tab_wrapper.show-as-dropdown > .tab_list {
    display: none;
  }
  .tab_wrapper.show-as-dropdown > .content_wrapper > .accordian_header {
    display: none;
  }
  .tab_wrapper.show-as-dropdown > .tab_list li {
    display: block;
    float: none;
    width: 100%;
  }
}
@@media only screen and (min-width: 769px) {
  .tab_wrapper.show-as-dropdown > .tab_list {
    display: block !important;
    overflow: hidden;
  }
}

/*# sourceMappingURL=style.css.map */
</style>
<script src="//cms.ariscorp.de/assets/09fd1595-1a14-43c3-b496-ac507127c8cb"></script>
<div class="tab_wrapper tabsection large-margin">

    <ul class="tab_list">
        <li class="active"><h1>MITGLIEDER</h1></li>
        <li><h1>FLOTTE</h1></li>
        <li><h1>AUFGABENFELDER</h1></li>
    </ul>
    <hr />
    <div class="content_wrapper">
        <div class="tab_content active">
            <div title="">
                @Html.Partial("~/Views/Home/Shared/_Members.cshtml")
            </div>
        </div>

        <div class="tab_content">
            <p title="">
                <div id="fleetyards-view"></div>
                <script>
                    var fleetyards_config = function () {
                        return {
                            details: true, // Set to false if you want to display a minimal version of the Ship Panel
                            grouped: true, // Set to false if you want to display the same Ships multiple times in your Fleetview.
                            fleetchart: false, // Set to true if you want to display a Fleetchart instead of the normal Ship Panels.
                            fleetchartGrouped: false, // Set to true if you want to group the Ships on the Fleetchart View or not.
                            fleetchartScale: 30, // Initial Scale of the Fleetchart
                            groupedButton: true, // Allow the User to toggle Groupped Views
                            fleetchartSlider: true, // Set to true to display a slider which allows users to scale the Fleetchart
                            ships: ['315p', '890-jump', 'aurora-mr', 'avenger-titan', 'c2-hercules', 'c2-hercules', 'c8-pisces', 'c8x-pisces-expedition', 'c8x-pisces-expedition', 'carrack', 'caterpillar', 'corsair', 'crucible', 'crucible', 'cutlass-black', 'cyclone-rn', 'dragonfly-black', 'f7c-hornet', 'f8c', 'khartu-al', 'kraken', 'mercury-star-runner', 'mercury-star-runner', 'mole', 'nomad', 'nova', 'nova', 'nova', 'p72-archimedes', 'perseus', 'prospector', 'prospector', 'prospector', 'prospector', 'ptv', 'ptv', 'ptv', 'ranger-cv', 'reclaimer', 'roc', 'roc', 'terrapin', 'ursa-rover', 'vanguard-harbinger', 'vulture'], // Replace the Array with a List of Shipnames (slugs) you want to display,
                            users: [''], // Replace the Array with a list of Fleetyards.net usernames, alternative to the ships option.
                        }
                    };
                    (function () {
                        var d = document, s = d.createElement('script');
                        s.src = 'https://fleetyards.net/embed.js#' + new Date().getTime();
                        (d.head || d.body).appendChild(s);
                    })();
                </script>
                <noscript>Bitte aktiviere JavaScript damit du die Flottenansicht by "FleetYards.net" sehen kannst.</noscript>
            </p>

            <style>
                #fleetyards-view .panel {
                    position: relative;
                    min-height: 40px;
                    background-color: #151515;
                    border: 3px solid #00ffe8;
                    border-radius: 20px;
                    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
                }

                #fleetyards-view .panel-btn {
                    position: relative;
                    display: inline-block;
                    min-width: 50px;
                    margin-right: 10px;
                    margin-bottom: 20px;
                    padding: 2px;
                    background: #151515;
                    border: 2px solid #00ffe8;
                    border-radius: 10px;
                    cursor: pointer;
                    opacity: 1;
                    transition: all .5s ease;
                }

                #fleetyards-view {
                    margin-right: auto;
                    margin-left: auto;
                    padding-right: 15px;
                    padding-left: 15px;
                    color: #c8c8c8;
                    font-family: Nasa;
                }

                    #fleetyards-view .panel .panel-heading .panel-title {
                        margin-top: 0;
                        margin-bottom: 0;
                        padding-top: 5px;
                        padding-right: 30px;
                        overflow: hidden;
                        font-weight: 400;
                        font-size: 22px;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        font-family: Nasa;
                    }

                        #fleetyards-view .panel .panel-heading .panel-title small {
                            color: #959595;
                            font-size: 15px;
                            font-family: Nasa;
                        }
                #fleetchart {
                    overflow-x: hidden;
                    overflow-y: hidden;
                }
            </style>
        </div>

        <div class="tab_content">
            <div title="">
                @Html.Partial("~/Views/Home/Shared/_Gameplays.cshtml")
            </div>
        </div>
    </div>
</div>

<style>
    .modal-footer-gameplays {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 1rem;
    }

    #tabsContainer {
        margin: auto;
    }

    img {
        max-width: 100%
    }
</style>
<script>
    $(".tabsection").champ();
</script>
