@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500'); /* Raleway Font */
@import url('https://fonts.googleapis.com/css?family=Open+Sans'); /* Open Sans Font */
@font-face {
    font-family: 'Anurati';
    src: url('https://www.ariscorp.de/assets/fonts/Anurati-Regular.otf');
}
@font-face {
    font-family: 'Nasa';
    src: url('https://www.ariscorp.de/assets/fonts/nasalization-rg.ttf');
}



/* Alien-Fonts */

/* Banu */
@font-face {
    font-family: 'Banutest';
    src: url('https://www.ariscorp.de/assets/fonts/Banu-Regular.otf');
}

/* Xi'An */
@font-face {
font-family: "Xi-An";
src: url('https://www.ariscorp.de/assets/fonts/xiinthlea-Regular.otf');
}
