@model IEnumerable<GeschichteAPI>
@addTagHelper *, Westwind.AspNetCore.Markdown
@{
    ViewData["Title"] = "Geschichte";
    ViewData["BackAR"] = "VerseExkurs";
    ViewData["BackC"] = "Home";
    ViewData["BackA"] = "Index";
}
<link href="/assets/css/tima.css" rel="stylesheet" />
@foreach (var api in Model)
{
    <div id="EXCURS" class='large-margin'>
        <a href="EXCURS"></a><!-- Nav Anchor -->
        <div class="row heading tiny-margin">
            <div class="col-md-auto">
                <h1 class="animation-element slide-down">GESCHICHTE: <span class="coloredaris">@api.geschichte_titel.ToString().ToUpper()</span></h1>
            </div>
            <div class="col">
                <hr class="animation-element extend">
            </div>
        </div>
        <div class="row medium-margin tab-manifesto">
            <div class="col-md-11">
                <img src="//cms.ariscorp.de/assets/@Html.Raw(api.geschichte_auswahlbild)" alt="@api.geschichte_titel Banner" width="100%" />
                <h2 class="short-hr-left">Exkurs - Geschichte: @api.geschichte_titel</h2>

                <markdown markdown="@api.geschichte_beitrag" />
            </div>
        </div>
    </div>
}

<div class="img-gameplays-line">
    <hr class="animation-element extend">
</div>

<style>
    img {
        max-width: 100%;
    }
</style>
